@import  "base/var";
@import  "base/color";

button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, red) ;
    :hover{
        background-color: map-get($btn_color, brown) ;
    }
}
.container{
    max-width: 620px; 
    min-width: 420px;
    margin: 40px auto;
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, main);
    .progress{
        overflow: hidden;
        margin-bottom: -2px; /* hide bottom border */
        margin-left: 24px;
        a{
            float: left;
            cursor: pointer;
            padding: 12px 24px;
            transition: background-color 0.2s;
            border: 1px solid #ccc;
            border-right: none;
            background-color: map-get($color, deep_blue);
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            :last-child { 
            border-right: 1px solid #ccc;
            }
            :hover {
            background-color: #aaa;
            color: map-get($color, yellow);
            }
            .active {
            background-color: #fff;
            color: map-get($color, blue);
            border-bottom: 2px solid #fff;
            cursor: default;
            }
        }
    }
}
table{
    text-align: center;
    .left{
        text-align: left;
    }
}
.tabcontent {
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e1e1e1;
    td {
        padding: 0.3em 0.4em;
        color: map-get($color, plain_blue);
    }
}
.data { width: 120px; }