/*footer css 設定*/

/*手機板與電腦版共用部分*/
footer{
    margin-top: 60px;
}

/*footer 容器*/
.footer_elements{
    width: 100%;
    // box-sizing: border-box;
    .go_top{
        height: 100px;
        padding-top: 30px;
        box-sizing: border-box;
        width: 100%;
        background: url('../img/footer_bg_white.png') no-repeat center/100% 100%;

        .link_ro{
            display: block;
            margin: auto;
            height: 70px;
            width: 70px;
            padding: 18px;
            // color: map-get($btn_color, "main" );
            // border-color: map-get($btn_color, "main" );
            // background-color: map-get($btn_color, "main" );
            color: #fff;
            border-color: map-get($btn_color, "blue" );
            background-color: map-get($btn_color, "blue" );

            &:hover{
                padding: 10px;
                transition: .3s;
            }
        }

        @media screen and (max-width: 767px){
            .link_ro{
                transform: rotate(0deg);
            }
        }
        
        @media screen and (min-width: 769px){
            .link_ro:hover::before {
                content: none;
            }
        }

    }

    .footer_info{
        padding: 0 0 20px;
        width: 100%;
        background-color: map-get($color , "cover" );
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /*footer logo大小*/
        >div{
            box-sizing: border-box;
            width: calc(100vw - 40px);
            padding: 20px;
        }
        
        .logo_slogan{
            text-align: center;
            .logo{
                width: 90px;
                padding: 20px;
                margin: auto;
                img{
                    width: 100%;
                }
            }
            p{
                color: map-get($color , "sub_blue" );
            }
        }

        .reserve{
            .go_reserve{
                // background: linear-gradient(0deg,transparent 25%,map-get($color,"sub_blue" ) 25%,map-get($color,"sub_blue" ) 65%,transparent 65%);
                clip-path: polygon(50% 0%, 100% 26%, 100% 100%, 0 100%, 0 26%);
                // background: url('../img/SoEazy_house.png') no-repeat center/auto 100%;
                display: block;
                width: 100px;
                height: 100px;
                margin: auto;
                clip-path: polygon(50% 0%, 100% 26%, 100% 100%, 0 100%, 0 26%);
                background-color: map-get($color,"sub_brown");

                &:hover{
                    
                    p{
                        color: map-get($color,"sub_brown");
                        background-color: map-get($color,"cover");
                        transition: .3s;
                    }
                }

                p{
                    box-sizing: border-box;
                    display: block;
                    text-align: center;
                    padding-top: 50px;
                    font-size: 20px;
                    width: 100px;
                    height: 100px;
                    color: map-get($color,"cover" );
                    background-color: map-get($color,"sub_brown");
                    font-weight: 600;
                    
                    clip-path: polygon(50% 4%, 97% 28%, 97% 97%, 3% 97%, 3% 28%);
                    transition: .3s;
                }
            }
        }

        .footer_infos {
            // border-inline: 2px solid map-get($color , "main" );
            // border-block: 1px solid map-get($color , "main" );
            .footer_info_list{
                li{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    margin: 10px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid map-get($color , "main" );
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font-size: 24px;
                    padding: 0;
                }
                p{
                    padding: 0 20px;
                    font-size: 24px;
                    display: inline-block;
                }
                svg{
                    width: 30px;
                    // fill: map-get($color , "main" );
                }
            }
        }
    }
}

.copyright{
    background-color: map-get($color , "main" );
    color: map-get($color , "sub_blue" );
    text-align: center;
    font-size: 14px;
    padding: 3px 20px;
    p,a{
        font-size: 14px;
        color: map-get($color,'plain');
    }
    a{
        color: map-get($color,'sub_blue');
    }
}


/*電腦版部分*/

@media screen and (min-width:768px) {
    .footer_elements{
        width: 100%;
        .go_top{
            height: 100px;
            padding-top: 30px;
            box-sizing: border-box;
            width: 100%;
            // background-color: map-get($color,"plain");
            background: url('../img/footer_bg_white.png') no-repeat center/100% 100%;
            background-blend-mode: lighten;

            .link_ro{
                display: block;
                margin: auto;
                height: 70px;
                width: 70px;
                padding: 18px;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .footer_info{
            padding: 0 0 20px;
            width: 100%;
            flex-direction: row;
            /*footer logo大小*/
            >div{
                width: calc(100% / 3);
                max-width: 320px;
            }

            .logo_slogan{
                p{
                    color: map-get($color , "sub_blue" );
                }
            }

            // .reserve{
            //     .go_reserve{
            //         // background: linear-gradient(0deg,transparent 17%,map-get($color,"sub_blue" ) 17%,map-get($color,"sub_blue" ) 65%,transparent 65%);
            //         p{
            //             font-size: 24px;
            //         }
            //     }
            // }

            .footer_infos {
                .footer_info_list{
                    li{
                        margin: 0;
                    }
                    a{
                        font-size: 18px;
                    }
                    p{
                        font-size: 18px;
                    }
                    svg{
                        width: 20px;
                    }
                }
            }
        }
    }
    
}