/*header css 設定*/

//rwd變數
@mixin pad{
    @media(max-width:767px){
      @content;
    }
  }
  
  @mixin PC{
    @media(min-width:768px){
      @content;
    }
}

/*手機板與電腦版共用部分*/

/*header 容器*/
header{
    position: fixed;
    width: 100vw;
    z-index: 800;
    background-color: #ffffffaa;
    top: 0;
}

.header_elements{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    // background-color: #fff;
    border-radius: 0 0 25px 25px;
    z-index: 800;

    @include pad{
        padding: 10px 10px 0 10px;  
    }

    @include PC{
        padding: 10px 40px 0 40px;
    }

    /*header logo大小*/
    .logo{
        display: flex;
        align-items: center;
        z-index: 120;
        padding: 10px;
    }

    .logo_img{
        width: 40px;
        transition: 1s;

        &.none{
            width: 75px;
        }
    }

    .logo.on{
        .logo_img{
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(278deg) brightness(104%) contrast(102%);
            transform: scale(1.5);
            transform-origin: top left;

            &.none{
                transform: scale(1);
            }
            
        }

        .none{
            opacity: 0;
        }

        @include PC{
            .logo_img{
                transform: scale(3);
                transform-origin: top left;
                &.none{
                    transform: scale(1);
                }
            }
        }
    }

    /*header_function menu未打開時*/
    .header_function{
        /*header_function menu 三個btn*/
        display: flex;

        /*header icon大小*/
        svg{
            height: 25px;
            fill: map-get($color , "main" );
            transition: 1s;
        }

        /*header_function 按鈕、連結，z-index是為了menu打開時還能浮在上面、讓鈕垂直置中*/
        .user, .cart, .menu_btn{
            display: flex;
            align-items: center;
            position: relative;
            z-index: 120;
        }

        .user, .cart, .menu_btns{
            padding: 10px;
        }

        /*header_function menu 漢堡按鈕 每層*/
        .menu_btns{
            cursor: pointer;
        }

        .menu_btn{
            margin: 6px;
            background-color: map-get($color , "main" );
            display: block;
            height: 3px;
            width: 30px;
            text-align: right;
            border-radius: 10px;
            transition: .5s;
            box-sizing: border-box;
            transition: 1s;
        }

        .menu_link{
            padding-top: 80px;
            position: fixed;
            left: 100%;
            top: 0%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: map-get($color , "cover" );
            color: #fff;
            transition: 1s;
            background-image: url("../img/header_menu_bg_2.jpeg");
            background-size: cover;
            background-position: center;
            // 透明度 0.6 的黑色半透明遮罩
            background-color: rgba(0, 0, 0, .3);
            // 設置背景混和模式為相乘模式
            background-blend-mode: multiply;

            .menu_link_option{

                /*header_function menu 被點按，連結、選項有上往下，由右至左排列，因手機寬度，六個選項分為上下兩排*/
                @include pad{
                    display: block;
                }

                /*header_function menu 被點按，連結、選項有上往下，由右至左排列，電腦寬度足夠，六個選項分為一排*/
                @include PC{
                    display: flex;
                    flex-direction: row-reverse;
                }

                .menu_link_option_up,  .menu_link_option_down{
                    display: flex;
                    flex-direction: column-reverse;
                    writing-mode: vertical-lr;
                }

                li{
                    padding: 20px;

                    a{
                        font-size: 28px;
                        // height: 100%;
                        display: block;
                        color: #fff;
                        letter-spacing: .2em;
                        position: relative;
                        display: inline-block;

                        &::after{
                            content: "";
                            width: 2px;
                            height: 0%;
                            top: 0;
                            left: -4px;
                            opacity: .5;
                            background-color: #fff;
                            position: absolute;
                            transition: .5s;
                        }

                        &:hover::after{
                            content: "";
                            width: 2px;
                            height: 100%;
                            top: 0;
                            left: -4px;
                            opacity: .5;
                            background-color: #fff;
                            position: absolute;
                        }
                    }

                    .index_link::before, .service_link::before, .mall_link::before, .activity_link::before, .about_link::before, .game_link::before{
                        font-size: 6px;
                        text-transform: uppercase;
                        position: absolute;
                        letter-spacing: .1em;
                        right: -55%;
                        font-family: sans-serif;

                        @include pad{
                            font-size: 12px; 
                        }

                    }

                    .index_link::before{
                        content: "index";
                    }
                    .service_link::before{
                        content: "service";
                    }

                    .mall_link::before{
                        content: "mall";
                    }

                    .activity_link::before{
                        content: "activity";
                    }

                    .about_link::before{
                        content: "about";
                    }

                    .game_link::before{
                        content: "game";
                    }
                }
            }

            /*header_function menu 被點按，slogan 和 社群媒體相關資訊*/
            .menu_slogan_info{
                position: absolute;
                left: 5%;
                width: 20vw;
                top: 50%;

                /*header_function menu 被點按，手機版社群媒體相關資訊置底 分布*/
                @include pad{
                    position: absolute;
                    width: 100vw;
                    left: 0;
                    top: 75%;
                    height: 5vh;

                    .menu_info_list{
                        display: flex;
                        justify-content: space-around;
                    }
                }

                svg{
                    fill: #fff;
                    width: 18px;
                }

                .menu_slogan, .fb a, .ig a, .phone{
                    display: flex;
                    padding-top: 10px;
                    justify-content: flex-start;

                    p{
                        padding-left: 5px;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: #fff;
                        font-size: 700;
                    }
                }

                .menu_slogan{
                    font-size: 16px;

                    @include pad{
                        display: none;
                    }
                }
            }
        }


    }

    /*header icon，menu打開時*/
    .header_function.on{
        
        /*header icon、漢堡按鈕，menu打開時呈現白色*/
        svg, .menu_btn{
            fill: #fff;
            transition: 1s;
        }
        /*header icon，menu 漢堡按鈕 每層 menu打開時變x*/

        .menu_btns{
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 120;

            .menu_btn{
                transition: 1s;
            }
            .menu_btn.top{
                background-color: #fff;
                transform: translate(-7px, 10px) rotate(45deg);
            }

            .menu_btn.bottom{
                background-color: #fff;
                transform: translate(-8px, -7px) rotate(-45deg);
            }

            .menu_btn.mid{
                transform: translateX(500%);
            }
        }
        
        /*header_function menu 被點按，連結、選項有上往下，由右至左排列*/
        .menu_link.on{
            left: 0%;
        }
    }
    
}

// loading畫面
#loading_box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 900;
    // background: url('../SoEazy.png') no-repeat 49.5% 52%/160px;
    background-color: map-get($color , "cover" );
    background-blend-mode: difference;
    #loading_svg {
        width: 100vw;
        height: 100vh;
        animation: svgOut .5s 3.2s;
        animation-fill-mode: forwards;
        polyline,
        line{
            stroke: map-get($color , "main" );
            stroke-width: 2px;
            fill: none;
        }
        line{
            &:nth-of-type(1){
                transform-origin:-50px -37px;
            }
            &:nth-of-type(2){
                transform-origin:50px -37px;
            }
        }
        rect{
            &:nth-of-type(1){
                fill: map-get($color , "sub_red" );
            }
            &:nth-of-type(2){
                fill: map-get($color , "bg_pink" );
            }
        }
        
        polyline{
            &:nth-of-type(2){
                // opacity: .5;
                fill: map-get($color , "sub_brown" );
                stroke: none;
            }
            &:nth-of-type(3){
                // opacity: .5;
                fill: map-get($color , "sub_blue" );
                stroke:none
            }
        }
    }
    .pic{
        position: absolute;
        background-color: map-get($color , "cover" );
        z-index: 999;
        width: 21vw;
        overflow: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-52% ,-43.2%);
        opacity: 0;
        animation: picIn .5s 3s;
        animation-fill-mode: forwards;
        img{
            width: 100%;
        }
    }
}
@keyframes svgOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes picIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}