/*header css 設定*/

/*手機板與電腦版共用部分*/
header{
    display: flex;
    justify-content: center;
}


/*header 容器*/
.header_elements{
    max-width: 1200px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/*header logo大小*/
.header_elements .logo{
    z-index: 6;
}
.header_elements .logo_img{
    width: 40px;
}
/*header icon大小*/
.header_elements .header_function svg{
    height: 30px;
    fill: map-get($color , "main" );
}
/*header icon，menu打開時呈現白色*/
.header_elements .header_function.on svg{
    fill: #fff;
}


/*header_function 容器*/
.header_elements .header_function{
    display: flex;
}
/*header_function 按鈕、連結，z-index是為了menu打開時還能浮在上面*/
.header_elements .header_function .user, .cart, .menu_btns{
    padding: 10px;
    z-index: 6;
}

/*header_function menu 漢堡按鈕*/
.header_elements .menu_btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}
/*header_function menu 漢堡按鈕 每層*/
.header_elements .menu_btn{
    margin: 3px;
    background-color: map-get($color , "main" );
    display: block;
    height: 2px;
    width: 30px;
    text-align: right;
    border-radius: 10px;
    z-index: 6;
}
/*header_function menu 漢堡按鈕 每層 menu打開時呈現白色*/
.header_elements .header_function.on .menu_btn{
    background-color: #fff;
}

/*header_function menu 未被點按*/
.header_elements .menu_link{
    padding-top: 80px;
    position: fixed;
    right: 100%;
    top: 0%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: map-get($color , "cover" );
    z-index: 5;
    color: #fff;
}
/*header_function menu 被點按，連結、選項有上往下，由右至左排列*/
.header_elements .menu_link.on{
    right: 0%;
    background-image: url("https://picsum.photos/768/700/?random=10");
    background-size: cover;
    // 透明度 0.6 的黑色半透明遮罩
    background-color: rgba(0, 0, 0, .3);
    // 設置背景混和模式為相乘模式
    background-blend-mode: multiply;
}
.header_elements .menu_link_option_up,  .menu_link_option_down{
    display: flex;
    flex-direction: column-reverse;
    // justify-content: space-between;
    writing-mode: vertical-lr;
}
.header_elements .menu_link_option li{
    padding: 20px 40px;
}
.header_elements .menu_link_option li a{
    font-size: 28px;
    height: 100%;
    display: block;
    color: #fff;
}

/*header_function menu 被點按，slogan 和 社群媒體相關資訊*/
.header_elements .menu_slogan_info{
    position: absolute;
    left: 5%;
    width: 20vw;
    top: 60%;
}
.header_elements .menu_slogan_info .slogan, .fb a, .ig a, .phone{
    display: flex;
    padding-top: 10px;
    justify-content: flex-start;
}
.header_elements .menu_slogan_info .slogan{
    font-size: 16px;
}
.header_elements .menu_slogan_info .fb p, .header_elements .menu_slogan_info .ig p, .header_elements .menu_slogan_info .phone p{
    padding-left: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    font-size: 700;
}
.header_elements .menu_slogan_info svg{
    fill: #fff;
    width: 18px;
}

/*手機板部分*/
@media screen and (max-width:768px) {
    /*header 容器*/
    .header_elements{
        padding: 20px 5px;
    }

    /*header_function menu 被點按，連結、選項有上往下，由右至左排列，因手機寬度，六個選項分為上下兩排*/
    .header_elements .menu_link_option{
        display: block;
    }

    /*header_function menu 被點按，slogan 和 社群媒體相關資訊*/
    .header_elements .menu_slogan_info{
        position: absolute;
        width: 100vw;
        left: 0;
        top: 80%;
        height: 5vh;
    }
    .header_elements .menu_slogan_info .slogan{
        display: none;
    }
    .header_elements .menu_info_list{
        display: flex;
        justify-content: space-around;
    }
}

/*電腦版部分*/
@media screen and (min-width:769px) {
    /*header 容器*/
    .header_elements{
        padding: 20px 40px;
    }

    /*header_function menu 被點按，連結、選項有上往下，由右至左排列，電腦寬度足夠，六個選項分為一排*/
    .header_elements .menu_link_option{
        display: flex;
        flex-direction: row-reverse;
    }
}