<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google Text 連結 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- 網頁標題左側顯示logo -->
	<link rel="icon" href="img/soeasylogo.ico" type="image/x-icon">
	<!-- 收藏夾顯示圖示 -->
	<link rel="shortcut icon" href="img/soeasylogo.ico" type="image/x-icon">
	<!-- .css連結 -->
	<link rel="stylesheet" href="css/style.css">
	<!-- .js連結-->
	<script src="js/jquery.min.js"></script>
  	<script src="js/jquery-ui.js"></script>
  	<!-- <script src="js/vue.min.js"></script> -->
  	<script src="js/vue.js"></script>
	<script src="js/header.js"></script>
	<!-- font awsome icon 連結 -->
	<script src="https://kit.fontawesome.com/120f989b39.js" crossorigin="anonymous"></script>
	<!-- 綠超人 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>