<!-- loading畫面 -->
<script src="js/loading.js"></script>
<div id='loading_box'>
    <svg id="loading_svg" viewbox="-300,-1000,600,2000" preserveAspectRatio="xMidYMid slice">
        <polyline points="-50,-38 -50,30 50,30 50,-38"/>
        <line x1="-89" y1="3" x2="-50" y2="-37">
            <animateTransform attributeName="transform"
                type="rotate"
                values="0;200"
                dur="1s" begin="1.5s" fill="freeze"
                repeatCount="1"/>
        </line>
        <line x1="89" y1="3" x2="50" y2="-37">
            <animateTransform attributeName="transform"
                type="rotate"
                values="0;-200"
                dur="1s" begin="1.5s" fill="freeze"
                repeatCount="1"/>
        </line>
        <rect x="-25" y="-10" width="20" height="20" id="left_bottom_box"/>
        <rect x="-25" y="-27" width="17" height="17" id="left_up_box"/>
        <polyline points="26,-27  3, 10 26,10" id="right_bottom_box"/>
        <polyline points=" 3,-27 26,-27  3,10" id="right_up_box"/>
    </svg>
    <div class="pic"><img src="img/SoEazy.png" alt=""></div>
</div>