@import  "../base/var";
@import "../base/color";

// 整理師介紹---------------
.b-tab {
    // padding: 20px;
    // border: 1px solid #000;
    // display: none;
  }
  
.b-tab.active {
    display: block;
}
  
.b-nav-tab {
    display: inline-block;
    // padding: 20px;
}
// 貓頭鷹--------------------
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}


section{
    margin: 0px auto;
}
.about_belief{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;


    // about遮色片-----------
    .big_img{
        margin: 20px 0px 20px 0px;
        position: relative;
        overflow: hidden;
        width: 45%;
        img{
        width: 250%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        }
        h2{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            font-size: 150px;
            text-align: center;
            font-weight:1000;
            // line-height:100vh;
            /* 字全大寫 */
            text-transform:uppercase;
            background-color: #fff;
            mix-blend-mode: screen;
            writing-mode:vertical-lr;
        }
    }
    .txt_box{
        // background-color: aqua;
    //     margin: 20px 30px;
    //     margin-top: 100px;
    //     display: block;
    //     width: 100vw;
    //     position: relative;
        
        .txt{
            line-height: 2;
            height: 550px;
            .txt_bg{
                position: relative;
                background-color:#d7dbe4;
                max-width: 700px;
                box-sizing: border-box;
                padding: 10px 10px 60px 20px;
                &::after{
                    content: '';
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: map-get($color, "main");
                    position: absolute;
                    left: -27px;
                    top: 236px;
                    mix-blend-mode: color-dodge;
                }
                &::before{
                    content: '';
                    width: 350px;
                    height: 350px;
                    border-radius: 50%;
                    background-color: map-get($color, "main");
                    position: absolute;
                    left: 517px;
                    top: -93px;
                    mix-blend-mode: color-dodge;

                }
                h3{
                    margin-bottom: 10px;
                    // color: #fff;
                }
                p{
                    // color: #fff;
                }
            }
            
        }
        
    }
}

.bg_deep{
    background-color: #ac8969;
}
 
// about的特殊待遇footer
footer{
    margin-top: -62px;
}



// 手機-------------------------------
@media  screen and (max-width:768px),
screen and (max-width:992px)
{   .about_belief{
        .big_img{
            
            h2{
                line-height: 1em;
                font-size: 120px;
            }
        }
    }
    
    // 輪播圖-------
    .small_img{
        width: 100%;
        overflow: hidden;
        position: relative;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: width 1s linear;
            // 無限循環輪播
            animation: run 20s infinite linear;
            &:hover{
                animation-play-state: paused;
            }
            li{
                position: relative;
                height: auto;
                margin: 0 20px;
                perspective: 50px;
                img{
                    height:170px ;
                    width: 200px;
                    object-fit: cover;
                    object-position: center;
                    transition: .5s;
                }
                // 無限循環輪播被hover到時放大
                & img:hover{
                    transform: translateZ(5px);
                    transition: .5s;
                }
            }
        }
    }
    // 無限循環輪播手機版
    @keyframes run {        
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX( calc(-260px * 6 + 2px) );
        }
    }

    .large{
        display: none;
    }
    .txt_box{
        margin: 20px 30px;
        // margin-top: 100px;
        display: block;
        width: 100vw;
        position: relative;
        
        
        .small_img{
            position:absolute;
            right: 0;
            bottom: 0;
            display: flex;
            // cursor: e-resize; 
            img{
                cursor: pointer; 
                // margin-right: 10px;
                // margin-top: 500px;
            }
        }
    }


    // 關於我們-----
    .about_team{
        box-sizing: border-box;
        padding: 40px 0px 60px 0px;
        height: 670px;
        // display: flex;
        background-color: map-get($color, "cover");
        position: relative;
        overflow: hidden;
        
        .circle_big_img{
            width: 60%;
            .btn_mem{
                min-width: 300px;
                position:absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, 0%);
                .rwd_mem_1{
                    width: 100px;
                    height: 40px;
                    border: 2px solid map-get($color, "sub_brown");
                    border-radius: 20px;
                    color: #fff;
                    background-color: map-get($color, "sub_brown");
                    // background-color: #b18b68;
                }
                .rwd_mem_2{
                    // position:absolute;
                    width: 90px;
                    height: 40px;
                    border: 2px solid map-get($color, "sub_brown");;
                    border-radius: 20px;
                    color: #fff;
                    background-color: map-get($color, "sub_brown");
                }
                .rwd_mem_3{
                    // position:absolute;
                    width: 90px;
                    height: 40px;
                    border: 2px solid map-get($color, "sub_brown");;
                    border-radius: 20px;
                    color: #fff;
                    background-color: map-get($color, "sub_brown");
                }
    
            }
            .circle{
                display: none;
            }
            .change_img{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -60%);
                z-index: 2;
                width: 70%;
                max-width: 350px;
                max-height:400px;
                border-radius: 20px;
                box-shadow:none;
                @keyframes picpic{
                    0%{
                        transform: scale(.9);
                    }
                    50%{
                        transform: scale(.9);
                    }
                    100%{
                        transform: scale(.9);
                    }
                }
                img{
                    animation-duration: 10s;
                    animation-name: picpic;
                    animation-iteration-count:infinite;
                    border-radius: 20px;
                    width: 100%;
                }
                .large_txt{
                    animation-duration: 10s;
                    animation-name: picpic;
                    animation-iteration-count:infinite;
                    position: absolute;
                    bottom: -20%;
                    background-color: rgba(255, 255, 255, 0.548);
                    padding-bottom: 10px;
                    a{
                        margin-left: 60%;
                        border: 1px solid #d6aa81;
                        background-color: #d6aa81;
                        color: #fff;
                        border-radius: 20px;
                        padding: 3px 15px;
                    }
                }
               
            }
            
        }
    
        .introduce{
            display: none;
            background-color: rgba(0, 0, 0, 0.329);
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            // transform: translate(50%, 50%);
            box-sizing: border-box;
            padding-top: 200px;
            z-index: 10;
            .circle_small_card{
                display: none;
            }
            .introduce_txt{
                width: 80%;
                height: 300px;
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0px 10px 32px rgba(23, 40, 82, .6);
                margin: auto;
                position: relative;
                &::before,
                &::after{
                    cursor: pointer;
                    transition: .5s;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-20px,30px) rotate(45deg);
                    width: 25px;
                    height: 3px;
                    border-radius: 3px;
                    background-color:  map-get($color,"sub_blue");
                }
                &::after{
                    transform: translate(-20px,30px) rotate(-45deg);
                }
                h3{
                    box-sizing: border-box;
                    padding: 10px;
                    margin-bottom: 10px;
                    
                }
                p{
                    line-height: 2;
                    margin-left: 20px;
                }
            } 
        }
    }

    // 聯絡資訊-------
    .about_contact{
        // margin-top: 50px;
        // display: flex;
        margin: 77px 10px 0px 10px;
        .con_left{
            width: 100%;
            text-align: center;
            margin: auto;
            margin-bottom: 50px;
            h3{
                padding: 10px;
            
            }
        }
        .con_right{
            width: 100%;
            margin: auto;
            .fb{
                display: block;
                text-align: center;
                line-height: 15;
                margin: auto;
                width: 400px;
                height: 200px;
                // background-color: map-get($color, "sub_brown");
            } 
        }
    }
}

// 整理師按鈕調整----------------------
@media  screen and (max-width:415px){
    .about_team{
        .circle_big_img{
            .btn_mem{
                top: 80%;
            }
            .img_box{
                .change_img{
                    .large_txt{
                        animation-duration: 10s;
                        animation-name: picpic;
                        animation-iteration-count:infinite;
                        position: absolute;
                        bottom: 5%;
                        background-color: rgba(255, 255, 255, 0.548);
                        padding-bottom: 10px;
                        a{
                            margin-left: 60%;
                            border: 1px solid #d6aa81;
                            background-color: #d6aa81;
                            color: #fff;
                            border-radius: 20px;
                            padding: 3px 15px;
                        }
                    }
                }
            }
            
        }

    }
}


// 桌機-------------------------------
@media  screen and (min-width:992px){


    // 輪播圖-------
    .small_img{
        width: 100%;
        overflow: hidden;
        position: relative;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: width 1s linear;
            // 無限循環輪播
            animation: run 20s infinite linear;
            &:hover{
                animation-play-state: paused;
            }
            li{
                position: relative;
                height: auto;
                margin: 0 20px;
                perspective: 50px;
                img{
                    height:250px ;
                    width:370px ;
                    object-fit: cover;
                    object-position: center;
                    transition: .5s;
                }
                // 無限循環輪播被hover到時放大
                & img:hover{
                    transform: translateZ(5px);
                    transition: .5s;
                }
            }
        }
    }
    
// 無限循環輪播電腦版
    @keyframes run {             
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX( calc(-380px * 6 + 2px) );
        }
    }

    .about_belief{
        .big_img{
            margin: 20px 0px 20px 50px;
            width: 40%;
            img{
            max-width: 200%;
            }
            h2{
               
            }
        }
    }
    
    .btn_mem{
        display: none;
    }
    .txt_box{
        margin: 20px 100px 20px 40px;
        margin-top: 100px;
        display: block;
        width: 100vw;
        position: relative;
        
        
        .small_img{
            position:absolute;
            // right: -30%;
            bottom: 0;
            display: flex;
            cursor: pointer;
            img{
                // margin-right: 10px;
            }
        }
    }


    // 關於我們-------
    .about_team{
        box-sizing: border-box;
        padding: 0px 0px 60px 0px;
        display: flex;
        background-color: map-get($color, "cover");
        position: relative;
        overflow: hidden;
        .teams_title{
            display: none;
        }
        .circle{
            content: '';
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            height: 100%;
            border: 90px solid map-get($color,"sub_blue");
            border-radius: 50%;
            position: absolute;
            top: -70%;
            left: -60%;
            z-index: 1;
        }
        .circle_big_img{
            width: 60%;
            position: relative;
            
            
            .large{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -60%);
                z-index: 2;
                width: 300px;
                height: 500px;
                border-radius: 20px;
                box-shadow: 80px 50px 10px 2px #4b4a4986;
                img{
                    border-radius: 20px;
                    width: 120%;
                }
            }
            .change_img{
                display: none;
               
            }
            
        }
    
        .introduce{
            width: 50%;
            margin-top: 50px;
            .introduce_txt{
                h3{
                    padding: 10px;
                    margin-bottom: 10px;
                    
                }
                p{
                    line-height: 2;
                    margin-left: 20px;
                }
                a{
                    // margin-top: 30px;
                    margin-left: 350px;
                    border: 1px solid map-get($color, "sub_brown");
                    background-color:map-get($color, "sub_brown") ;
                    color: #fff;
                    border-radius: 20px;
                    padding: 0px 15px;
                }
            }
            
            .circle_small_card{
                display: flex;
                margin-top: 120px;
                width: 100%;
                .introduce_card{
                    margin-right: 20px;
                    width: 200px;
                    /* overflow: hidden; */
                    position: relative;
                    overflow: hidden;
                    border-radius: 20px;
                    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.329);
                    img{
                        width: 100%;
                        max-width: 200px;
                        max-height: 300px;
                        vertical-align:middle;
                    }
                    .card_txt{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: map-get($color, "sub_blue");
                        box-sizing: border-box;
                        padding: 0px 5px 5px 5px;
                        p{
                            color: map-get($color, "bg");
                        }
                    }
                    .black_hov{
                        // display: none;
                        display: block;
                        width: 100%;
                        /* height: 100vh; */
                        position: absolute;
                        top: 100%;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(255,255,255,0.1);;
                        backdrop-filter: blur(5px);
                        transition:.5s;
                        p{
                            position:absolute;
                            top:40%;
                            right: 28%;
                            box-sizing: border-box;
                            padding-top: 10px;
                            color: map-get($color, "bg");
                            height: 80px;
                            width: 80px;
                            font-size: 25px;
                            text-align: center;
                            // margin: 90px 20px 20px 58px;
                            display: inline-block;
                            border: map-get($color, "bg") 1px solid;
                            border-radius: 50%;
                        }
                    }
                    &:hover .black_hov{
                        top: 0;
                      }
                }
            }
        }
    }

    // 聯絡資訊-------
    .about_contact{
        margin: auto;
        margin-top: 50px;
        display: flex;
        margin: 77px 10px 0px 10px;
        .con_left{
            width: 50%;
            text-align: center;
            h3{
                padding: 10px;
            
            }
        }
        .con_right{
            // width: 50%;
            margin: auto;
            .fb{
                display: block;
                text-align: center;
                line-height: 15;
                margin: auto;
                max-width: 400px;
                height: 200px;
                // background-color: map-get($color, "sub_brown");
        
            } 
        }
    }
    
}

