section{
    margin: 60px auto;
}
.about_belief{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url("../img/about_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // opacity: 0.5;
    
    .big_img{
        margin: 0px 50px;
        margin-bottom: 20px;
        
    }
    .txt{
        margin: 20px 30px;
        margin-top: 100px;
        line-height: 2;
        display: block;
        width: 100vw;
        position: relative;
        
        h2{
            margin-bottom: 10px;
        }
        .small_img{
            position:absolute;
            right: 0;
            bottom: 0;
            display: flex;
            img{
                margin-right: 10px;
            }
        }
    }
}




.about_team{
    margin: 200px 10px;
    display: flex;
    .circle_big_img{
        width: 60%;
        position: relative;
        &::after{
            content: '';
            background-color: #fff;
            width: 600px;
            height: 600px;
            border: #d6aa81 70px solid;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: -320px;
            z-index: -1;
        }
        .change_img{
            img{

                border: 2px solid black;
                border-radius: 20px;
            }
            // overflow: hidden;
        }
        .change_img:nth-of-type(3){
            margin-top: 400px;
        }
        .change_img:nth-of-type(even){
            position: absolute;
            right: 25%;
        }
        .change_img:nth-of-type(odd){
            margin-left: -50px;
        }
    }

    .introduce{
        width: 40%;
        margin-top: 50px;
        h3{
            padding: 10px;
            margin-bottom: 10px;
            background-color: #d6aa81;
        }
        p{
            line-height: 2;
        }
        .circle_small_card{
            display: flex;
            margin-top: 220px;
            .introduce_card{
                margin-right: 20px;
            }
        }
    }
}





.about_contact{
    margin-top: 50px;
    display: flex;
    margin: 220px 10px 50px 10px;
    .con_left{
        width: 50%;
    }
    .con_right{
        width: 50%;
    }
}

