@import  "../base/var";
@import "../base/color";
// 整理師介紹--------------------
.b-tab {
    // padding: 20px;
    // border: 1px solid #000;
    display: none;
  }
  
.b-tab.active {
    display: block;
}
  
.b-nav-tab {
    display: inline-block;
    // padding: 20px;
}
// 貓頭鷹--------------------
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}



section{
    margin: 60px auto;
}
.about_belief{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    // height: 100vw;
    background-image: url("../img/about_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // opacity: 0.5;
    
    .big_img{
        margin: 20px 0px 20px 50px;
        
        img{
        max-width: 100%;
        }
        
    }
    .txt_box{
    //     margin: 20px 30px;
    //     margin-top: 100px;
    //     display: block;
    //     width: 100vw;
    //     position: relative;
        .txt{
            line-height: 2;
            height: 550px;
            h3{
                margin-bottom: 10px;
            }
        }
        
        // .small_img{
        //     position:absolute;
        //     right: 0;
        //     bottom: 0;
        //     display: flex;
        //     img{
        //         margin-right: 10px;
        //     }
        // }
    }
}



// 關於我們------------------
// .about_team{
//     box-sizing: border-box;
//     padding: 90px 0px 60px 0px;
//     display: flex;
//     background-color: map-get($color, "cover");
//     position: relative;
//     overflow: hidden;
//     .circle{
//         content: '';
//         background-color: rgba(255, 255, 255, 0);
//         width: 100%;
//         height: 100%;
//         border: 90px solid map-get($color,"sub_blue");
//         border-radius: 50%;
//         position: absolute;
//         top: -70%;
//         left: -60%;
//         z-index: 1;
//     }
//     .circle_big_img{
//         width: 60%;
//         position: relative;
        
        
        
//         .change_img{
//             position: absolute;
//             right: 50%;
//             top: 50%;
//             transform: translate(50%, -60%);
//             z-index: 2;
//             width: 300px;
//             height: 500px;
//             border-radius: 20px;
//             box-shadow: 80px 50px 10px 2px #4b4a4986;
//             img{
//                 border-radius: 20px;
//                 width: 120%;
//             }
           
//         }
        
//     }

//     .introduce{
//         width: 40%;
//         margin-top: 50px;
//         h3{
//             padding: 10px;
//             margin-bottom: 10px;
            
//         }
//         p{
//             line-height: 2;
//             margin-left: 20px;
//         }
//         .circle_small_card{
//             display: flex;
//             margin-top: 120px;
//             width: 100%;
//             .introduce_card{
//                 margin-right: 20px;
//                 width: 500px;
//                 /* overflow: hidden; */
//                 position: relative;
//                 position: relative;
//                 overflow: hidden;
//                 border-radius: 20px;
//                 box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.329);
//                 img{
//                     width: 100%;
//                     max-width: 100%;
//                     max-height: 100%;
//                     vertical-align:middle;
//                 }
//                 .card_txt{
//                     position: absolute;
//                     left: 0;
//                     bottom: 0;
//                     width: 100%;
//                     background-color: map-get($color, "sub_blue");
//                     box-sizing: border-box;
//                     padding: 0px 5px 5px 5px;
//                     p{
//                         color: map-get($color, "bg");
//                     }
//                 }
//                 &:hover .black_hov{
//                     top: 0;
//                   }
//                 .black_hov{
//                     display: block;
//                     width: 100%;
//                     /* height: 100vh; */
//                     position: absolute;
//                     top: 100%;
//                     left: 0;
//                     bottom: 0;
//                     right: 0;
//                     background-color: rgba(255,255,255,0.1);;
//                     backdrop-filter: blur(5px);
//                     transition:.5s;
//                     p{
//                         position:absolute;
//                         top:40%;
//                         right: 28%;
//                         box-sizing: border-box;
//                         padding-top: 10px;
//                         color: map-get($color, "bg");
//                         height: 80px;
//                         width: 80px;
//                         font-size: 25px;
//                         text-align: center;
//                         // margin: 90px 20px 20px 58px;
//                         display: inline-block;
//                         border: map-get($color, "bg") 1px solid;
//                         border-radius: 50%;
//                     }
//                 }
//             }
//         }
//     }
// }



// 手機-------------------------------
@media  screen and (max-width:768px),
screen and (max-width:992px)
{
    .txt_box{
        margin: 20px 30px;
        // margin-top: 100px;
        display: block;
        width: 100vw;
        position: relative;
        
        
        .small_img{
            position:absolute;
            right: 0;
            bottom: 0;
            display: flex;
            // cursor: e-resize; 
            img{
                cursor: e-resize; 
                // margin-right: 10px;
                // margin-top: 500px;
            }
        }
    }


    // 關於我們
    
    .about_team{
        box-sizing: border-box;
        padding: 40px 0px 60px 0px;
        height: 670px;
        // display: flex;
        background-color: map-get($color, "cover");
        position: relative;
        overflow: hidden;
        .phone_title{

        }
        .circle_big_img{
            width: 60%;
            .circle{
                display: none;
            }
            .change_img{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -60%);
                z-index: 2;
                width: 70%;
                max-width: 350px;
                max-height:400px;
                border-radius: 20px;
                box-shadow:none;
                img{
                    border-radius: 20px;
                    width: 100%;
                }
               
            }
            
        }
    
        .introduce{
            display: none;
            background-color: rgba(0, 0, 0, 0.329);
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            // transform: translate(50%, 50%);
            box-sizing: border-box;
            padding-top: 200px;
            z-index: 10;
            .circle_small_card{
                display: none;
            }
            .introduce_txt{
                width: 80%;
                height: 300px;
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0px 10px 32px rgba(23, 40, 82, .6);
                margin: auto;
                &::before,
                &::after{
                    cursor: pointer;
                    transition: .5s;
                    content: '';
                    position: absolute;
                    top: 35%;
                    right: 100px;
                    transform: translate(-2px,-50%) rotate(45deg);
                    width: 25px;
                    height: 3px;
                    border-radius: 3px;
                    background-color:  map-get($color,"sub_blue");
                }
                &::after{
                    transform: translate(-2px,-50%) rotate(-45deg);
                }
                h3{
                    box-sizing: border-box;
                    padding: 10px;
                    margin-bottom: 10px;
                    
                }
                p{
                    line-height: 2;
                    margin-left: 20px;
                }
                
            }
            
        }
    }

    // 聯絡資訊--------------------------
    .about_contact{
        // margin-top: 50px;
        // display: flex;
        margin: 120px 10px 50px 10px;
        .con_left{
            width: 100%;
            text-align: center;
            margin: auto;
            margin-bottom: 50px;
            h3{
                padding: 10px;
            
            }
        }
        .con_right{
            width: 50%;
            margin: auto;
            .fb{
                display: block;
                text-align: center;
                line-height: 15;
                margin: auto;
                // width: 400px;
                height: 200px;
                background-color: map-get($color, "sub_brown");
            } 
        }
    }
    

}

// 桌機-------------------------------
@media  screen and (min-width:992px){
    
    .txt_box{
        margin: 20px 100px;
        margin-top: 100px;
        display: block;
        width: 100vw;
        position: relative;
        
        
        .small_img{
            position:absolute;
            right: -30%;
            bottom: 0;
            display: flex;
            
            img{
                // margin-right: 10px;
            }
        }
    }


    // 關於我們
    .about_team{
        box-sizing: border-box;
        padding: 90px 0px 60px 0px;
        display: flex;
        background-color: map-get($color, "cover");
        position: relative;
        overflow: hidden;
        .phone_title{
            display: none;
        }
        .circle{
            content: '';
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            height: 100%;
            border: 90px solid map-get($color,"sub_blue");
            border-radius: 50%;
            position: absolute;
            top: -70%;
            left: -60%;
            z-index: 1;
        }
        .circle_big_img{
            width: 60%;
            position: relative;
            
            
            
            .change_img{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -60%);
                z-index: 2;
                width: 300px;
                height: 500px;
                border-radius: 20px;
                box-shadow: 80px 50px 10px 2px #4b4a4986;
                img{
                    border-radius: 20px;
                    width: 120%;
                }
               
            }
            
        }
    
        .introduce{
            width: 50%;
            margin-top: 50px;
            h3{
                padding: 10px;
                margin-bottom: 10px;
                
            }
            p{
                line-height: 2;
                margin-left: 20px;
            }
            .circle_small_card{
                display: flex;
                margin-top: 120px;
                width: 100%;
                .introduce_card{
                    margin-right: 20px;
                    width: 500px;
                    /* overflow: hidden; */
                    position: relative;
                    overflow: hidden;
                    border-radius: 20px;
                    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.329);
                    img{
                        width: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        vertical-align:middle;
                    }
                    .card_txt{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: map-get($color, "sub_blue");
                        box-sizing: border-box;
                        padding: 0px 5px 5px 5px;
                        p{
                            color: map-get($color, "bg");
                        }
                    }
                    &:hover .black_hov{
                        top: 0;
                      }
                    .black_hov{
                        display: block;
                        width: 100%;
                        /* height: 100vh; */
                        position: absolute;
                        top: 100%;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(255,255,255,0.1);;
                        backdrop-filter: blur(5px);
                        transition:.5s;
                        p{
                            position:absolute;
                            top:40%;
                            right: 28%;
                            box-sizing: border-box;
                            padding-top: 10px;
                            color: map-get($color, "bg");
                            height: 80px;
                            width: 80px;
                            font-size: 25px;
                            text-align: center;
                            // margin: 90px 20px 20px 58px;
                            display: inline-block;
                            border: map-get($color, "bg") 1px solid;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    // 聯絡資訊--------------------------
    .about_contact{
        margin: auto;
        margin-top: 50px;
        display: flex;
        margin: 120px 10px 50px 10px;
        .con_left{
            width: 50%;
            text-align: center;
            h3{
                padding: 10px;
            
            }
        }
        .con_right{
            width: 50%;
            margin: auto;
            .fb{
                display: block;
                text-align: center;
                line-height: 15;
                margin: auto;
                max-width: 400px;
                height: 200px;
                background-color: map-get($color, "sub_brown");
        
            } 
        }
    }
    
}
