@import  "../base/var";
@import "../base/color";
section{
    margin: 60px auto;
}
.about_belief{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url("../img/about_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // opacity: 0.5;
    
    .big_img{
        margin: 0px 50px;
        margin-bottom: 20px;
        
    }
    .txt{
        margin: 20px 30px;
        margin-top: 100px;
        line-height: 2;
        display: block;
        width: 100vw;
        position: relative;
        
        h2{
            margin-bottom: 10px;
        }
        .small_img{
            position:absolute;
            right: 0;
            bottom: 0;
            display: flex;
            img{
                margin-right: 10px;
            }
        }
    }
}




.about_team{
    box-sizing: border-box;
    padding: 90px 0px 60px 0px;
    display: flex;
    background-color: map-get($color, "cover");
    .circle_big_img{
        width: 60%;
        position: relative;
        &::after{
            content: '';
            background-color: rgba(255, 255, 255, 0);
            width: 600px;
            height: 600px;
            border: 70px solid map-get($color,"sub_blue");
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: -320px;
            z-index: 1;
        }
        .change_img{
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -60%);
            z-index: 2;
            width: 300px;
            height: 500px;
            border-radius: 20px;
            box-shadow: 80px 50px 10px 2px #4b4a4986;
            img{
                border-radius: 20px;
                width: 120%;
            }
           
        }
        
    }

    .introduce{
        width: 40%;
        margin-top: 50px;
        h3{
            padding: 10px;
            margin-bottom: 10px;
            
        }
        p{
            line-height: 2;
            margin-left: 20px;
        }
        .circle_small_card{
            display: flex;
            margin-top: 120px;
            width: 100%;
            .introduce_card{
                margin-right: 20px;
                width: 500px;
                /* overflow: hidden; */
                position: relative;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.329);
                img{
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align:middle;
                }
                .card_txt{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: map-get($color, "sub_blue");
                    box-sizing: border-box;
                    padding: 0px 5px 5px 5px;
                    p{
                        color: map-get($color, "bg");
                    }
                }
                &:hover .black_hov{
                    top: 0;
                  }
                .black_hov{
                    display: block;
                    width: 100%;
                    /* height: 100vh; */
                    position: absolute;
                    top: 100%;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(255,255,255,0.1);;
                    backdrop-filter: blur(5px);
                    transition:.5s;
                    p{
                        position:absolute;
                        top:40%;
                        right: 28%;
                        box-sizing: border-box;
                        padding-top: 10px;
                        color: map-get($color, "bg");
                        height: 80px;
                        width: 80px;
                        font-size: 25px;
                        text-align: center;
                        // margin: 90px 20px 20px 58px;
                        display: inline-block;
                        border: map-get($color, "bg") 1px solid;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}





.about_contact{
    margin-top: 50px;
    display: flex;
    margin: 120px 10px 50px 10px;
    .con_left{
        width: 50%;
        h3{
            padding: 10px;
        
        }
    }
    .con_right{
        width: 50%;
        margin: auto;
        .fb{
            display: block;
            text-align: center;
            line-height: 15;
            margin: auto;
            width: 400px;
            height: 200px;
            background-color: map-get($color, "sub_brown");
      
        } 
    }
}

