// @import url('');
@import  "../base/var";
@import  "../base/color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}

input[type="text"], input[type="tel"], input[type="date"], textarea, select, option{
    border: 1.5px solid map-get($color , "sub_brown" );

}
input[type="file"]{
    padding: 5px 10px;
    background: #d6aa81;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    border-color: transparent;
}

/* 卷軸 */
::-webkit-scrollbar{
    width: 5px;
	height: 5px;
    background-color: map-get($color , "plain" );;
}
::-webkit-scrollbar-button{
    width: 0;
	height: 0;
}
::-webkit-scrollbar-thumb {
    background-color: map-get($color , "main" );
}
// .backend{
//     position: relative;
//     width: 100%;
// }
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: map-get($color, 'sub_brown');
    border-left: 10px solid map-get($color, 'sub_brown');
    transition: 0.5s;
    overflow: hidden;
    
    &.active{
        width: 80px;
    }
    ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        li{
            
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            color: #fff;
            &.hovered{
                background-color: map-get($color, 'plain');
                a{
                    color: map-get($color, 'main');
                    img{
                        filter: invert(0%);
                    }
                }
            }
            &:hover{
                background-color: map-get($color, 'plain');
                cursor: pointer;
                a{
                    color: map-get($color, 'main');
                    img{
                        filter: invert(0%);
                    }
                }
            }
            img{
                filter: invert(100%);
            }
            &:last-child{
                background-color: map-get($color, 'main');
                // pointer-events: none;
                a{
                    color: map-get($color, 'bg');
                    img{
                        filter: invert(100%);
                    }
                }
            }
            a{
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: map-get($color, 'bg');
                .icon{
                    position: relative;
                    display: block;
                    min-width: 60px;
                    height: 60px;
                    line-height: 75px;
                    text-align: center;
                    img{
                        width: 30px;
                    }
                }
                .title{
                    position: relative;
                    display: block;
                    padding: 0 10px;
                    height: 60px;
                    line-height: 60px;
                    text-align: start;
                    white-space: nowrap;
                }
            }
        }
    }
}
.navigation ul li:not(:last-child):hover a::before,
.navigation ul li:not(:last-child).hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px map-get($color, 'plain');
    pointer-events: none;
}
  
.navigation ul li:not(:last-child):hover a::after, 
.navigation ul li:not(:last-child).hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px map-get($color, 'plain');
    pointer-events: none;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: map-get($color, 'bg');
    transition: 0.5s;
    color: map-get($color , "main");
    &.active{
        width: calc(100% - 80px);
        left: 80px;
        .topbar{
            .toggle{
                img{
                    transform: rotate(90deg);
                }
            }
        }
    }
    .topbar{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-top: 10px;
        .toggle{
            position: relative;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5em;
            cursor: pointer;
            img{
                width: 100%;
                transform: rotate(-90deg);
            }
        }
        .search{
            position: relative;
            width: 400px;
            margin: 0 10px;
            label{
                position: relative;
                width: 100%;
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 40px;
                    padding: 5px 20px;
                    padding-left: 35px;
                    font-size: 18px;
                    outline: none;
                    border: 1px solid map-get($color, 'sub_blue');
                }
                // ion-icon{
                //     position: absolute;
                //     top: 0;
                //     left: 10px;
                //     font-size: 1.2em;
                // }
            }
        }
        .user{
            position: relative;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.panel_box{
    position: relative;
    width: 100%;
    padding: 20px;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // grid-gap: 30px;
    // margin-top: 10px;
    .panel{
        position: relative;
        // display: grid;
        min-height: 500px;
        background: map-get($color, 'bg');
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
        border-radius: 20px;
        .panel_title{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            h2{
                font-weight: 600;
                color: map-get($color, 'main');
            }

            .add_btn{
                position: relative;
                padding: 5px 10px;
                background: map-get($color, 'sub_brown');
                text-decoration: none;
                color: map-get($color, 'bg');
                border-radius: 6px;
                border: none;
            }
            
        }
        table{
            width: 100%;
            tbody{
                tr{
                    .status{
                        &.delivered{
                            padding: 2px 4px;
                            background: map-get($color, 'sub_success');
                            color: map-get($color, 'bg');
                            border-radius: 4px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        &.pending{
                            padding: 2px 4px;
                            background: map-get($color, 'sub_pending');
                            color: map-get($color, 'bg');
                            border-radius: 4px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        &.return{
                            padding: 2px 4px;
                            background: map-get($color, 'sub_red');
                            color: map-get($color, 'bg');
                            border-radius: 4px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        &.inprogress{
                            padding: 2px 4px;
                            background: map-get($color, 'sub_inprogress');
                            color: map-get($color, 'main');
                            border-radius: 4px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    &:hover{
                        background: map-get($color, 'cover');
                        color: map-get($color, 'main');
                    }
                }
            }
            tr{
                color: map-get($color, 'border_black');
                border-bottom: 1px solid rgba(0,0,0,0.1);
                color: map-get($color , "main" );
                &:last-child{
                    border-bottom: none;
                }
                td{
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 10px;
                    max-width: 170px;
                    text-align: center;
                    color: map-get($color , "main" );
                    .edit_btn{
                        padding: 5px 10px;
                        background: #d6aa81;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 6px;
                        border-color: transparent;
                    }
                    // &:last-child{
                    //     text-align: end;
                    // }
                    // &:nth-child(2){
                    //     text-align: end;
                    // }
                    // &:nth-child(3){
                    //     text-align: center;
                    // }
                }
            }
        }
        
    }
}

.light_box, .new_light_box{
    width: 800px;
    min-height: 400px;
    max-height: 90%;
    // max-height: 1100px;
    // -ms-grid-rows: 44px 980px 54px;
    // grid-template-rows: 44px 980px 54px;
    border-radius: 10px;
    overflow: hidden;
    /* position: relative; */
    /* left: 20%; */
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: map-get($color , "cover" );
    overflow-y: auto;
    z-index: 3;
    grid-template-rows: .1fr 1fr .2fr;
    

    ul{
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding: 15px 30px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;

        li{
            padding: 0 5px;     
            .text_area{
                display: flex;
                justify-content: space-between;
            }
        }

    }

    .prd_edit_imgs, .need_imgs, .report_imgs, .ba_img, .col_imgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .prd_group, .need_img_box, .before_img_box, .after_img_box, .col_img_box{
            width: 380px;
            padding: 15px;
        }
    }

    

    .prd_img, .need_img, .before_img, .after_img, .event_img, .col_img, .new_emp_img{
        border: 1.5px solid map-get($color , "sub_brown" );
        background-color: #fff;
        width: 260px;
        height: 130px;
        margin: auto 20px ;
        margin-top: 20px;
        padding: 0;
        margin-right: 25px;
        position: relative;

        .preview_img{
            max-width: 255px;
            max-height: 125px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    }   


    &.emp{
        &.show{
            display: grid;
        }
        display: none;
    }

    &.cus{

        &.show{
           display: grid; 
        }
        display: none;
    }

    &.result{
        &.show{
           display: grid; 
        }
        display: none;
    }

    &.prd{
        &.show{
            display: grid;
        }
        display: none;

    }

    &.ord{
        &.show{
            display: grid;
            grid-template-rows: .3fr;

            table{
                width: 100%;
            }

            .ord_num{
                padding: 15px 30px;
            }

            .ord_detail{

                p, table, .ord_prices{
                    padding: 15px 30px;
                }

                table{
                    text-align: center;
                    th, td{
                        padding: 5px 0;
                    }
                    thead{
                        background-color: map-get($color , "sub_brown" )
                    }

                    tbody{
                        background-color: #fff;
                    }
                }

                .ord_prices{
                    text-align: right;
                }
            }
        }
        display: none;
    }

    &.plan{
        &.show{
            display: grid;
        }
        display: none;
    }
    
    &.sao{
        &.show{
            display: grid;
            .sao_num, p{
                padding: 15px 30px;
            }

            .sao_detail_content.title{
                padding: 15px 30px;
            }

            .sao_detail_content.report{
                padding: 15px 30px;
            }
        }
        display: none;
    }

    &.casetable{
        &.show{
            display: grid;

            .case_no, .case_content{
                padding: 15px 30px;
            }
        }
        display: none;
    }

    &.event{
        &.show{
            display: grid;
        }
        display: none;
    }

    &.columntable{
        &.show{
            display: grid;
        }
        display: none;
    }

}

// .new_light_box{
//     width: 800px;
//     height: 90%;
//     max-height: 1100px;
//     // -ms-grid-rows: 44px 980px 54px;
//     // grid-template-rows: 44px 980px 54px;
//     border-radius: 10px;
//     overflow: hidden;
//     /* position: relative; */
//     /* left: 20%; */
//     position: fixed;
//     left: 50%;
//     top: 50%;
//     -webkit-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     background-color: map-get($color , "cover" );
//     overflow-y: auto;

//     &.emp{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

//     &.cus{

//         &.show{
//            display: grid; 
//         }
//         display: none;
//     }

//     &.result{
//         &.show{
//            display: grid; 
//         }
//         display: none;
//     }

//     &.prd{
//         &.show{
//             display: grid;
//         }
//         display: none;

//     }

//     &.ord{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

//     &.plan{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }
    
//     &.sao{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

//     &.casetable{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

//     &.event{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

//     &.columntable{
//         &.show{
//             display: grid;
//         }
//         display: none;
//     }

// }


.close_check{
    width: 385px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    -ms-grid-rows: .5fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    background-color: map-get($color , "cover");
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;

    p{
        vertical-align: middle;
        color: map-get($color , "main" );
        font-size: $font_size_h4;
        margin: auto;
    }

    &.show{
        display: grid;
    }
    display: none;
}

.light_box_cap{
    background-color: map-get($color , "sub_brown" );
    padding: 20px;
    font-weight: 600;
    height: 60px;
    color: #fff;
}

.editbtn, .close_btns{
    margin: auto;
    margin-bottom: 30px;
}

.close, .closeC{
    padding: 5px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    border-color: transparent;
    background-color: map-get($color , "sub_blue");
    margin: 0 20px;
}

.save, .closeY{
    padding: 5px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    border-color: transparent;
    background-color: map-get($color , "sub_red");
    margin: 0 20px;
}

.hide{
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
    z-index: 0;

    &.show{
        display: block;
    }
    display: none;
}

.dnone{
    display: none;
}



@media (max-width: 991px){
    .navigation{
        left: -300px;
        &.active{
            width: 300px;
            left: 0;
        }
    }
    .main{
        width: 100%;
        left: 0;
        &.active{
            left: 300px;
        }
    }
    .card_box{
        grid-template-columns: repeat(2,1fr);
    }
}
