@import  "../base/var";
@import  "../base/color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_container{
    display: flex;
    justify-content: center;
    background: map-get($color, 'yellow');
    height: 100vh;
    text-align: center;
    .form{
        padding: 30px;
        input{
            margin: 10px;
        }
        button{
            margin-right: 10px;
            padding: $btn_padding;
            border-radius: $border_radius_btn;
            box-shadow: $btn_box_shadow;
            background-color: map-get($btn_color, 'beige') ;
            cursor: pointer;
            transition: .5s;
            &:hover{
                background-color: map-get($btn_color, 'brown') ;
            }
            &:focus{
                outline: none;
            }
        }
        img{
            max-width: 500px;
        }
    }
}
