@import  "../base/var";
@import "../base/color";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.form_icons{
    display: none;
  }

  // 登入登出的input
.login_container,.signup_container{
    .form{
      .form_button{
        display: block;
        font-size: 20px;
      }
    }  
  }
main {
    display: flex;
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 450px;
    // border: 2px dashed #ddd;
    border-radius: 12px;
    overflow: hidden;
    margin:auto;
    margin-top: 150px;
    
.login_container{
    width: 400px;
    display: flex;
    justify-content: center;
    background: #ecf0f3;
    padding: 25px;
    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .col{
            margin-top: 30px;
            margin-bottom: 30px;
            flex: 0 0 10%;
        }
        .form_button{
            font-size: 16px;
            border-radius: 20px;
            border: 2px solid map-get($color,"sub_brown");
            box-sizing: border-box;
            padding: 1px 12px;
            &:hover{
                background-color: map-get($color,"sub_brown");
                color: #fff;
            }
            .form_button.button.submit{
                border: 1px solid map-get($color, "sub_brown")  ;
                border-width: 2px;
                transition: 0.2s ease-in;
                padding: 1px 15px;
                border-radius: 25px;
              }
              .form_button.button.submit:hover{
                background-color:map-get($color, "sub_brown") ;
                color: #fff;
              }
        }
        img{
            max-width: 500px;
        }
    }
}
.left{
    width: 50%;
    padding: 25px;
    background-color: #d6aa81;
    display: flex;
    .item{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        img{
            width: 30%;
        }
    }
    h3{
        text-align: center;
    }
}
}

