@import  "../base/var";
@import  "../base/color";

/* 月曆外觀 */
#calendari {
    margin: 20px 0 10px 0;
    position: relative;
    overflow: hidden;
    min-width: 550px;
    height: 400px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
}
/* table的class=actiu */
#calendari table{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.4s ease;
    border-collapse: separate;
}
#calendari table.actiu {
    transform: translateX(0px)top;
}
#calendari table.inactiu {
    transition: all 0.3s 0.01s ease;
}
#calendari table.next_m {
    transform: translateX(-299px);
}
#calendari table.last_m {
    transform: translateX(300px);
}
#calendari td,th {
    text-align: center;
    background-color: #fff;
}
// 年份月份列
#calendari tr:first-child th {
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
// td:last-child, th:last-child {
//   border-right: none;
// }

#calendari th {
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: map-get($color , 'sub_brown' );
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    // font-weight: 900;
}
/* 年份 */
#calendari th .any {
    font-size: 18px;
    font-weight: 900;
    display: block;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.582);
}
/* 星期列 */
#calendari tr:nth-child(2) th {
    padding: 5px;
}
// 所有td
#calendari td {
    // height: 60px;
    padding: 0.3em 0.4em;
    margin: 0 0.3em;
    cursor: pointer;
    // border: 2px solid rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
/* 放時段的div */
#calendari td div>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}
/* 所有日期 */
#calendari td div>div:first-child span {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    color: black;
}
/* 六日 日期 */
// td:last-child>div div:first-child span,td:nth-child(6)>div div:first-child span{
//     color: #82002D;
// }

/* 今天的日期td */
#calendari td.today { 
    cursor: not-allowed;/* today不能被點擊 */
    // background: rgba(212, 195, 174, 0.4);
    border-radius: 10px;
}
/* 今天後三天的日期td */

/* 非此月 */
#calendari td.fora {
    opacity: 0;
}
// 這個月已過日期
#calendari td.past {
    opacity: 0.3;
    cursor: not-allowed; /* past不能被點擊 */
}
// 預約已滿
#calendari td.full{
    pointer-events: none;
    cursor: not-allowed; /* full不能被點擊 */
    overflow: hidden;
    background-color: rgb(204, 201, 201);
    &:hover{
        outline: none;
    }
    img.full_img{
        position: absolute;
        left: calc(50% - 25px);
        right: 0;
        top:calc(50% - 23px);
        bottom: 0;
        width: 50px;
    }
}
// td hover的效果
#calendari td:hover,
#calendari td:focus {
    box-sizing: border-box;
    background: rgba(212, 195, 174, 0.4);
    // transform: scale(1.1);
    // outline: 2px solid map-get($color , 'sub_red');
    z-index: 11;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

    
    /* 按鈕 */
    .boto-next, .boto-prev {
        background: rgba(0,0,0,0.1);
        color: #fff;
        font-family: inherit;
        border: none;
        font-size: 16px;
        font-weight: bold;
        text-shadow: inherit;
        padding: 7px;
        line-height: 1px;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boto-next { right: 10px; padding-left: 13px; }
    .boto-prev { left: 10px; padding-right: 13px;}
    .boto-next:hover,
    .boto-prev:hover {
        background: #00000033;
    }
    button:hover { cursor: pointer; }
    button:focus { outline: none; }
    
    /* 早中晚點點 */
    span.period {
        width: 10px;
        height: 10px;
        background-color: #DFBE9B;
        border-radius: 50%;
    } 
    /* 被預約的時段 */
    td>div div:nth-child(2) span.reserved {
        opacity: 0.5;
        background-color: #ccc;
    }
// ---------------------  
    // 早中晚input
.calendar_time{
    // display: flex;
    // 顯示預約時間
    .time_panel{
        display: block;
        width: 300px;
        box-sizing: border-box;
        align-items: center;
        padding: 10px;
        div{
            box-shadow: 1px 1px 2px map-get($color , 'sub_blue' );
            border-radius: 10px;
            background-color: white;
            display: flex;
            width: 100%;
            min-width: 280px;
            padding: 10px 0;
            margin: 10px 0;
            p{
                &:first-child{
                    font-weight: 800;
                }
                &:last-child{
                    margin-left: 50px;
                }
            }
        }
    }
    .time_period{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        input{
            display: none;
        }
        input:checked + label .time_item{
            border: 2px solid #D03E3E;
            box-shadow: 1px 1px 5px #DFBE9B;
            p{
                font-weight: 900;
            }
        }
        label{
            cursor: pointer;
            margin: 0 5px;
            .time_item{
                border: 3px solid transparent;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                margin: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:#dfbe9be1;
                box-sizing: border-box;
                p{  
                    box-sizing: border-box;
                    font-size: 12px;
                    padding: 10px;
                    font-weight: 900;
                    letter-spacing: 0.1em;
                }
            }
        }

    }
}
// font-size: 8px;
// font-weight: bold;
// color: rgb(44, 39, 39);
// width: 15px;
// height: 15px;
// padding: 3px;
// background-color: rgba(207, 188, 174, 0.712);
// border-radius: 50%;
// border: 2px solid transparent;
// &:hover{
//     border: 2px solid #82002D;
// }

// td被選取的效果
#calendari td.active{
    // outline: 2px solid map-get($color , 'sub_red' );
    // transform: scale(1.1);
    background: rgba(212, 195, 174, 0.4);
    z-index: 10;
    border-radius: 10px;
}

// 830以下
@media screen and (max-width: 830px) {
    #calendari {
        min-width: unset;
        width: 100%;
        height: 470px;
    }
    .calendar_time{
        display: block;
        .time_period{
            flex-direction: row;
            padding-top: 0px;
            width: 100%;
            justify-content: space-evenly;
        }
    }
    .can_pan{
        display: block;
    }
    .wrap{
        flex-wrap: wrap;
        display: block;
    }
}
.r_form{
    margin:0 auto;
    .form_title{
        margin-bottom: 50px;
    }
}
// 830px 以上
@media screen and (min-width: 830px) {
    .r_form{
        margin:0 50px;
        .form_title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            position: relative;
            &:before{
                content: "";
                width: 30%;
                height:1px;
                background-color: map-get($color ,"sub_brown");
                position: absolute;
                right: 0px;
            }
            &:after{
                content: "";
                width: 30%;
                height:1px;
                background-color: map-get($color ,"sub_brown");
                position: absolute;
                left: 0px;
            }
        }
    }
    // .can_pan{
    //     .time_panel{
    //         // margin-left: 50px;
    //     }
    // }
}
.wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}