@import  "../base/var";
@import  "../base/color";

button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, 'beige') ;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: map-get($btn_color, 'brown') ;
    }
    &:focus{
        outline: none;
    }
}
.container{
    max-width: 820px; 
    min-width: 420px;
    margin: 40px auto;
    margin-top: 92px; // 推header
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, 'main');
    .progress{
        overflow: hidden;
        margin-bottom: -2px;
         /* hide bottom border */
        margin-left: 24px;
        a{
            width: 26%;
            float: left;
            cursor: pointer;
            padding: 12px 24px;
            transition: background-color 0.2s;
            border: 1px solid #ccc;
            border-right: none;
            background-color: map-get($color , "plain" );
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            &:last-child { 
            border-right: 1px solid #ccc;
            }
            &:hover {
            background-color: #aaa;
            color: map-get($color, 'yellow');
            }
            &.active {
            background-color:map-get($btn_color, 'beige');;
            color: map-get($color, 'blue');
            cursor: default;
            }
        }
    }
}
table{
    margin: 10px 0;
    width: 100%;
    .creditCard{
    text-align: center;
    }
}
.add{
    padding: 5px 15px;
    border-radius: 15px;
    // width: 25px;
}
.tabcontent {
    background-color: map-get($color , "plain" );
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e1e1e1;
    .left{
        text-align: left;
        padding-left: 20px;
    }
    .space{
        display: flex;
        justify-content: space-between;
    }
    td {
        text-align: center;
        padding: 0.3em 0.4em;
        color: map-get($color, 'plain_blue');
        .product{
            height: 50px;
        }
        .left{
            text-align: left;
        }
    }
}
.data { width: 120px; }

// -------------

.form_item{
    margin: 20px auto; 
    display: flex;
}
.choose_plan{
    display: flex;
    label{
        cursor: pointer;
    }
    li{
        margin: 10px 20px;
    }

}
    
// 更改input[type=text]樣式
input[type=text],input[type=email]{
    box-shadow: -1px -1px 3px map-get($btn_color, 'brown');
    padding: 5px;
    border-radius: 10px;
    background-color: map-get($color , "plain" );
    &:focus{
        box-shadow: -1px -1px 3px map-get($color, 'main');
    }
}


// 下拉式選單樣式
select{
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    border-radius: 10px;
    padding: 5px;
    &:focus{
        outline: none;
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}

.choose_add select{
    margin-right: 10px;
}
// textarea更改樣式
textarea {
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    &:focus{
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}

// 信用卡種類
.card_li{ // td
    display: flex;
    li{
        label{
            cursor: pointer;
        }
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img{
    max-width: 50px;
    max-height: 30px;
}