@import  "../base/var";
@import  "../base/color";

//rwd變數
@mixin pad{
    @media(max-width:767px){
      @content;
    }
  }
  
  @mixin PC{
    @media(min-width:768px){
      @content;
    }
}

*{
    box-sizing: border-box;
}
button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, 'beige') ;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: map-get($btn_color, 'brown') ;
    }
    &:focus{
        outline: none;
    }
}
.container{
    max-width: 1200px;
    margin: auto;
    // margin: 40px;
    margin-top: 92px; // 推header
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, 'main');
    .full{
        width: 100%;
    }
    .progress{
        overflow: hidden;
        margin-bottom: -2px;
        margin-left: 24px;
        a{
            width: calc((100% - 30px)/3);
            float: left;
            cursor: pointer;
            padding: 12px 24px;
            transition: background-color 0.2s;
            border: 1px solid #ccc;
            border-right: none;
            background-color: map-get($color , "plain" );
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            &:last-child { 
            border-right: 1px solid #ccc;
            }
            &:hover {
            background-color: #aaa;
            color: map-get($color, 'yellow');
            }
            &.active {
            background-color:map-get($btn_color, 'beige');;
            color: map-get($color, 'blue');
            cursor: default;
            }
            img{
                width: 30px;
            }
        }
    }
}
.tabcontent {
    background-color: map-get($color , "plain" );
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e1e1e1;
    min-height: 40vh;
    flex-wrap: wrap;
    td,div {
        text-align: center;
        padding: 0 0.1em;
        color: map-get($color, 'black');
        box-sizing: border-box;
        .left{
            text-align: left;
        }
    }
    .price{
        text-align: right;
        padding-right: 60px;
    }
    
    
    .padding-bottom{
        padding-bottom: 20px;


        .box{
            
            @include pad{
                margin: 20px 0;
            }
            display: flex;

            &.verify{
                margin-right: 100px;
            }
            p{
                text-align: left;
            }

            .select_box{
                padding-left: 25px;
            }

        }
    }
    .noshopping{
        padding: 20px;
    }
    .flex{
        display: flex;
        width: 100%;
        justify-content: space-between;


        .widthname{
            min-width: 60px;
        }
        .changeNum{
            width: 45px;
        }
        .flex-grow{
            flex-grow: 1;
        }
        .flex-grow2{
            flex-grow: 2;
        }
        .add{
            padding: 5px 15px;
            border-radius: 15px;
        }
    }
    table{
        margin: 10px 0;
        width: 100%;
        .radio-input{
            display: none;
        }
        .creditCard{
        text-align: center;
        }
    }
    .border-bottom{
        padding-bottom: 10px;
        border-bottom: 1px solid map-get($btn_color, 'brown');
        justify-content: center;
    }
    .left{
        text-align: left;
        padding-left: 0px;
    }
    .space{
        display: flex;
        justify-content: space-between;
    }

    .shlist{

        td{
            
            p{
                line-height: 90px;
            }

            
        }

        td:nth-child(1) p{
            text-align: right;
            padding-right: 80px;
        }

        td:nth-child(2) p{
            text-align: left;
        }
    }
}
.data { width: 120px; }

// 更改input[type=text]樣式
input[type=text],input[type=email]{
    box-shadow: -1px -1px 3px map-get($btn_color, 'brown');
    padding: 5px;
    border-radius: 10px;
    background-color: map-get($color , "plain" );
    &:focus{
        box-shadow: -1px -1px 3px map-get($color, 'main');
    }
}
// 下拉式選單樣式
select{
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    border-radius: 10px;
    padding: 5px;
    min-width: 120px;
    &:focus{
        outline: none;
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}

.choose_add select{
    margin-right: 10px;
}
// textarea更改樣式
textarea {
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    &:focus{
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img{
    margin-top: 3px;
    max-width: 50px;
    max-height: 30px;
}
// RWD

@media screen and (max-width: 830px) {
    select{
        margin: 0px auto;
        width: 100%;
    }
    .tabcontent{
        padding: 30px 20px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }
    .container{
        width: 100%;
        margin: 0px auto;
        margin-top: 92px; // 推header
        .progress{
            margin-left:0;
            a{  
                font-size: 15px;
                width:calc(100%/3);
                box-sizing: border-box;
                img{
                    width: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .tabcontent .flex{
        flex-wrap: wrap;
    }
}

// @include PC{
//     .tabcontent .left{
//         justify-content: flex-end;
//     }
//     td{
//         text-align: right;
        
//         p{
//             text-align: left;
            
//         }
//         .price{
//             padding-left: 50px;
//         }
//     }       
// }

