@import  "../base/var";
@import  "../base/color";


.activity{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .item{
        display: flex;
        padding: 0 50px 10px 50px;
        .item_img{
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .name{
            padding: 10px 0 10px 15px;
        }

    }
    p{
        padding: 40px 30px;
    }
    h3{
    padding: 30px;
    }
    h4{
        padding: 30px 30px 0 30px;
    }
}

@media screen and(min-width:768px){
    .activity{
        max-width: 1200px;
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        
    }
}

@media screen  and(min-width:1200px){
    .activity{
        max-width: 1200px;
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        p{
            margin-bottom: 30px;
            padding: 30px 0;
        }
        
    }
}