@import  "../base/var";
@import  "../base/color";


.activity{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .item{
        display: flex;
        .item_img{
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

    }
    p{
        padding: 30px;
    }
    
}

@media screen and(min-width:768px){
    .activity{
        max-width: 1200px;
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        
    }
}

@media screen  and(min-width:1200px){
    .activity{
        max-width: 1200px;
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        
    }
}