@import  "../base/var";
@import  "../base/color";


.activity{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .item{
        display: flex;
        padding: 0 50px 10px 80px;
        .item_img{
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .name{
            padding: 10px 0 10px 15px;
        }

    }
    p{
        padding: 40px 30px;
        line-height: 2;
    }
    h3{
        margin: auto;
    padding: 30px;
    }
    h4{
        padding: 30px 30px 0 30px;
    }
}

@media screen and(min-width:768px){
    .activity{
        max-width: 830px;
        .img{
            width: 640px;
            margin: auto;
            img{
                width: 100%;
            }
        }
        
    }
}

@media screen  and(min-width:1200px){
    .activity{
        max-width: 1200px;
            .img{
                width: 830px;
                box-shadow: 2px 2px 10px #555;
                margin: auto;
                img{
                    width: 100%;
                }
            }
            .item{
                max-width: 830px;
                display: flex;
                padding: 0 50px 10px 185px;
                .item_img{
                    width: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .name{
                    padding: 10px 0 10px 15px;
                }
        
            }
        .txt{
            max-width: 830px;
            margin: auto;
            p{
                width: 830px;
                margin: auto;
                margin-bottom: 30px;
                padding: 30px 0;
                line-height: 2;
            }
        }   
    }
}