@import '../base/var';
@import '../base/color';
@import '../module/btn';

input{
    font-size: 14px;
}

.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.title_color{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-color: #d6aa81;
    border: #d6aa81 1px solid;
}

.data_button .con_data a{
    cursor: pointer; 
} 

// 手機-------------------------------
@media  screen and (max-width:768px){
    main{
        margin-top: 30px;
        .data_column{
            margin: auto;
            width: 95%;
            background-color: #f5dfb0;
            border-radius:20px;
            display: flex;
            
            .mem_icon{
                display: none;
                // margin: auto;
                text-align: center;
                margin: auto;
                width: 80px;
                img{
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    // width: 100%;
                    border-radius: 50%;  
                }
            }
            .id{
                text-align: center;
                line-height: 2;
                margin: auto;
            }
            .data_button{
                margin: auto;
                // display: flex;
                text-align: center;
                flex-wrap: wrap;
                line-height: 2;
                input{
                    display: none;
                    &:checked{
                        ~label{
                            .up_down{
                                transform:rotate(0deg);
                            }
                        }
                        ~.con_data{
                            line-height: 1.5em;
                            a{
                                display: block;
                                cursor: pointer; 
                            }
                        }
                    }
                }
                label{
                    .mem{
                        display: flex;
                        padding: 10px 0;
                        font-size: 24px;
                        width: 100%;
                        cursor: pointer;
                        .up_down{
                            margin-top: 30px;
                            margin-left: 10px;
                            width: 30px;
                            height: 30px;
                            transition: .5s;
                            transform:rotate(180deg);
                        }
                    }
                    
                }

                .con_data{
                    line-height: 0em;
                    transition: .5s;
                    overflow: hidden;

                    a{
                        display: none;
                        margin: auto;
                        font-size: 16px;
                        line-height: 1.5;
                        margin: auto 10px;
                        cursor: pointer; 
                    }
                }
                
            }
        }
        .data_con{ // section
            width: 95%;
            // margin: 30px auto;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
        }

    }
    // ------ 月曆手機版768
    .emp_calendar{
        .btn_job{
            position: relative;
            top: 10px;
            left: calc(100% - 82px);
        }
        #calendari{
            min-width:500px;
            height: 470px;
        }
    }
    #lightbox,#workInfo{
        .memberReserve .memberReserveContent {
            .memberGrid {
                grid-template-columns: repeat(4, 1fr);
                // grid-auto-flow:發現前面有空位的話，就去補他
                grid-auto-flow: dense;
            }
            .memberGrid4 {
                grid-column: unset;
                grid-row: unset;
            }
            .memberGrid5 {
                grid-column: 1;
                grid-row: 3;
            }
            .memberGrid6 {
                grid-column: 2;
                grid-row: 3;
            }
            .memberGrid7 {
                grid-column: 3;
                grid-row: 3;
            }
            .memberGrid8 {
                grid-column: 4;
                grid-row: 3;
            }
        }
    }
}



// 桌機-------------------------------
@media  screen and (min-width:768px){
    main{
        display: flex;
        height: 100vh;
        // 左側功能欄
        .data_column{
            width: 15%;
            height: calc(100vh - 50px);
            margin-top: 50px;
            // margin:90px auto 0px;
            // overflow: auto;
            min-height: 530px;
            // overflow-x: hidden;
            display: block;
            background-color: #f5dfb0;
            border-top-right-radius:80px;
            // .id{
            //     text-align: center;
            //     line-height: 2;
            // }
            .data_button{
                // flex-direction: column;
                text-align: center;
                line-height: 2;
                a{
                    display: block;
                    margin: auto;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .data_button{
            .id{
                .mem{
                    .up_down{
                        display: none;
                    }
                }
            }
        }
        .data_con{
            width: 75%;
            height: calc(100vh - 100px);
            margin: 50px auto 0px;
            // margin:auto 0px;
            min-height: 510px;
            overflow: auto;
            overflow-x: hidden;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
            .data_mem{
                // height: 90%;
                position: relative;
                margin: 0 auto;
                .icon_edit{
                    .mem_icon{
                        margin: 20px 40px;
                        max-width: 200px;
                        max-height: 200px;
                        img{
                            object-fit: cover;
                            width: 200px;
                            height: 200px;
                            // width: 100%;
                            border-radius: 50%;
                        }
                    }
                    button{
                        display: block;
                        // height: 50px;
                        margin: auto;
                    }
                }
            }
        }
    }

    // ------------------- 3/12
    // 預約明細
    .datails_info{
        // width: 50%;
        display: block;
        background-color: white;
        // border: 1px solid black;
        box-shadow: 1px 1px 2px #D6AA81;
        border-radius: 10px;
        margin:60px 20px 0 20px;
        .d_table{
            width: 100%;
            tr:nth-child(even){
                background-color:#eee1c5a8;
            }
            td{
                padding: 10px;
            }
        }
        .d_pic{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                width: 50%;
            }
        }
    }

    // 月曆
    .emp_calendar{

        #calendari{
            margin: 10px auto;
            width: 500px;
            height: 450px;
            th{
                align-items: center;
                vertical-align:middle;
                .any{ //年分
                    display: unset;
                    font-size: 13px;
                    padding-left: 10px;
                }
            }
            /* 星期列 */
            tr:nth-child(2) th {
                padding: 0;
                vertical-align:middle;
            }
        }
    }
    .memberReserve {
        margin: auto;
        box-sizing: border-box;
        padding: 30px 20px;
        width: 90%;
        
        .memberReserveContent {
            // table-layout:fixed;
            width: 100%;
            border: solid 1px map-get($color, "sub_brown");
            border-collapse: collapse;
            .memberGrid {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                .memberReceiverID {
                    //詳細資料
                    color: map-get($btn_color, "deep_blue");
                    cursor: pointer;
                }
            }
        }
    
    
    }
    

}


// 575以下----------------------------
@media  screen and (max-width:575px) {
    .memberAll {
        width: 90%;
        
        // 手機版本標題改為滑動的方式
        // 會員資料表格
        .memberPart1 {
            .label input {
                width: 270px;
            }
        }
    }
    .emp_calendar{
        #calendari{
            min-width: 400px;
            // width: 100%;
            span.period{
                width: 10px;
                height: 10px;
            }
        }
    }
}

#lightbox{
    position: absolute;
    // padding: 100px;
    background-color: #F3F3ED;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 90%;
    display: none;
    .memberReserve{
        margin-top: 50px;
        // position: relative;
        // .memberReserveContent{
        //     .memberGrid{

        //     }
        // }
        .memberReserveDetailHere{
           .memberReserveDetail{
               .sao_pics{
                   img{
                       width: 300px;
                    // height: 200px;
                   }
               }
           } 
        }
    }
}
// ------- 回報表單
#report_div{
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    // background-color: #F3F3ED;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // display: block;
    display: none;
    #report_form{
        padding: 50px;
        margin: 0 auto;
        // height: inherit;
        box-sizing: border-box;
        background-color: #F3F3ED;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

// ------ 叉叉btn
.del_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    right: 30px;
    top: 30px;
}
.btn_send{
    position: absolute;
    right: 30px;
    bottom: 130px;
}
// -------------月曆

/* 早中晚點點 */
span.period {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    // border-radius: 50%;
} 
span.nodo {
    background-color: map-get($color , "sub_blue" );

} 
/* 被預約的時段 */
td>div div:nth-child(2) span.reserved {
    opacity: 1;
    background-color: #DFBE9B;
}
/* 請假的時段 */
td>div div:nth-child(2) span.leave {
    position: relative;
    // font-weight: bolder;
    background-color:#d03e3e;
}
// #calendari td.pastday{
//     opacity: 0.3;
//     pointer-events: none;
// } 
#calendari td.today{
    cursor: pointer;
    // transform: scale(1.1);
} 



// 回報btn
.btn_report{
    margin: 10px 0;
}
// 請假btn
.btn_job{
    position: absolute;
    left: calc(50% + 302px);
    margin: 10px 0;
    min-width: 82px;
}
// 確認請假btn
.btn_confirm{
    position: absolute;
    left: calc(50% + 302px);
    margin: 10px 0;
    display: none;
    min-width: 82px;
}
// 取消請假btn
.btn_cancel{
    position: absolute;
    left: calc(50% + 394px);
    margin: 10px 0;
    display: none;
    min-width: 82px;
}
.emp_calendar{
    position: relative;
    .demo{
        position: absolute;
        left: -150px;
        bottom: 20px;
        span{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .brown{
            background-color: #DFBE9B;
        }
        .red{
            background-color: map-get($color, "sub_red");
        }
        .blue{
            background-color: map-get($color, "sub_blue");
        }
    }
}
.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.memberOrderD2.ba_pics{
    img{
        width: 300px;
    }
}

.pl_10{
   padding-left: 10px;
   font-size: 16px;
}
.boto-next, .boto-prev{
    top: 9px;
}