@import  "../base/color";

.text_ill{
    // display: none;
    .welcome{
        max-width: 980px;
        box-sizing: border-box;
        width: calc(100vw - 40px);
        height: calc(100vh - 130px);
        border-radius: 20px;
        border: 1px solid map-get($color, 'main');
        background-color: map-get($color, 'plain');
        margin: auto; 
        margin-top: 80px;

        position: absolute;
        z-index: 10;
        left: 50%;
        top: 0px;
        transform: translate(-50%);
        padding: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        h2{
            display: flex;
            position: relative;
            &::before,
            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 50px;
                height: 3px;
                border-radius: 5px;
                transform: translate(-150%,-50%);
                background-color: map-get($color, 'bg_pink');
            }
            &::after{
                left: auto;
                right: 0;
                transform: translate(150%,-50%);
            }
        }
        button{
            cursor: pointer;
        }
    }
    .intr{
        max-width: 980px;
        box-sizing: border-box;
        width: calc(100vw - 40px);
        height: calc(100vh - 130px);
        border-radius: 20px;
        border: 1px solid map-get($color, 'main');
        background-color: #f3f3eddd;
        margin: auto;
        margin-top: 80px;

        position: absolute;
        z-index: 5;
        left: 50%;
        top: 0px;
        transform: translate(-50%);
        padding: 30px;
        text-align: center;
        overflow: hidden;
        .pic{
            img:nth-of-type(2){
                transform: rotate(90deg);
            }
        }
        button{
            cursor: pointer;
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%);
            // transform: translate(-120%);
            // &:last-child{
            //     transform: translate(20%);
            // }
            &:disabled{
                cursor: not-allowed;
                background-color: #aaa;
                border: 1px solid #888;
                color: #ddd;
            }
        }
    }
    .pic{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        img{
            width: 60px;
            margin: 0 10px;
        }
    }
    .txt{
        margin: 30px 0;
    }
}

.text_game{
    box-sizing: border-box;
    width: calc(100vw - 40px);
    height: calc(100vh - 130px);
    border-radius: 20px;
    border: 1px solid map-get($color, 'main');
    background-color: map-get($color, 'main');
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    .pull{
        width: 100%;
        height: 80%;
        overflow: auto;
        .pullbox_group{
            box-sizing: border-box;
            width: 100%;
            min-width: calc((100vh - 130px) * 0.8 * (3 / 2));
            height: 100%;
            background: url('../img/game_room.png') no-repeat center/auto 100%;
            position: relative;
            z-index: 1;
            .pullbox{
                width: calc((100vh - 130px) * 0.8 * 0.125);
                height: calc((100vh - 130px) * 0.8 * 0.125);
                box-sizing: border-box;
                padding: 10px;
                background: url("../img/game_pullbox.png") center/cover ;
                border-radius: 10px;
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 5;
                img{
                    cursor: pointer;
                    width: 100%;
                }
                // 左
                &:nth-child(1){transform: translate(-380%,-110%);}
                &:nth-child(2){transform: translate(-330%,-210%);}
                &:nth-child(3){transform: translate(-530%,80%);}
                &:nth-child(4){transform: translate(-130%,110%);}
                &:nth-child(5){transform: translate(-260%,90%);}
                // 右
                &:nth-child(6){transform: translate(10%,30%);}
                &:nth-child(7){transform: translate(290%,25%);}
                &:nth-child(8){transform: translate(390%,85%);}
                &:nth-child(9){transform: translate(190%,-20%);}
                &:nth-child(10){transform: translate(265%,170%);}
            }
            #wardrobe{
                #door1,
                #door2{
                    cursor: pointer;
                    height: 40.4%;
                    position: absolute;
                    left: 50%;
                    transition: .5s ease-in;
                }
                #door1{
                    z-index: 1;
                    top: 6.2%;
                    transform-origin:right;
                    transform: translate(-62%,0) scaleX(1) skewY(-29deg);
                }
                #door2{
                    z-index: 2;
                    top: 18.6%;
                    transform-origin:left;
                    transform: translate(-156%,0) scaleX(1) skewY(-29deg);
                }
                #inside{
                    cursor: pointer;
                    position: absolute;
                    height: 40%;
                    width: 100px;
                    top: 7.2%;
                    left: 50%;
                    transform-origin:right;
                    transform: translate(-80%,0) scaleX(1) skewY(-29deg);
                    z-index: 2;
                }
                #hiding{
                    width: calc(100% - 400px);
                    max-width: 400px;
                    position: absolute;
                    z-index: 2;
                    top: 20%;
                    left: 47%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    overflow: hidden;
                    transition: .8s;
                    >img{
                        cursor: pointer;
                        box-sizing: border-box;
                        opacity: 0;
                        width: 0px;
                        background: url("../img/game_pullbox.png") center/cover ;
                        display: inline-block;
                        transition: .8s;
                        margin: 0px;
                    }
                }
                &.open{
                    #door1{
                        left: 50%;
                        transform: translate(-62.5%,0) scaleX(-.7) skewY(-30deg);
                    }
                    #door2{
                        left: 50%;
                        transform: translate(-156%,0) scaleX(1) skewY(15deg);
                    }
                    #inside.empty::after{
                        content: '空';
                        font-size: 30px;
                        line-height: 50px;
                        position: absolute;
                        top: 28.5%;
                        left: 50%;
                        padding: 10px;
                        width: 50px;
                        height: 50px;
                        margin: 10px 10px 0 0;
                        z-index: 3;
                        transform: translate(7%,0) skewY(29deg);
                        background: url("../img/game_pullbox.png") center/cover ;
                    }
                    #hiding{
                        >img{
                            padding: 10px;
                            opacity: 1;
                            width: 70px;
                            margin: 10px 10px 0 0;
                        }
                    }
                }
            }
            #bed{
                height: 34.2%;
                position: absolute;
                top: 53.4%;
                left: 50%;
                z-index: 3;
                transform: translate(-82.5%,0);
            }
            #pull_arrow{
                cursor: pointer;
                width: calc((100vh - 130px) * 0.06 );
                position: absolute;
                z-index: 2;
                top: 37%;
                left: 50%;
                transform: translate(-130%,0);
                animation: pull_arrow .5s infinite alternate;
            }
        }
    }
    
    #trashcan{
        z-index: 2;
        height: 80px;
        position: absolute;
        bottom: calc(20% + 10px);
        left: 10px;
        .pic img{
            cursor: pointer;
            height: 100%;
            position: absolute;
            bottom: 0px;
            left: 0;
            transition: .5s;
        }
        #garbage{
            width: calc(100vw - 180px);
            max-width: 700px;
            position: absolute;
            bottom: 0px;
            left: 80px;
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: start;
            overflow: hidden;
            transition: .5s;
            >img{
                cursor: pointer;
                box-sizing: border-box;
                opacity: 0;
                width: 0px;
                background: url("../img/game_pullbox.png") center/cover ;
                display: inline-block;
                transition: .5s;
                margin: 0px;
            }
        }
        &.open{
            &.empty::after{
                content: '空';
                font-size: 30px;
                line-height: 50px;
                position: absolute;
                top: 0;
                left: 80px;
                padding: 10px;
                width: 50px;
                height: 50px;
                margin: 10px 10px 0 0;
                z-index: 3;
                background: url("../img/game_pullbox.png") center/cover ;
            }
            .pic img{
                &:first-child{
                    bottom: 15px;
                    left: 5px;
                    transform: rotate(-30deg);
                }
            }
            #garbage{
                >img{
                    padding: 10px;
                    opacity: 1;
                    width: 70px;
                    margin: 10px 10px 0 0;
                }
            }
        }
    }

    .push{
        width: 100%;
        height: 20%;
        overflow: scroll;
        background-color: map-get($color, 'plain');
        #item_group{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-content: start;
            flex-wrap: wrap;
            img{
                cursor: pointer;
                width: calc((100vh - 120px) * 0.2 - 40px);
                margin: 10px;
                padding: 10px;
                display: inline-block;
                &.selected{
                    background: url("../img/game_focus.png") center/cover ;
                }
            }
            input{
                z-index: 2;
                position: absolute;
                bottom: 5vh;
                left: 50%;
                transform: translate(-50%,0);
                &:disabled{
                    display: none;
                }
            }
        }
    }
}
main{
    text-align: center;
}
label{
    display: inline-block;
    span{
        display: inline-block;
        position: relative;
        padding: 5px 50px 5px 5px ;
        &::after,
        &::before{
            content: '';
            width: 40px;
            height: 20px;
            border-radius: 10px;
            background-color: map-get($color, 'sub_blue');
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-100% ,-50%);
            border: 1px solid map-get($color, 'main');
        }
        &::after{
            width: 18px;
            height: 18px;
            background-color: map-get($color, 'main');
            border: none;
            transform: translate(calc(-200% - 4px) ,-50%);
            transition: .5s;
        }
    }
    input{
        display: none;
        &:checked{
            + span{
                &::before{
                    background-color: map-get($color, 'bg_pink');
                    border: 1px solid map-get($color, 'sub_brown');
                }
                &::after{
                    background-color: map-get($btn_color, 'orange');
                    transform: translate(calc(-100% - 2px) ,-50%);
                }
            }
        }
    }
}

.text_result{
    display: none;
    max-width: 980px;
    box-sizing: border-box;
    width: calc(100vw - 40px);
    height: calc(100vh - 130px);
    border-radius: 20px;
    border: 1px solid map-get($color, 'main');
    background-color: #2C2D48aa;
    margin: auto;
    margin-top: 80px;

    position: absolute;
    z-index: 3;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    overflow: hidden;
    .typewriter{
        width: 150%;
        position: absolute;
        z-index: 2;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%,60%);
        transition: .5s;
        &:first-child{
            transform: translate(-50%,-216%);
            z-index: -1;
        }
    }
    button{
        cursor: pointer;
        position: absolute;
        z-index: 2;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
    }
    .paper{
        margin:0 4.5%;
        width: 91%;
        height: 100%;
        overflow: scroll;
        h2{
            text-align: center;
            padding: 30px 0;
            margin-top: 100%;
            background-color: map-get($color, 'plain');
            position: relative;
            &::before,
            &::after{
                content: '';
                width: 70%;
                height: 3px;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translate(-50%);
                background-color: map-get($color, 'bg_pink');
            }
            &::after{
                width: 50%;
                bottom: -20px;
            }
        }
        h3{
            text-align: center;
            padding: 30px 0;
        }
        .result{
            padding: 5px 20px calc((100vw - 40px) * 0.6 * (544 / 1158) );
            background-color: map-get($color, 'plain');
            >h3{
                font-weight: 700;
                margin-top: 30px;
                border-top: 2px dashed map-get($color, 'main');
            }
            .evaluate{
                margin: 30px 0;
                div{
                    &:first-child{
                        text-align: center;
                    }
                }
                .pic{
                    width: 200px;
                    margin: auto;
                    img{
                        width: 100%;
                    }
                }
            }
            // .push_product,
            .push_service{
                max-width: 500px;
                margin: auto;
                border: 1px solid map-get($color, 'sub_blue');
                border-radius: 10px;
                background-color: map-get($color, 'bg_white');
                position: relative;
                h3{
                    padding: 15px 0 10px;
                }
                >h3{
                    padding: 20px;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    left: -5px;
                    z-index: 1;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 50px;
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: 0;
                        border-radius: 0 50px 50px 0;
                        transform: translate(0 ,-50%);
                        background-color: map-get($color, 'main');
                    }
                }
                img{
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                .txt{
                    padding: 0 20px 20px;
                    p{
                        text-align: center;
                    }
                    a{
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
            .push_products{
                overflow: scroll;
                margin: 0 -20px;
                >div{
                    display: flex;
                    width: 660px;
                    margin: auto;
                    // .push_product{
                    //     margin: 0 15px 20px;
                    //     width: 220px;
                    //     .txt{
                    //         padding: 20px;
                    //         height: 180px;
                    //         display: flex;
                    //         justify-content: space-between;
                    //         flex-direction: column;
                    //         p{
                    //             text-align: center;
                    //         }
                    //         a{
                    //             display: inline-block;
                    //             text-align: center;
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}

@keyframes pull_arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: .5;
    }
}

@media screen and (min-width: 768px) {
    .text_ill{
        width: calc(100vw - 60px);
    }
    .text_game{
        width: calc(100vw - 60px);
        .pull{
            .pullbox_group{
                .pullbox{
                    width: calc((100vh - 80px) * 0.8 * 0.125);
                    height: calc((100vh - 80px) * 0.8 * 0.125);
                }
            }
        }
    }
    .text_result{
        .typewriter{
            width: 120%;
            transform: translate(-50%,70%);
            &:first-child{
                transform: translate(-50%,-162%);
                z-index: -1;
            }
        }
        .paper{
            margin:0 13.5%;
            width: 73%;
            .result{
                padding: 5px 20px calc((100vw - 40px) * 1.2 * 0.3 * (544 / 1158) );
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .text_ill{
        max-width: 980px;
        .welcome{
            height: calc(100vh - 160px);
        }
        .intr{
            height: calc(100vh - 160px);
        }
    }
    .text_game{
        max-width: 980px;
        height: calc(100vh - 160px);
        display: flex;
        .pull{
            width: 855px;
            height: 100%;
            overflow: hidden;
            .pullbox_group{
                .pullbox{
                    width: calc((100vh - 150px) * 0.125);
                    height: calc((100vh - 150px) * 0.125);
                }
            }
        }
        .push{
            width: 125px;
            height: 100%;
            #item_group{
                width: 100%;
                flex-direction: row;
                img{
                    max-width: 100%;
                }
                input{
                    position: absolute;
                    bottom: 80px;
                    right: 120px;
                    left: auto;
                }
            }
        }
        #trashcan{
            bottom: 10px;
            left: 10px;
        }
    }
    .text_result{
        height: calc(100vh - 160px);
        .typewriter{
            width: 120%;
            transform: translate(-50%,80%);
            &:first-child{
                transform: translate(-50%,-107%);
                z-index: -1;
            }
        }
        .paper{
            .result{
                padding: 5px 20px 150px;
                .evaluate{
                    >div:last-child{
                        display: flex;
                        align-items: center;
                        .pic{
                            width: 300px;
                        }
                        .txt{
                            width: calc(100% - 300px);
                        }
                    }
                }
            }
        }
    }
}