// css基礎、共用設定

/*reset*/
@import  "../base/reset";
/*變數*/
@import  "../base/var";
/*顏色*/
@import  "../base/color";
/*格線*/
@import  "../bootstrap/scss/bootstrap";
/*其他共用*/
@import  "../base/universal";

/*css設定部分*/

/*手機板與電腦版共用部分*/

.index{
    width: 100%;
}

/*登陸section .index_landing*/
.index_landing {
    display: flex;
    background-color: map-get($color , "cover" );

    /*index頁面 landing section 滿屏*/
    .full_img{
        width: 50vw;
        height: 100vh;
    }
    /*index頁面 web_title 置中，padding-top = 50vh - (web_title.height/2) */
    .web_title{
        text-align: center;
        padding-top: calc(50vh - 200px);
        box-sizing: border-box;
    }

    .title_txt{
        p{
            padding-bottom: 15px;
        }
    }

    .logo_img{
        width: 180px;
        height: 200px;
    }
}

/*登陸section .index_slogan*/
.index_slogan{
    height: 120vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://picsum.photos/600/700/?random=1);
    background-size: cover;
    background-position: center center;

    .slogan{
        max-width: 1200px;
        color: map-get($font_color , "white" );
    }
}

/*服務section .index_plans*/
.index_plans{
    display: flex;
    
    h2{
        padding-bottom: 20px;
    }
    
    .plans_link, .plans_view{

        li{
            padding: 24px;

            span{
                font-size: $font_size_h3;
            }
        }
    }
    
    .plans_img{
        width: 50vw;
        height: 60vh;
    }
}

/*煩惱section .index_needs*/
.index_needs{
    background-color: #9E9A8E;

    h2{
        text-align: center;
        padding: 10vh 0;
    }

    .bubble {
        height: 40vh;
        width: 80%;
        min-width: 200px;
        background: map-get($color , "plain" );
        display: block;
        border-radius: 20px;
        font-size: 24px;
        text-align: center;
        margin: 10vh 10vw 0 10vw;
        box-sizing: border-box;
        position: relative;

        
    }

    ul:nth-child(n+2){
        li{
            
        }
    }
    
    .pointer:nth-child(n+1) {
        // height: 10vh;
        // width: 10vw;
        // background: map-get($color , "plain" );
        // transform: rotate(45deg);
        // border-radius: 6px;
        // position: relative;
        // right: 2vw;
        // bottom: -1vh;

        width: 0;
        height: 0;
        border-left: 3vh solid transparent;
        border-right: 5vh solid transparent;
        border-top: 10vh solid map-get($color , "plain" );
        position: absolute;
        top: 8vh;
        right: -3vw;
        transform: rotate(-120deg);
    }

    // .pointer {
    //     // height: 10vh;
    //     // width: 10vw;
    //     // background: map-get($color , "plain" );
    //     // transform: rotate(45deg);
    //     // border-radius: 6px;
    //     // position: relative;
    //     // right: 2vw;
    //     // bottom: -1vh;

    //     width: 0;
    //     height: 0;
    //     border-left: 3vh solid transparent;
    //     border-right: 5vh solid transparent;
    //     border-top: 10vh solid map-get($color , "plain" );
    //     position: absolute;
    //     top: 8vh;
    //     left: -3vw;
    //     transform: rotate(-120deg);
    // }
    
}

/*預約流程section .index_progress*/
.index_progress{
    height: 100vh;
}

/*手機板部分*/

@media screen and (max-width:768px) {
    
    /*登陸section .index_landing*/
    .index_landing {
        
        .web_title{
            text-align: center;
            height: 100vh;
        }

        .full_img{
            display: none;
        }
    }

    /*登陸section .index_slogan*/
    .index_slogan{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .slogan{
            max-width: 1200px;
            
            h2, p{
                padding: 20px;
            }
        }   
    }
    /*服務section .index_plans*/
    .index_plans{
        height: 80vh;
        flex-direction: column-reverse;
        justify-content: center;
        position: relative;

        h2{
            padding-left: 20px;
        }

        .plans_link{
            position: relative;
        }

        .plans_view{
            height: 45vh;
            position: absolute;
            bottom: 0%;
            background: 
            linear-gradient(to bottom, rgba(255,255,255,1),
                rgba(255,255,255,0)),url(https://picsum.photos/600/700/?random=1) center bottom no-repeat;
            background-repeat: no-repeat;
        }

        .plans_img{
            display: none;
        }

        li{
            text-align: right;

            svg{
                width: 20px;
                fill: map-get($color , "main" );
            }
        }
    }
}
    
    

/*電腦版部分*/

@media screen and (min-width:769px) {
    /*登陸section .index_slogan*/
    .index_slogan{

        .slogan{
            max-width: 1200px;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin: auto;
            overflow: hidden;
            
            h2, p{
                animation: blur_word;
                animation-duration: 15s;
                animation-delay: 2s;
                @keyframes blur_word {
                    0% {
                        opacity: 0;
                        filter: blur(12px);
                        transform: scale(1.2, 1.2);
                    }
                    100% {
                        opacity: 1;
                        filter: blur(0px);
                        transform: scale(1);
                    }
                }
            }
        }
    }

    /*服務section .index_plans*/
    .index_plans{
        height: 120vh;

        .plans_link, .plans_view{
            margin: auto;
        }
        .plans_link{
            padding-left: 5vw;
            box-sizing: border-box;
        }

        
        li{
            white-space: nowrap;
            letter-spacing: .3em;
            svg{
                display: none;
            }
        }

    }

}
