@import  "../base/var";
@import "../base/color";
*,
*::after,
*::before {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  user-select: none;
}
// 手機
@media  screen and (max-width:768px){
  .lo_or_si{
    margin: auto;
    position: absolute;
    display: inline-block;
    top: -7%;
    left: 2%;
    button{
      width: 150px;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
    }
  }
  main {
    position: relative;
    width: 80%;
    height: 500px;
    padding: 25px;
    border: 2px dashed #ddd;
    border-radius: 12px;
    // overflow: hidden;
    margin:140px auto 10px auto;
    background-color: map-get($color,"sub_blue");
  }
  .signup_container,
  .login_container{
    .form{
      text-align: center;
    }
  }
  .container {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
  }
  .login_container{
    display: none;
  }
  .switch{
    display: none;
  }
  
}


// 桌機
@media  screen and (min-width:768px){
  .lo_or_si{
    display: none;
  }
  main {
    position: relative;
    width: 80%;
    height: 600px;
    padding: 25px;
    border: 2px dashed #ddd;
    border-radius: 12px;
    overflow: hidden;
    margin:80px auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .form_icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: 0.5;
    transition: 0.15s;
  }
  .form_icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
  }
  
  .form_span {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .form_link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
  }
  
  
  .signup_container {
    z-index: 100;
    left: 50%;
  }
  
  .login_container {
    left: calc(100% - 600px);
    z-index: 0;
  }
  
  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #d6aa81;
    overflow: hidden;
  }
  #switch-c1{
    height: 100%;
    background-color:cadetblue;
  }
  
  .switch_circle--t {
    top: -30%;
    left: 60%;
    width: 50%;
    height: 300px;
  }
  .switch_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 50px 55px;
    transition: 1.25s;
  }
  .switch_button {
    cursor: pointer;
  }
  .switch_button:hover {
    transform: scale(0.985);
    transition: 0.25s;
  }
  
  .is-txr {
    left: 50%;
    transition: 1.25s;
    transform-origin: left;
  }
  
  .is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
  }
  
  .is-z200 {
    z-index: 200;
    transition: 1.25s;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
  }
  
  .is-gx {
    animation: is-gx 1.25s;
  }
}


