@import  "../base/color";
// 手機版
.mall_btn{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-top: 20px;
    .btn_btn{
        cursor: pointer;
    }
}
.container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    .mall_item{
        margin: 30px 10px;
        width: calc(50% - 20px);
        .mall_img{
            img{
                width: 100%;
                border-radius: 5%;
            }
        }
        h3{
            margin-left: 5px;
            margin-top: 5px;
            font-size: 18px;
        }
        p{
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    input[type=button]{
        width: 140px;
    }
    input[type=button]:hover{
        cursor: pointer;
    }
    #npimg{
        display: none;
    }
    .mall_nextpagebtn{
    display: flex;
    justify-content: center;
    }
}

// 桌機版
@media (min-width: 1200px) {
    .mall_btn{
        padding-top: 30px;
        .btn_btn{
            margin: 0px 30px;
        }
    }
    .container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .mall_item{
            margin: 40px 10px;
            width: calc(25% - 20px);
            .mall_img{
                img{
                    width: 100%;
                }
            }               
            h3{
                margin-left: 10px;
                margin-top: 10px;
            }
            p{
                margin-left: 10px;
                margin-top: 5px;
            }
        }
        input[type=button]{
            width: 140px;
        }
        input[type=button]:hover{
            cursor: pointer;
        }
        #npimg{
            display: none;
            width: 1200px;
        }
        .mall_nextpagebtn{
        width: 1200px;
        display: flex;
        justify-content: center;
        }
    }             
}