@import '../base/var';
@import '../base/color';
@import '../module/btn';
// .header_elements{
//     margin-bottom: 100px;
//     position: relative;
    
// }
// 會員資料開始-------------------------------------------------

input{
    font-size: 14px;
}
.title_color{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    // border-radius:19px 19px 0px 0px ;
    background-color: #d6aa81;
    border: #d6aa81 1px solid;
    // color: opacity($color: #000000);
}

.data_button .con_data a{
    cursor: pointer; 
} 

// 手機-------------------------------
@media  screen and (max-width:768px){
    main{
        margin-top: 80px;
        .data_column{
            margin: auto;
            width: 95%;
            background-color: #f5dfb0;
            border-radius:20px;
            display: flex;
            
            .mem_icon{
                display: none;
                // margin: auto;
                text-align: center;
                margin: auto;
                width: 80px;
                img{
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    // width: 100%;
                    border-radius: 50%;  
                }
            }
            .id{
                text-align: center;
                line-height: 2;
                margin: auto;
            }
            .data_button{
                margin: auto;
                // display: flex;
                text-align: center;
                flex-wrap: wrap;
                line-height: 2;
                input{
                    display: none;
                    &:checked{
                        ~label{
                            .up_down{
                                transform:rotate(0deg);
                            }
                        }
                        ~.con_data{
                            line-height: 1.5em;
                            a{
                                display: block;
                                cursor: pointer; 
                            }
                        }
                    }
                }
                label{
                    .mem{
                        display: flex;
                        padding: 10px 0;
                        font-size: 24px;
                        width: 100%;
                        cursor: pointer;
                        .up_down{
                            margin-top: 30px;
                            margin-left: 10px;
                            width: 30px;
                            height: 30px;
                            transition: .5s;
                            transform:rotate(180deg);
                        }
                        // &::before
                        // {
                        //     transition: .5s;
                        //     content: '';
                        //     position: absolute;
                        //     top: 120px;
                        //     right: 118px;
                        //     transform: translate(-2px,-50%) rotate(45deg);
                        //     border:1px solid black;
                        //     border-width: 0 2px 2px 0;
                        //     display: inline-block;
                        //     padding: 10px;
                            
                        // }
                        // &::after{
                        //     transform: translate(-2px,-50%) rotate(-90deg);
                        // }
                    }
                    
                }

                .con_data{
                    line-height: 0em;
                    transition: .5s;
                    overflow: hidden;

                    a{
                        display: none;
                        margin: auto;
                        font-size: 16px;
                        line-height: 1.5;
                        margin: auto 10px;
                        cursor: pointer; 
                    }
                }
                
            }
        }
        .data_con{
            width: 95%;
            margin: 30px auto;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
            overflow: hidden;
            .data_mem{
                .icon_edit{
                    .mem_icon{
                        margin:10px auto;

                        max-width: 200px;
                        max-height: 200px;
                        img{
                            object-fit: cover;
                            width: 200px;
                            height: 200px;
                            // width: 100%;
                            border-radius: 50%;
                            margin-bottom: 5px;
                        }
                    }
                    #btnUpload{
                        // display: block;
                        width: 110px;
                        margin: auto;
                        text-align: center;
                    }
                }
                .mem_txt{
                    width: 80%;
                    // height: 400px;
                    border: #d6aa81 2px solid;
                    background: #fff;
                    border-radius: 20px;
                    margin: 20px auto;
                    margin-top: 55px;
                    line-height: 3;
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-bottom: 60px;
                    position: relative;
                    button{
                        position: absolute;
                        right: 5%;
                        // bottom: 0;
                        padding: 4px 10px;
                    }
                    .cancel{
                        right: auto;
                        left: 5%;
                    }
                    .item_box{
                        margin: 15px 0px;
                        label{
                            margin: 20px auto;
                            
                        }
                        .gender{
                            display: flex;
                            ul{
                                li{
                                    display: inline-block;
                                    label{
                                        span{
                                            bottom: 0;
                                            margin: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }

    }
}



// 桌機-------------------------------
@media  screen and (min-width:768px){
    main{
        display: flex;
        height: 100%;
        .data_column{
            width: 15%;
            height: calc(100vh - 80px);
            margin-top: 80px;
            // margin:90px auto 0px;
            // overflow: auto;
            min-height: 530px;
            // overflow-x: hidden;
            display: block;
            background-color: #f5dfb0;
            border-top-right-radius:80px;
            .mem_icon{
                // margin: auto;
                text-align: center;
                margin: 20px 0px;
                margin-top: 100px;
                img{
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }
            .id{
                text-align: center;
                line-height: 2;
            }
            .data_button{
                // flex-direction: column;
                text-align: center;
                line-height: 2;
                a{
                    display: block;
                    margin: auto;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .data_button{
            .id{
                .mem{
                    .mem_p{
                        p{
                            span{
                                display: block;
                                margin: 18px 0px;
                                font-size: 10px;
                            }
                        }
                    }
                    .up_down{
                        display: none;
                    }
                }
            }
        }
        .data_con{
            width: 70%;
            height: calc(100vh - 100px);
            margin:90px auto 0px;
            min-height: 510px;
            overflow: auto;
            overflow-x: hidden;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
            .data_mem{
                display: flex;
                // height: 90%;
                margin:5% 0 0 0;
                // justify-content: space-between;
                .icon_edit{
                    .mem_icon{
                        margin: 20px 40px;
                        max-width: 200px;
                        max-height: 200px;
                        img{
                            object-fit: cover;
                            width: 200px;
                            height: 200px;
                            // width: 100%;
                            border-radius: 50%;
                        }
                    }
                    #btnUpload{
                        // display: block;
                        width: 110px;
                        margin: auto;
                        text-align: center;
                    }
                }
                .mem_txt{
                    width: 60%;
                    border: #d6aa81 2px solid;
                    background: #fff;
                    border-collapse: separate;
                    border-radius: 20px;
                    margin: auto;
                    line-height: 3;
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-bottom: 143px;
                    position: relative;
                    // z-index: -1;
                    p{
                        margin-top: 40px;
                    }
                    button{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                    .cancel{
                        right: 144px;
                    }
                    .gender{
                        margin-top: 40px;
                        display: flex;
                        p{
                            margin-top: 0;
                        }
                        ul{
                            li{
                                display: inline-block;
                                label{
                                    span{
                                        bottom: 0;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    

}

// 會員資料結束-----------------------------------------------------

// 商品訂單開始-----------------------------------------------------
.memberOrder,.memberReserve {
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    width: 90%;
    
    .memberOrderContent {
        // table-layout:fixed;
        width: 100%;
        border: solid 1px map-get($color, "sub_brown");
        border-collapse: collapse;
        .memberGrid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            .memberReceiverID {
                //詳細資料
                color: map-get($btn_color, "deep_blue");
                cursor: pointer;
            }
        }
    }
    .memberReserveContent {
        // table-layout:fixed;
        width: 100%;
        border: solid 1px map-get($color, "sub_brown");
        border-collapse: collapse;
        .memberGrid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            .memberReceiverID {
                //詳細資料
                color: map-get($btn_color, "deep_blue");
                cursor: pointer;
            }
        }
    }


}

 /* 第一行 */
.memberGrid1,
.memberGrid2,
.memberGrid3,
.memberGrid4,
.memberGrid5,
.memberGrid6,
.memberGrid7,
.memberGrid8 {
    background-color: map-get($color, "sub_brown");
    color: #fff;
    padding: 7px 0 7px 0;
    padding-left: 10px;
}

 /* 第二行 */
.memberGrid9,
.memberGrid10,
.memberGrid11,
.memberGrid12,
.memberGrid13,
.memberGrid14,
.memberGrid15,
.memberGrid16 {
    background-color: #f8f0e0;
    color: map-get($color, "sub_brown");
    padding: 15px 0 15px 0;
    padding-left: 10px;
}
/* 訂單明細==================== */
.memberOrderDetail,.memberReserveDetail {
    width: 100%;
    border: solid 1px map-get($color, "sub_blue");
    border-collapse: collapse;
    font-size: 14px;
    margin: 0;
}
 /* 第一行 */
.memberOrderDetail .memberOrderD1,.memberReserveDetail .memberReserveD1{
    background-color: map-get($color, "sub_blue");
    color: #fff;
    padding: 5px 0 5px 10px;
}

.memberOrderDetail .memberOrderD1 div:nth-child(1),.memberReserveDetail .memberReserveD1 div:nth-child(1){
    /* width: 30%; */
   width: 260px;
   min-width: 150px;
   display: inline-block;
}
.memberOrderDetail .memberOrderD1 div:nth-child(2),.memberReserveDetail .memberReserveD1 div:nth-child(2){
    /* width: 10%; */
   width: 100px;
   display: inline-block;
}
.memberOrderDetail .memberOrderD1 div:nth-child(3),.memberReserveDetail .memberReserveD1 div:nth-child(3){
    /* width: 10%; */
   width: 100px;
   display: inline-block;
}

 /* 第二行 */
.memberOrderDetail .memberOrderD2,.memberReserveDetail .memberReserveD2{
    display: flex;
    padding: 5px 5px 5px 10px;
}

.memberOrderDetail .memberOrderD2 img,.memberReserveDetail .memberReserveD2 img{
    max-width: 50px;
}
.memberOrderDetail .memberOrderD2 div,.memberReserveDetail .memberReserveD2 div{
    padding-top: 19px;
}
.memberOrderDetail .memberOrderD2 div:nth-child(2),.memberReserveDetail .memberReserveD2 div:nth-child(2){
    padding-left: 10px;
    width: 215px;
    min-width: 105px;
}
.memberOrderDetail .memberOrderD2 div:nth-child(3),.memberReserveDetail .memberReserveD2 div:nth-child(3){
    width: 100px;
}

/* rwd */
@media  screen and (max-width:768px) {
    .memberAll {
        width: 75%;
        margin: 0 auto;
    }
    // 商品訂單查詢表格
    .memberOrder .memberOrderContent {
        .memberGrid {
            grid-template-columns: repeat(4, 1fr);
            // grid-auto-flow:發現前面有空位的話，就去補他
            grid-auto-flow: dense;
        }
        .memberGrid5 {
            grid-column: 1;
            grid-row: 3;
        }
        .memberGrid6 {
            grid-column: 2;
            grid-row: 3;
        }
        .memberGrid7 {
            grid-column: 3;
            grid-row: 3;
        }
        .memberGrid8 {
            grid-column: 4;
            grid-row: 3;
        }
    }

    // 服務預約查詢表格
    // 商品訂單查詢表格
    .memberReserve .memberReserveContent {
        .memberGrid {
            grid-template-columns: repeat(3, 1fr);
            // grid-auto-flow:發現前面有空位的話，就去補他
            grid-auto-flow: dense;
        }
        .memberGrid4 {
            grid-column: 1;
            grid-row: 3;
        }
        .memberGrid5 {
            grid-column: 2;
            grid-row: 3;
        }
        .memberGrid6 {
            grid-column: 3;
            grid-row: 3;
        }
        .memberGrid7 {
            grid-column: 4;
            grid-row: 3;
        }
    }
    
    // 標題改為滑動的方式
    .memberLine {
        overflow-x: auto;
        height: 40px;
        h4 {
            white-space: nowrap;
            border-bottom: 2px solid #cba89a;
            padding-bottom: 7px;
            margin-right: 15px;
            margin-left: 5%;
            margin-right: 5%;
            flex: 0;
        }
        h4:first-child {
            margin-left: 0;
        }
        .underLine{
            display: none;
        }
        // 點擊後底線變色
        .mClicked{
            border-bottom: 2px solid #172852;
        }
    }
    .memberLine::-webkit-scrollbar {
        display: none
    }
}
@media  screen and (max-width:575px) {
    .memberAll {
        width: 90%;
        
        // 手機版本標題改為滑動的方式
        // 會員資料表格
        .memberPart1 {
            .label input {
                width: 270px;
            }
        }
        

        // 訂單查詢 明細
        .memberOrderDetail .memberOrderD1{
            span:nth-child(1){
                width: 200px;
                min-width: 150px;
                display: inline-block;
            }
            span:nth-child(2){
                width: 60px;
                display: inline-block;
            }
        } 
        .memberOrderDetail .memberOrderD2{
            div:nth-child(2){
                width: 155px;
                min-width: 105px;
            }
            div:nth-child(3){
                width: 60px;
            }
        }
    }
}
// 新增商品動單跟預約訂單的明細排版
main{
    .data_con{
        .data_list{
            display: block;
        }
    }
}

// ------------ 3/11新增
#btnCancel,#btnSave,#btnUpload{
    display: none;
}
#upFile{ // 上傳照片的input
    display: none;
}
// #upFile ~ label{

// }


