@import '../base/var';
@import '../base/color';
@import '../module/btn';
// .header_elements{
//     margin-bottom: 100px;
//     position: relative;
    
// }
// 會員資料開始-------------------------------------------------

input{
    font-size: 14px;
}
.title_color{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    border-radius:19px 19px 0px 0px ;
    background-color: #d6aa81;
    border: #d6aa81 1px solid;
    // color: opacity($color: #000000);
}

.data_button .con_data a{
    cursor: pointer; 
} 

// 手機-------------------------------
@media  screen and (max-width:768px){
    main{
        margin-top: 80px;
        .data_column{
            margin: auto;
            width: 95%;
            background-color: #f5dfb0;
            border-radius:20px;
            display: flex;
            
            .mem_icon{
                display: none;
                // margin: auto;
                text-align: center;
                margin: auto;
                width: 80px;
                img{
                    width: 80px;
                    height: 80px;
                    // width: 100%;
                    border-radius: 50%;  
                }
            }
            .id{
                text-align: center;
                line-height: 2;
                margin: auto;
            }
            .data_button{
                margin: auto;
                // display: flex;
                text-align: center;
                flex-wrap: wrap;
                line-height: 2;
                input{
                    display: none;
                    &:checked{
                        ~label{
                            .up_down{
                                transform:rotate(0deg);
                            }
                        }
                        ~.con_data{
                            line-height: 1.5em;
                            a{
                                display: block;
                                cursor: pointer; 
                            }
                        }
                    }
                }
                label{
                    .mem{
                        display: flex;
                        padding: 10px 0;
                        font-size: 24px;
                        width: 100%;
                        cursor: pointer;
                        .up_down{
                            margin-top: 30px;
                            margin-left: 10px;
                            width: 30px;
                            height: 30px;
                            transition: .5s;
                            transform:rotate(180deg);
                        }
                        // &::before
                        // {
                        //     transition: .5s;
                        //     content: '';
                        //     position: absolute;
                        //     top: 120px;
                        //     right: 118px;
                        //     transform: translate(-2px,-50%) rotate(45deg);
                        //     border:1px solid black;
                        //     border-width: 0 2px 2px 0;
                        //     display: inline-block;
                        //     padding: 10px;
                            
                        // }
                        // &::after{
                        //     transform: translate(-2px,-50%) rotate(-90deg);
                        // }
                    }
                    
                }

                .con_data{
                    line-height: 0em;
                    transition: .5s;
                    overflow: hidden;

                    a{
                        display: none;
                        margin: auto;
                        font-size: 16px;
                        line-height: 1.5;
                        margin: auto 10px;
                        cursor: pointer; 
                    }
                }
                
            }
        }
        .data_con{
            width: 95%;
            margin: 30px auto;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
            .data_mem{
                .icon_edit{
                    .mem_icon{
                        margin:10px auto;

                        max-width: 200px;
                        max-height: 200px;
                        img{
                            width: 200px;
                            height: 200px;
                            // width: 100%;
                            border-radius: 50%;
                        }
                    }
                    button{
                        display: block;
                        // height: 50px;
                        margin: auto;
                    }
                }
                .mem_txt{
                    width: 80%;
                    // height: 400px;
                    border: #d6aa81 2px solid;
                    background: #fff;
                    border-radius: 20px;
                    margin: 20px auto;
                    line-height: 3;
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-bottom: 60px;
                    position: relative;
                    button{
                        position: absolute;
                        right: 3%;
                        // bottom: 0;
                        padding: 4px 10px;
                    }
                    .item_box{
                        margin: 15px 0px;
                        label{
                            margin: 20px auto;
                            
                        }
                        .gender{
                            display: flex;
                            ul{
                                li{
                                    display: inline-block;
                                    label{
                                        span{
                                            bottom: 0;
                                            margin: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }

    }
}



// 桌機-------------------------------
@media  screen and (min-width:768px){
    main{
        display: flex;
        height: 100%;
        .data_column{
            width: 15%;
            height: calc(100vh - 80px);
            margin-top: 80px;
            // margin:90px auto 0px;
            // overflow: auto;
            min-height: 530px;
            // overflow-x: hidden;
            display: block;
            background-color: #f5dfb0;
            border-top-right-radius:80px;
            .mem_icon{
                // margin: auto;
                text-align: center;
                margin: 20px 0px;
                margin-top: 100px;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }
            .id{
                text-align: center;
                line-height: 2;
            }
            .data_button{
                // flex-direction: column;
                text-align: center;
                line-height: 2;
                a{
                    display: block;
                    margin: auto;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .data_button{
            .id{
                .mem{
                    .up_down{
                        display: none;
                    }
                }
            }
        }
        .data_con{
            width: 70%;
            height: calc(100vh - 100px);
            margin:90px auto 0px;
            min-height: 510px;
            overflow: auto;
            overflow-x: hidden;
            background-color: #f3f3ed;
            border: #d6aa81 2px solid;
            border-radius: 20px;
            flex-direction: row;
            .data_mem{
                display: flex;
                height: 90%;
                // justify-content: space-between;
                .icon_edit{
                    .mem_icon{
                        margin: 20px 40px;
                        max-width: 200px;
                        max-height: 200px;
                        img{
                            width: 200px;
                            height: 200px;
                            // width: 100%;
                            border-radius: 50%;
                        }
                    }
                    button{
                        display: block;
                        // height: 50px;
                        margin: auto;
                    }
                }
                .mem_txt{
                    width: 60%;
                    border: #d6aa81 2px solid;
                    background: #fff;
                    border-collapse: separate;
                    border-radius: 20px;
                    margin: auto;
                    line-height: 3;
                    box-sizing: border-box;
                    padding-left: 20px;
                    padding-bottom: 90px;
                    position: relative;
                    // z-index: -1;
                    p{
                        margin-top: 40px;
                    }
                    button{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                    .gender{
                        margin-top: 40px;
                        display: flex;
                        p{
                            margin-top: 0;
                        }
                        ul{
                            li{
                                display: inline-block;
                                label{
                                    span{
                                        bottom: 0;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    

}

// 會員資料結束-----------------------------------------------------

// 商品訂單開始-----------------------------------------------------
.memberOrder {
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    width: 90%;
    
    .memberOrderContent {
        // table-layout:fixed;
        width: 100%;
        border: solid 1px map-get($color, "sub_brown");
        border-collapse: collapse;
        .memberGrid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            .memberReceiverID {
                //詳細資料
                color: map-get($btn_color, "deep_blue");
                cursor: pointer;
            }
        }
    }


}

 /* 第一行 */
.memberGrid1,
.memberGrid2,
.memberGrid3,
.memberGrid4,
.memberGrid5,
.memberGrid6,
.memberGrid7,
.memberGrid8 {
    background-color: map-get($color, "sub_brown");
    color: #fff;
    padding: 7px 0 7px 0;
    padding-left: 10px;
}

 /* 第二行 */
.memberGrid9,
.memberGrid10,
.memberGrid11,
.memberGrid12,
.memberGrid13,
.memberGrid14,
.memberGrid15,
.memberGrid16 {
    background-color: #f8f0e0;
    color: map-get($color, "sub_brown");
    padding: 15px 0 15px 0;
    padding-left: 10px;
}


/* 收貨進度=================== */

.memberProgressAll {
    display: flex;
    border: solid 1px map-get($color, "sub_brown");
    margin-top: -2px;
    width: 100%;
    .dot_box{
        margin: auto;
    }
    
}

.memberProgressAll>div {
    /* border: 1px solid red; */
    padding: 10px 5% 10px 5%;
}


/* 進度條 */

.memberProgressAll div .memberProgressDot {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.memberProgressAll div .memberProgressDot div {
    position: relative;
    /* 給dot_check定位 */
}


/* 進度小點 */

.memberProgressAll div .memberProgressDot div:nth-child(2n+1) {
    width: 12px;
    height: 12px;
    /* background-image: url(../images/member/checkcircle.png); */
    background-repeat: no-repeat;
    background-size: contain;
    border: 3.5px solid map-get($color, "sub_blue"); 
    background-color: #fff;
    border-radius: 50px;
}

.memberUnchecked {
    border-radius: 50px;
    border: 3.5px solid map-get($color, "sub_blue");
    background-color: #fff;
}


/* 進度線條 */

.memberProgressAll>div:first-child {
    width: 80%;
    /* border: 1px solid black; */
}

.memberProgressAll div .memberProgressDot div:nth-child(2n) {
    width: 33%;
    height: 2px;
    background-color:map-get($color, "sub_blue");
}

 /* .memberProgressAll div .memberProgressDot div.memberLineCheck { */
     /* background-color: #f7c242; */
 /* } */


/* 進度文字 */

.memberProgressAll div .memberProgressWord {
    color: map-get($color, "sub_blue");
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: -25px;
}


/* 再次購買 */

.memberProgressAll>div:last-child {
    display: flex;
    flex-direction: column;
}

.memberProgressAll div .memberBuyAgain {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 22px;
    font-size: 10px;
    border-radius: 25px;
    background-color: map-get($color, "main");
    color: #f0ebe9;
    border: none;
    align-self: center;
     /* margin-right: 28px; */
    margin-top: 5px;
    cursor: pointer;
}

.memberProgressAll div .noshow {
    display: none;
}


/* 明細鈕 */

// .memberProgressAll div .memberOpenDetail {
//     margin: 0 auto;
//     display: block;
//     width: 80px;
//     height: 22px;
//     font-size: 10px;
//     border-radius: 25px;
//     background-color: #172852;
//     color: #f0ebe9;
//     border: none;
//     align-self: center;
//      /* margin-right: 28px; */
//     cursor: pointer;
// }

// .memberProgressAll div .close_detail {
//     background-color: #647bb5;
// }

/* 訂單明細==================== */
.memberOrderDetail {
    width: 100%;
    border: solid 1px map-get($color, "sub_blue");
    border-collapse: collapse;
    font-size: 14px;
    margin: 0;
}
 /* 第一行 */
.memberOrderDetail .memberOrderD1{
    background-color: map-get($color, "sub_blue");
    color: #fff;
    padding: 5px 0 5px 10px;
}

.memberOrderDetail .memberOrderD1 div:nth-child(1){
    /* width: 30%; */
   width: 260px;
   min-width: 150px;
   display: inline-block;
}
.memberOrderDetail .memberOrderD1 div:nth-child(2){
    /* width: 10%; */
   width: 100px;
   display: inline-block;
}
.memberOrderDetail .memberOrderD1 div:nth-child(3){
    /* width: 10%; */
   width: 100px;
   display: inline-block;
}

 /* 第二行 */
.memberOrderDetail .memberOrderD2{
    display: flex;
    padding: 5px 5px 5px 10px;
}

.memberOrderDetail .memberOrderD2 img{
    max-width: 50px;
}
.memberOrderDetail .memberOrderD2 div{
    padding-top: 19px;
}
.memberOrderDetail .memberOrderD2 div:nth-child(2){
    padding-left: 10px;
    width: 215px;
    min-width: 105px;
}
.memberOrderDetail .memberOrderD2 div:nth-child(3){
    width: 100px;
}


/* 收件人詳細資訊============= */

// .receiverDetail {
//     display: none;
//     /* border: 1px solid red; */
//     width: 430px;
//     height: 260px;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: 10px;
//     box-shadow: 0px 10px 32px 0 rgba(23, 40, 82, 0.6);
//     background-color: #fff;
//     z-index: 920;
// }

// .receiverDetail div {
//     padding: 20px 0 0px 0;
// }

// .receiverDetail div p {
//     /* border: 1px solid blue; */
//     text-align: center;
//     padding: 0;
//     margin: 0;
//     margin-bottom: 10px;
// }

// .receiverDetail div p input {
//     width: 250px;
//     /* margin-bottom: 10px; */
//     padding: 10px;
//     border-radius: 5px;
//     background-color: #f0ebe9;
//     border: none;
//     color: #172852;
// }

// .receiverDetail>button {
//     margin: 0 auto;
//     /* @include btn(); */
//     margin-top: 25px;
// }


/* rwd */
@media  screen and (max-width:768px) {
    .memberAll {
        width: 75%;
        margin: 0 auto;
    }
    // 訂單查詢表格
    .memberOrder .memberOrderContent {
        .memberGrid {
            grid-template-columns: repeat(4, 1fr);
            // grid-auto-flow:發現前面有空位的話，就去補他
            grid-auto-flow: dense;
        }
        .memberGrid5 {
            grid-column: 1;
            grid-row: 3;
        }
        .memberGrid6 {
            grid-column: 2;
            grid-row: 3;
        }
        .memberGrid7 {
            grid-column: 3;
            grid-row: 3;
        }
        .memberGrid8 {
            grid-column: 4;
            grid-row: 3;
        }
    }
    // 收藏商品管理
    .memberPart5 {
        .memberLikePack {
            width: calc((100% - 75px)/4);
            
        }
        .memberLikePack:nth-child(5n+1) {
            margin-left: 20px;
        }
        .memberLikePack:nth-child(4n+1) {
            margin-left: 0;
        }

        .memberFavoriteName{
                display: none;
                position: absolute;
                padding-top: 42%;
                top: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                color: #172852;
                background-color: rgba(255,255,255,.5);
                // &:hover{
                //     display: block;
                // }
            }
    }
    // 標題改為滑動的方式
    .memberLine {
        overflow-x: auto;
        height: 40px;
        h4 {
            white-space: nowrap;
            border-bottom: 2px solid #cba89a;
            padding-bottom: 7px;
            margin-right: 15px;
            margin-left: 5%;
            margin-right: 5%;
            flex: 0;
        }
        h4:first-child {
            margin-left: 0;
        }
        .underLine{
            display: none;
        }
        // 點擊後底線變色
        .mClicked{
            border-bottom: 2px solid #172852;
        }
    }
    .memberLine::-webkit-scrollbar {
        display: none
    }
}
@media  screen and (max-width:575px) {
    .memberAll {
        width: 90%;
        
        // 手機版本標題改為滑動的方式
        // 會員資料表格
        .memberPart1 {
            .label input {
                width: 270px;
            }
        }
        // 訂單查詢 進度條
        .memberProgressAll {
            >div:first-child {
                margin-left: 5%;
            }
            flex-direction: column;
            div .memberProgressWord {
                margin-left: 0;
            }
            div .memberProgressDot {
                margin-left: 25px;
            }
        }

        // 訂單查詢 明細
        .memberOrderDetail .memberOrderD1{
            span:nth-child(1){
                width: 200px;
                min-width: 150px;
                display: inline-block;
            }
            span:nth-child(2){
                width: 60px;
                display: inline-block;
            }
        } 
        .memberOrderDetail .memberOrderD2{
            div:nth-child(2){
                width: 155px;
                min-width: 105px;
            }
            div:nth-child(3){
                width: 60px;
            }
        }

        // 收藏商品管理
        .memberPart5 {
            .memberLikePack {
                width: calc((100% - 25px)/2);
            }
            .memberLikePack:nth-child(5n+1) {
                margin-left: 20px;
            }
            .memberLikePack:nth-child(4n+1) {
                margin-left: 20px;
            }
            .memberLikePack:nth-child(2n+1) {
                margin-left: 0;
            }
        }
    }
}

