@import  "../base/color";

h3{
    margin-left: 20px;
    margin-top: 20px;
}
p{
    padding-top: 10px;
}
.prod_con{
    margin: auto;
    margin-top: 70px;
    // padding-top: 40px;
    .prod_row{
        width: 100%;
        .prod_txt{
            margin: 10px auto 0 auto;
            p{
                margin: 0px 20px;
            }
            .prod_price{
                margin-top: 20px;
                font-size: 24px;
            }
            .prod_amount{
                padding: 20px;
                margin-top: 20px;
                display: flex;
                p{
                    padding-top: 10px;
                    padding-right: 20px;
                }
                .prod_minbtn{
                    padding: 10px;
                    input[type=text]{
                        background-color: #fff;
                        border: none;
                        box-shadow: none;
                    }
                    input[type=button]{
                        background-color: #fff;
                        border: 1px solid;
                        border-radius: 50%;
                        font-size: 12px;
                        padding: 10px 20px;
                    }
                    input[type=button]:hover{
                        background-color: map-get($btn_color, "blue" );
                        color: map-get($font_color, "white" );
                        cursor: pointer;
                    }
                    .qtybox{
                        width: 50px;
                        text-align: center;
                        outline: none;
                        font-size: 18px;
                    }
                    .btn_btn_box{
                        padding: 10px;
                    }
                }
            }
        }
        .largeimg{
            margin: 10px 0px;
            img{
                width: 100%;
            } 
        }
        .prod_item{
        justify-content: space-between;
        display: flex;
        width: 100%;
            .smallimg{
                width: calc(100% / 3 - 20px);
            }
            .prod_img{
                margin: 10px 0px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
        .prod_btn{
            margin-top: 80px;
        }
    }
    // 商品介紹
    .prod_derow{
        width: 100%;
        justify-content: space-between;
        margin: 50px 0px;
        .prod_warpper{
            width: 100%;
            img{
                width: 90%;
                display: block;
                margin: auto;
            }
            .prod_txt{
                width: 90%;
                display: block;
                margin: auto;
                h3{
                    margin-top: 20px;
                }
                p{
                    text-align: justify;
                }
            }
        }
    }
    #derow_change{
        flex-direction: row-reverse;
    }
    // 商品規格
    .prod_sprow{
        width: 90%;
        margin: auto;
        img{
            width: 100%;
            margin: 50px 0px;
        }
        .img_com{
            display: none;
        }
        .img_cell{
            display: block;
        }
    }
    // 推薦商品
    .prod_rerow{
        width: 100%;
        margin-top: -50px;
        .reitem_btn{
            visibility: hidden;
        }
        .prod_reitem{
            margin: 20px 20px ;
            .btn_btn_box{
                padding: 10px;
                display: flex;
                justify-content: center;
            }            
            .btn_xshidden{
                visibility: hidden;
            }
            img{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            h3{
                text-align: center;
            }
            p{
                text-align: center;
                margin-bottom: 10px;
            }
        }
        .reitem_goods{
            border: 2px solid map-get($color, 'main');
            border-radius: 10px;
            background-color: map-get($color, 'bg_white');
            position: relative;
        }
    }
} 
.pointer{
    cursor: pointer;
}
.htop1{
    font-size: 32px;
}
.htop2{
    font-size: 32px;
}

// 手機版
@media (min-width: 768px){
    h3{
        margin-left: 20px;
        margin-top: 20px;
    }
    p{
        padding-top: 10px;
    }
    .prod_con{
        margin: auto;
        margin-top: 70px;
        // padding-top: 40px;
        .prod_row{
            width: 100%;
            .prod_txt{
                margin: 10px auto 0 auto;
                p{
                    margin: 0px 20px;
                }
                .prod_price{
                    margin-top: 20px;
                    font-size: 24px;
                }
                .prod_amount{
                    padding: 20px;
                    margin-top: 20px;
                    display: flex;
                    p{
                        padding-top: 10px;
                        padding-right: 20px;
                    }
                    .prod_minbtn{
                        padding: 10px;
                        input[type=text]{
                            background-color: #fff;
                            border: none;
                            box-shadow: none;
                        }
                        input[type=button]{
                            background-color: #fff;
                            border: 1px solid;
                            border-radius: 50%;
                            font-size: 15px;
                            padding: 10px 20px;
                        }
                        input[type=button]:hover{
                            background-color: map-get($btn_color, "blue" );
                            color: map-get($font_color, "white" );
                            cursor: pointer;
                        }
                        .qtybox{
                            width: 50px;
                            text-align: center;
                            outline: none;
                            font-size: 18px;
                        }
                        .btn_btn_box{
                            padding: 10px 10px 10px 30px;
                        }
                    }
                }
            }
            .largeimg{
                margin: 10px 0px;
                img{
                    width: 100%;
                } 
            }
            .prod_item{
            justify-content: space-between;
            display: flex;
            width: 100%;
                .smallimg{
                    width: calc(100% / 3 - 20px);
                }
                .prod_img{
                    margin: 10px 0px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
            .prod_btn{
                margin-top: 80px;
            }
        }
        // 商品介紹
        .prod_derow{
            width: 100%;
            justify-content: space-between;
            margin: 50px 0px;
            .prod_warpper{
                width: 100%;
                img{
                    width: 90%;
                    display: block;
                    margin: auto;
                }
                .prod_txt{
                    width: 90%;
                    display: block;
                    margin: auto;
                    h3{
                        margin-top: 20px;
                    }
                    p{
                        text-align: justify;
                    }
                }
            }
        }
        #derow_change{
            flex-direction: row-reverse;
        }
        // 商品規格
        .prod_sprow{
            width: 90%;
            margin: auto;
            img{
                width: 100%;
                margin: 50px 0px;
            }
            .img_com{
                display: none;
            }
            .img_cell{
                display: block;
            }
        }
        // 推薦商品
        .prod_rerow{
            width: 100%;
            margin-top: -50px;
            .reitem_btn{
                visibility: hidden;
            }
            .prod_reitem{
                margin: 20px 20px ;
                .btn_btn_box{
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                }            
                .btn_xshidden{
                    visibility: hidden;
                }
                img{
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            .reitem_goods{
                border: 2px solid map-get($color, 'main');
                border-radius: 10px;
                background-color: map-get($color, 'bg_white');
                position: relative;
            }
        }
    } 
    .pointer{
        cursor: pointer;
    }
    .htop1{
        font-size: 32px;
    }
    .htop2{
        font-size: 32px;
    }
}
//桌機版
@media (min-width: 1200px) {
    h3{
        margin: auto;
        max-width: 1200px;
    }
    .prod_con{
        max-width: 1200px;
        margin: auto;
        margin-bottom: 150px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        .prod_row{
            width: calc(50% );
            justify-content: space-between;
            .prod_txt{
                padding: 30px;
                h3{
                    padding-left: 20px;
                }
                p{
                    margin-top: 40px;
                }
                .prod_price{
                    margin-top: 20px;
                }            
                .prod_amount{
                    padding: 20px;
                    display: flex;
                    justify-content: flex-start;
                    p{
                        margin-top: 10px;
                    }
                    input[type=text]{
                        background-color: #fff;
                        border: none;
                        box-shadow: none;
                    }
                    input[type=button]{
                        background-color: #fff;
                        border: 1px solid;
                        box-shadow: none;
                        border-radius: 50%;
                        font-size: 15px;
                        padding: 10px 20px;
                    }
                    input[type=button]:hover{
                        background-color: map-get($btn_color, "blue" );
                        color: map-get($font_color, "white" );
                        cursor: pointer;
                    }
                    .qtybox{
                        width: 50px;
                        text-align: center;
                        outline: none;
                        font-size: 18px;
                    }
                }
            }
            .btn_btn_box{
                padding: 10px 40px;
                margin-top: 20px;
                padding-left: 30px;
                button{
                    margin-left: 10px;
                }
            }
            .largeimg{
                width: 600px;
                margin: 20px 0px;
                img{
                    width: 100%;
                } 
            }
            .prod_item{
            justify-content: space-between;
            display: flex;
            width: 100%;
                .smallimg{
                    width: calc(100% / 3 - 20px);
                    .small{
                        cursor: pointer;
                    }
                }
                .prod_img{
                    margin: 10px 0px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
            .prod_btn{
                // margin-top: 100px;
                button{
                    cursor: pointer;
                }
            }
        }
        // 商品介紹
        .prod_derow{
            width: 100%;
            justify-content: space-between;
            display: flex;
            margin: 50px 0px;
            .prod_warpper{
                width: 50%;
                margin-top: -60px;
                img{
                    width: 90%;
                    display: block;
                    margin: auto;
                }
                .prod_txt{
                    width: 90%;
                    display: block;
                    margin: auto;
                    h3{
                        margin-top: 120px;
                        line-height: 2;
                    }
                    p{
                        line-height: 1.5;
                        text-align: justify;
                    }
                }
            }
        }
        #derow_change{
            flex-direction: row-reverse;
        }
        // 商品規格
        .prod_sprow{
            width: 80%;
            margin: auto;
            margin-top: -60px;
            img{
                width: 100%;
                margin: 50px 0px;
            }
            .img_com{
                display: block;
            }
            .img_cell{
                display: none;
            }
        }
        // 推薦商品
        .prod_rerow{
            width: 100%;
            display: flex;
            margin-top: -10px;
            .prod_reitem{
                width: calc(100% / 4 - 20px);
                margin: auto 10px;
                .btn_btn_box{
                    padding: 10px 15px;
                    margin: 0px auto;
                    display: flex;
                    justify-content: center;
                    .btn_btn{
                        cursor: pointer;
                    }
                }
                .btn_xshidden{
                    visibility: visible;
                    padding: 0;
                }
                img{
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                h3{
                    text-align: center;
                    font-size: 16px;
                }
                p{
                    text-align: center;
                }
            }
            .reitem_btn{
                width: 100px;
                margin: auto;
                visibility: visible;
                padding:  0px ;
                .left_btn{
                    width: 54px;
                    margin: auto;
                }
                .right_btn{
                    width: 54px;
                    margin: auto;
                }
            }
            .reitem_goods{
                border: 1px solid map-get($color, 'blue');
                border-radius: 10px;
                background-color: map-get($color, 'bg_white');
                position: relative;
            }
        }
    }        
}
.htop1{
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: -30px;
}
.htop2{
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: -20px;
}