@import  "../base/var";
@import  "../base/color";
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
h3{
    font-size: $font_size_h3;
}
button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, 'beige') ;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: map-get($btn_color, 'brown') ;
    }
    &:focus{
        outline: none;
    }
}
.container{
    max-width: 820px; 
    min-width: 420px;
    margin: 40px auto;
    margin-top: 92px; // 推header
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, 'main');
    .progress{
        overflow: hidden;
        margin-bottom: -2px;
         /* hide bottom border */
        margin-left: 24px;
        a{  
            width: 26%;
            float: left;
            cursor: pointer;
            padding: 12px 24px;
            transition: background-color 0.2s;
            border: 1px solid #ccc;
            border-right: none;
            background-color: map-get($color , "plain" );
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            &:last-child { 
            border-right: 1px solid #ccc;
            }
            &:hover {
            background-color: #aaa;
            color: map-get($color, 'yellow');
            }
            &.active {
            background-color:map-get($btn_color, 'beige');;
            color: map-get($color, 'blue');
            cursor: default;
            }
            img{
                width: 30px;
            }
        }
    }
}
table.creditCard{
    text-align: center;
}
.tabcontent {
    background-color: map-get($color , "plain" );
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e1e1e1;
    td {
        padding: 0.3em 0.4em;
        color: map-get($color, 'plain_blue');
    }
}
.data { width: 120px; }

// -------------

.form_item{
    margin: 20px auto; 
    display: flex;
    h3{
        margin-right: 20px;
    }
}
// ------選方案
.choose_plan{
    display: flex;
    .plan_li{
        min-width: 206px;
        label{
            cursor: pointer;
            p{
                display: inline-block;
            }
        }
        li{
            margin: 10px 20px;
        }    
    }
    .plan_info{// ------方案介紹
        min-width: 450px;
        min-height: 260px;
        line-height: 1.5;
        .plan_txt{
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.479);
            box-shadow: 1px 1px 2px map-get($color , 'sub_blue' );
            padding: 10px;
            box-sizing: border-box;

            p{
                padding-left: 2rem;
                font-size: 14px;
            }
            p.plan_price{
                font-size: 20px;
            }
        }
    }
}
// 方案價格
.plan_price{
    color: map-get($font_color , 'red' );
    font-weight: 900;
}



.choose_emp{
    display: flex;
    select{
        height: 100%
    }
    .emp_info{
        display: flex;
        text-align: center;
        .emp_pic{
            width: 50px;
            border-radius: 50%;
        }
    }
}
.form_item.upload_pics{
    display: block;
    .your_pics{
        display: flex;
    }
}
    
// 更改input[type=text]樣式
// input[type=text],input[type=email]{
//     border: 0.3px solid map-get($btn_color, 'brown');
//     box-shadow: 2px 2px map-get($btn_color, 'brown');
//     padding: 5px;
//     border-radius: 10px;
//     background-color: map-get($color , "plain" );
//     &:focus{
//         box-shadow: -1.5px -1.5px map-get($color, 'main');
//         border: 0.3px solid map-get($color, 'main');
//     }
// }


// 選擇日期
.choose_date{
    display: unset;
    // 月曆
    .calendar_time{
    display: flex;
    justify-content: space-between;
    
    .time_period{
        display: flex;
        flex-direction: column;
        justify-content: center;
        input:checked + label .time_item{
            border: 3px solid map-get($color , 'blue' );
            p{
                font-weight: 900;
            }
        }
        label{
            cursor: pointer;
            .time_item{
                border: none;
                width: 80px;
                height: 80px;
                margin: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:#dfbe9baf;
                box-sizing: border-box;
                p{  
                    box-sizing: border-box;
                    font-size: 12px;
                    padding: 10px;
                    font-weight: 600;
                }
            }
        }

    }
    }
    // 顯示預約時間
    .time_panel{
        display: flex;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.479);
        box-shadow: 1px 1px 2px map-get($color , 'sub_blue' );
        padding: 10px;
        box-sizing: border-box;
        div{
            display: flex;
            width: 50%;
            // justify-content: center;
            p{
                &:first-child{
                    font-weight: 800;
                }
                &:last-child{
                    margin-left: 50px;
                }
            }
        }
    }
}





// 上傳照片
.upload_pics{
    p{
        margin-bottom: 20px;
    }
    .your_pics{
        display: flex;
        #div_myimgs{
            display: flex;
            div{
                position: relative;
                display: flex;
                align-items: center;
                width: 200px;
                margin: 0 10px;
                border: 2px dotted map-get($color , 'main' );
                img{ // 上傳的照片
                    width: 100%;
                }
                .delete_btn{
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    font-family: "Oswald", sans-serif;
                }
            }
        }
        #div_upload{
            label{
                border: 2px dotted rgb(168, 168, 168);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 200px;
                height: 200px;
                overflow: hidden;
                img{
                    width: 20%;
                    opacity: 0.3;
                }
            }
        }
    }
}



// 下拉式選單樣式
select{
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    border-radius: 10px;
    padding: 5px;
    &:focus{
        outline: none;
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}
// 選地址
.choose_add{
    div{
        display: flex;
        select{
            margin-right: 10px;
        }
    }
}
// textarea更改樣式
textarea {
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px map-get($btn_color, 'brown');
    &:focus{
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}

// 信用卡種類
.card_li{ // td
    display: flex;
    li{
        label{
            cursor: pointer;
        }
    }
}


// RWD

@media screen and (max-width: 830px) {
    .form_item{
        margin-bottom: 20px;
    }
    input{
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
    }
    select{
        margin: 10px auto;
        width: 100%;
    }
    .choose_plan .plan_li{
        margin-bottom: 10px;
        li{
        margin: 0;
        padding: 0;
        }
    } 
    .form_item.choose_plan{
        display: unset;
        .plan_info{
            min-width: 100%;
            .plan_txt{
                margin-bottom: 20px;
            }
        }
    }
    .form_item.choose_emp,.input_name,.input_tel,.input_need{
        display: unset;

    }
    .form_item.choose_add{
        display: unset;
        div{
            display: unset;
        }
    }
    textarea{
        width: 100%;
    }
    .container{
        width: 100%;
        min-width: unset;
        .progress{
            margin-left:0;
            a{  
                width:100%;
                box-sizing: border-box;
                img{
                    width: 20px;
                }
            }
        }
    }
}