@import  "../base/var";
@import  "../base/color";


button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, 'beige') ;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: map-get($btn_color, 'brown') ;
    }
}
.container{
    max-width: 820px; 
    min-width: 420px;
    margin: 40px auto;
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, 'main');
    .progress{
        overflow: hidden;
        margin-bottom: -2px; /* hide bottom border */
        margin-left: 24px;
        a{
            float: left;
            cursor: pointer;
            padding: 12px 24px;
            transition: background-color 0.2s;
            border: 1px solid #ccc;
            border-right: none;
            background-color: map-get($color , "plain" );
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            &:last-child { 
            border-right: 1px solid #ccc;
            }
            &:hover {
            background-color: #aaa;
            color: map-get($color, 'yellow');
            }
            &.active {
            background-color:map-get($btn_color, 'beige');;
            color: map-get($color, 'blue');
            cursor: default;
            }
        }
    }
}
table.creditCard{
    text-align: center;
}
.tabcontent {
    background-color: map-get($color , "plain" );
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #e1e1e1;
    td {
        padding: 0.3em 0.4em;
        color: map-get($color, 'plain_blue');
    }
}
.data { width: 120px; }

// -------------

.form_item{
    margin: 20px auto; 
    display: flex;
    h3{
        margin-right: 2rem;
    }
}
.choose_plan{
    display: flex;
    label{
        cursor: pointer;
    }
    li{
        list-style: none;
        margin: 10px 20px;
    }
}
.choose_emp{
    display: flex;
    select{
        width: 150px;
        height: 30px;
    }
}
.form_item.upload_pics{
    display: block;
    .your_pics{
        display: flex;
    }
}


// 更改radio button樣式
.radio-label {
    position: relative;
    padding-left: 2rem;
}
.radio-button {
    /* 自定義樣式的span */
    height: 1rem;
    width: 1rem;
    border: 1px solid map-get($btn_color, 'brown');
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    animation: showradio .2s forwards ease;
  }
  .radio-button::after { /* 中間點點 */
    content: "";
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: map-get($btn_color, 'brown');
    opacity: 0;
    transition: opacity 0.2s;
  }
  .radio-input:checked ~ .radio-label .radio-button::after {
    /* 選中radio時 才顯示中間點點 */
    opacity: 1;
  }
// 更改input[type=text]樣式
input{
    padding: 5px;
    border-radius: 5px;
    &:focus{
        box-shadow: 1px 1px 3px map-get($btn_color, 'beige');
    }
}


// 月曆
/* 月曆外觀 */
#calendari {
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 602px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}
/* table的class=actiu */
#calendari{
    .actiu{
    border-collapse: collapse;
    table-layout: fixed;
    // width: 602px;
    height: 400px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.4s ease;
    }   
}
table.actiu {
    transform: translateX(0px)top;
}
table.inactiu {
    transition: all 0.3s 0.01s ease;
}
table.amagat-esquerra {
    transform: translateX(-299px);
}
table.amagat-dreta {
    transform: translateX(300px);
}
.choose_date td,th {
    text-align: center;
    background-color: #fff;
}
.choose_date th {
    padding: 10px;
}

tr:first-child th {
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
td:last-child, th:last-child {
  border-right: none;
}

.choose_date th {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(223, 190, 155);
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    font-weight: bolder;
}
/* 年份 */
th .any {
    font-size: 18px;
    font-weight: normal;
    display: block;
    text-shadow: none;
    color: rgba(0,0,0,0.4);
}
// 星期列
tr:nth-child(2) th {
    padding: 5px;
}
// 日期格子
.choose_date td {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 0;
}
/* 星期一到五 日期 */
td>span {
    color: rgb(0, 0, 0);
    padding: 20px;
    display: block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

td:nth-child(even)>span {
    background-color: rgba(0,0,0,0.02);
}
/* 六日 */
td:last-child>span,
td:nth-child(6)>span {
    color: rgb(231, 16, 16);
}
/* 今天的日期格 */
td.avui>span {
    font-weight: bolder;
    background-color: #dfc9b1;
    color: #fff;
    border: 2px solid rgba(0,0,0,0.1);
}
/* 下個月 */
td.fora > span {
    opacity: 0.2;
}
/* 日期格被hover */
td > span:hover {
    background: rgba(223, 186, 143, 0.698);
    color: #fff;
}
/* 按鈕 */
.boto-next, .boto-prev {
    background: rgba(0,0,0,0.1);
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-shadow: inherit;
    /* padding: 2px 10px 5px 10px; */
    padding: 7px;
    line-height: 1px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    top: 15px;
}
.boto-next { right: 10px; padding-left: 13px; }
.boto-prev { left: 10px; padding-right: 13px;}
.boto-next:hover,
.boto-prev:hover {
    background: rgba(0,0,0,0.2);
}
button:hover { cursor: pointer; }
button:focus { outline: none; }