@import  "../base/var";
@import  "../base/color";
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
h3{
    font-size: $font_size_h3;
}
button{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
    box-shadow: $btn_box_shadow;
    background-color: map-get($btn_color, 'beige') ;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: map-get($btn_color, 'brown') ;
    }
    &:focus{
        outline: none;
    }
}
.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 92px; // 推header
    font-family: $font_family;
    font-size: 0.9em;
    color: map-get($color, 'main');
    .progress{
        overflow: hidden;
        margin: 0 20px;
        a{  
            width: calc(100% / 3 );
            float: left;
            cursor: pointer;
            padding: 12px 18px;
            transition: background-color 0.2s;
            box-sizing: border-box;
            border-bottom: none;
            box-shadow: 4px 4px 5px #e1e1e1;
            background-color:map-get($color , "cover" );
            border-radius: 10px 10px 0 0;
            font-weight: bold;
            &:hover {
            background-color: map-get($color, 'yellow');
            color: map-get($color, 'yellow');
            }
            &.active {
            background-color:#E2C4A4;
            color: map-get($color, 'blue');
            cursor: default;
            }
            img{
                width: 30px;
            }
        }
    }
}
table.creditCard{
    text-align: center;
}
.tabcontent {
    background-color: map-get($color , "cover" );
    padding: 30px 50px;
    // border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #e1e1e1;
    // box-shadow: 0 0 5px 1px #8c96a8;
    z-index: 1;
    td {
        padding: 0.3em 0.4em;
        // color: map-get($color, 'plain_blue');
    }
}
.data { width: 120px; }

// -------------

.form_item{
    margin: 20px auto; 
    display: flex;
    h4{
        margin-right: 20px;
    }
}
// ------選方案
.choose_plan{
    display: flex;
    .plan_li{
        min-width: 206px;
        label{
            cursor: pointer;
            p{
                display: inline-block;
            }
        }
        li{
            margin: 10px 20px;
        }    
    }
    .plan_info{// ------方案介紹
        min-width: 450px;
        min-height: 292px;
        line-height: 1.5;
        // margin-left: 50px;
        .plan_txt{
            border-radius: 10px;
            background-color: white;
            box-shadow: 1px 1px 2px map-get($color , 'sub_blue' );
            padding: 10px;
            box-sizing: border-box;

            p{
                padding-left: 2rem;
            }
            p.plan_price{
                font-size: 20px;
            }
        }
    }
}
// 方案價格
.plan_price{
    color: map-get($font_color , 'red' );
    font-weight: 900;
}


.choose_emp{
    display: flex;
    div{
        margin-left: 20px;
    }
    select{
        height: 100%
    }
    // .emp_info{
    //     display: flex;
    //     text-align: center;
    //     .emp_pic{
    //         width: 50px;
    //         border-radius: 50%;
    //     }
    // }
}
.form_item.upload_pics{
    display: block;
    .your_pics{
        display: flex;
    }
}

// 選擇日期
.choose_date{
    display: unset;
    h3{
        position: relative;
        span.more_info{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;   
            top: 25%;
            left: 180px;
            font-size: 15px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: map-get($btn_color , 'brown' );
            cursor: pointer;
            &::after{
                content: '點擊日期與時段選擇，僅接受今日之後的預約，每次施作以三小時為單位。';
                opacity: 0;
                width: 300px;
                position: absolute;
                font-size: 14px;
                top: 5px;
                left: 30px;
                z-index: 1;
                line-height: 1.5;
                border-radius: 10px;
                border-top-left-radius: 0;
                background-color: white;
                box-shadow: 0px 0px 3px map-get($color , 'sub_blue' );
                padding: 5px;
            }
            &:hover::after{
                opacity: 1;
                }
            }
    }
}





// 上傳照片
.upload_pics{
    p{
        margin-bottom: 20px;
    }
    .your_pics{
        display: flex;
        #div_myimgs{
            display: flex;
            div{
                position: relative;
                display: flex;
                align-items: center;
                width: 200px;
                height: 200px;
                margin: 0 10px;
                border: 2px dashed map-get($color , 'main' );
                border-radius: 5px;
                overflow: hidden;
                img{ // 上傳的照片
                    width: 100%;
                }
                .delete_btn{
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    font-family: "Oswald", sans-serif;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                }
            }
        }
        #div_upload{
            label{
                border: 2px dashed rgb(168, 168, 168);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 200px;
                height: 200px;
                overflow: hidden;
                &:hover img{
                    transform: scale(1.5);
                    transition: .5s ease-in-out;
                }
                // 上傳照片的icon
                img{
                    width: 30%;
                    opacity: 0.3;
                }
            }
        }
    }
}

// 選地址
.choose_add{
    div{
        display: flex;
        select{
            margin-right: 10px;
        }
    }
}
// textarea更改樣式
textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px #ccc;
    &:focus{
        box-shadow: 1px 1px 5px map-get($color, 'main');
    }
}
.btn_div{
    display: flex;
    align-items: center;
}
.btn_div.page1{
    justify-content: right;
    width: 100%;
    .total{
        font-size: 30px;
        // margin-left: 30px;
    }
    button{
        margin-left: 50px;
    }
}
// 信用卡種類
.card_li{ // td
    display: flex;
    li{
        label{
            cursor: pointer;
        }
    }
}

.file_label_rwd{
    display: none;
}
.flex{
    display: flex;
}
.between{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    justify-content: left;
    align-items: center;
}

// 第二頁
.details{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px map-get($color , 'sub_blue' );
    padding: 10px 20px;
    box-sizing: border-box;
    div{
        width: 100%;
    }
    .datails_info{
        .d_table{
        box-sizing: border-box;
        width: 50%;
            td{
                padding: 10px;
            }
        }
        .d_pic{
            width: 50%;
            img{
                width: 100%;
                box-shadow: 5px 5px 0px #aaa;
            }
        }
    }
}
// 信用卡
.payment{
    margin: 30px auto;
    width: 100%;
    .ccard{
        width: 100%;
        .c_pic{
            width: 20%;
            img{
                width: 100%;
            }
        }
        .table_ccard{
            width: 80%;
            box-sizing: border-box;
            margin-left: 30px;
            div{
                box-sizing: border-box;
                margin: 20px 0;
                h4{
                    font-size: 18px;
                    min-width: 108px;
                    margin-right: 10px;
                }
                select{
                    margin-right: 10px;
                }
            }
        }
    }
}

// RWD

@media screen and (max-width: 830px) {
    .form_item{
        margin-bottom: 20px;
    }
    input{
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
        height: 45px;
    }
    select{
        margin: 10px auto;
        width: 100%;
        height: 45px;
    }
    .tabcontent{
        padding: 30px 20px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }
    .choose_emp{
        div{
            margin-left: 0px;
        }
        select{
            height: 45px;
        }
    }
    .choose_plan .plan_li{
        margin-bottom: 10px;
        li{
        margin: 0;
        padding: 0;
        }
    } 
    .form_item.choose_plan{
        display: unset;
        .plan_info{
            min-width: 100%;
            .plan_txt{
                margin-bottom: 20px;
            }
        }
    }
    .form_item.choose_emp,.input_name,.input_tel,.input_need{
        display: unset;

    }
    .form_item.choose_add{
        display: unset;
        div{
            display: unset;
        }
    }
    textarea{
        width: 100%;
    }
    .container{
        width: 100%;
        margin: 40px auto;
        margin-top: 92px;
        // min-width: unset;
        .progress{
            // margin-left:0;
            a{  
                font-size: 15px;
                width:calc(100%/3);
                box-sizing: border-box;
                img{
                    width: 20px;
                }
            }
        }
    }
    .choose_date h3 span.more_info::after{
        width: 150px;
    }
    .choose_date {
        .time_panel{
            min-width: 100%;
            width: 100%;
            display: block;
            margin: 10px 0;
            div{
                width: 100%;
            }
        }
    }

    .form_item.upload_pics{
        display: block;
        .your_pics{
            display: flex;
            width: 100%;
            .file_label_rwd{ // label
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px dashed rgb(168, 168, 168);
                border-radius: 5px;
                opacity: 0.5;
                img{
                    width: 50px;
                }
            }
            // 上傳照片的div
            #div_myimgs{
                // width: 100%;
                display: flex;
                overflow: hidden;
                div{
                    width: 100px;
                    height: 100px;
                    button{
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        border-radius: 50%;
                    }
                }
            }
            #div_upload{
                label{
                    width: 100px;
                    height: 100px;
                }
            }

        }
    }

    .details{
        .datails_info{
            display: block;
            .d_table{
                width: 100%;
                td{
                    padding: 10px;
                }
            }
            .d_pic{
                width: 100%;
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                }
            }
        }
    }

    // 第二頁
    .payment{
        .ccard{
            width: 100%;
            display: block;
            .c_pic{
                margin-top: 10px;
                width: 100%;
                img{
                    width: 50%;
                }
            }
            .table_ccard{
                width: 100%;
                box-sizing: border-box;
                margin: 0 auto;
                div{
                    box-sizing: border-box;
                    margin: 20px 0;
                    h4{
                        margin-right: 10px;
                    }
                    select{
                        margin: 10px auto;
                        min-width: unset;
                    }
                }
            }
        }
    }
}

// .upload_pics .your_pics #div_upload #upFile2_l{
//     display: none;
// }
// .upload_pics .your_pics #div_upload #upFile3_l{
//     display: none;
// }
.pointer{
    cursor: pointer;
}
.in-b{
    display: inline-block;
}
// .ml_10{
//     margin-left: 10px;
// }
.my_info{
    margin-top: 50px;
    li{
        margin-left: 20px;
        margin-top: 10px;
    }
}
.step{
    background-color: map-get($color , "main" );
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.m_0_auto{
    margin: 0 auto;
}
.ml_20{
    margin-left: 20px;
}