@import  "../base/color";
.serve_plans{
    h2{
        text-align: center;
        padding: 60px 0 0;
    }
    .item_group{
        display: flex;
        flex-direction: column;
        .item{
            width: calc(100% - 40px);
            max-width: 550px;
            border-radius: 10px;
            margin: auto;
            padding-bottom: 50px;
            position: relative;
            overflow: hidden;
            &:nth-child(1){
                background: url('../img/service_08.jpg') no-repeat bottom/100%;
            }
            &:nth-child(2){
                background: url('../img/service_06.jpg') no-repeat bottom/100%;
            }
            &:nth-child(3){
                background: url('../img/service_07.jpg') no-repeat bottom/100%;
            }
            h3{
                background-color: map-get($color , "main");
                text-align: center;
                padding: 30px 0 10px;
                margin: 50px 0 -1px;
                color: #ddd;
                border-radius:10px 10px 0 0;
            }
            .txt{
                padding: 10px 30px 80px;
                background: linear-gradient(30deg, transparent 100px, map-get($color , "main") 0) left,
                            linear-gradient(-30deg, transparent 100px, map-get($color , "main") 0) right;
                background-size: calc(50% + 1px) 100%;
                background-repeat: no-repeat;
                h4{
                    color: map-get($color , "sub_blue");
                    text-align: center;
                    padding: 15px 0 10px;
                }
                p{
                    line-height: 1.5em;
                    color: #ddd;
                    text-align: start;
                    &:last-child{
                        text-align: center;
                    }
                }
            }
            a{
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}
.serve_case{
    .case{
        display: flex;
        .pic{
            width: 50%;
            position: relative;
            img{
                width: 100%;
            }
            img:last-child{
                width: 50vw;
                position: absolute;
                left: 0;
                top: 5px;
                transform: rotate(-5deg);
            }
        }
    }
}
.serve_qa{
    background-color: map-get($color , "plain");
}


@media screen and (min-width: 480px) {
    .serve_plans{
        .item_group{
            .item{
                .txt{
                    background: linear-gradient(30deg, transparent 140px, map-get($color , "main") 0) left,
                                linear-gradient(-30deg, transparent 140px, map-get($color , "main") 0) right;
                    background-size: calc(50% + 1px) 100%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .serve_plans{
            overflow: hidden;
        .item_group{
            flex-direction: row;
            justify-content: center;
            width: 1200px;
            .item{
                padding-bottom: 0;
                margin: 20px;
                h3{
                    // text-align: center;
                    padding: 0;
                    margin: 30px;
                    background-color: transparent;
                    color: map-get($color , "main");
                }
                &:nth-child(1){
                    background-size: 100%;
                }
                &:nth-child(2){
                    background-size: 100%;
                }
                &:nth-child(3){
                    background-size: 100%;
                }
                .txt{
                    border-radius: 10px;
                    padding: 10px 30px 100px;
                }
                a{
                    background-color: #ffffffaa;
                    &:hover{
                        background-color: map-get($color , "sub_red");
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .serve_plans{
        .item_group{
            flex-direction: row;
            max-width: 1200px;
            margin: auto;
            .item{
                width: calc(100% - 40px);
                border-radius: 10px;
                margin: 20px;
                padding-bottom: 50px;
                height: 540px;
                position: relative;
                overflow: hidden;
                &:nth-child(1){
                    background-size: auto calc(100% - 200px);
                }
                &:nth-child(2){
                    background-size: auto calc(100% - 200px);
                }
                &:nth-child(3){
                    background-size: auto calc(100% - 200px);
                }
                &:hover {
                    .txt{
                        h4{
                            color: map-get($color , "sub_blue")
                        }
                        p{
                            line-height: 1.5em;
                            color: #ddd;
                        }
                    }
                }
                .txt{
                    transition: .5s;
                    background: linear-gradient(30deg, transparent 100px, map-get($color , "main") 0) left,
                                linear-gradient(-30deg, transparent 100px, map-get($color , "main") 0) right;
                    background-size: calc(50% + 1px) 100%;
                    background-repeat: no-repeat;
                    h4{
                        color: #ddd;
                        text-align: center;
                        padding: 15px 0 10px;
                    }
                    p{
                        line-height: 0em;
                        transition: .5s;
                        overflow: hidden;
                    }
                }
            }
        }
    }

}