@import  "../base/color";

.serve_plans{
    h2{
        text-align: center;
        padding: 60px 0 0;
    }
    .item_group{
        display: flex;
        flex-direction: column;
        .item{
            width: calc(100% - 40px);
            max-width: 550px;
            border-radius: 10px;
            margin: auto;
            padding-bottom: 50px;
            position: relative;
            overflow: hidden;
            &:nth-child(1){
                background: url('../img/service_08.jpg') no-repeat bottom/100%;
            }
            &:nth-child(2){
                background: url('../img/service_06.jpg') no-repeat bottom/100%;
            }
            &:nth-child(3){
                background: url('../img/service_07.jpg') no-repeat bottom/100%;
            }
            h3{
                background-color: map-get($color,"cover");
                text-align: center;
                padding: 30px 0 10px;
                margin: 50px 0 -1px;
                color: map-get($color,"main");
                border-radius:10px 10px 0 0;
            }
            .txt{
                padding: 10px 30px 80px;
                background: linear-gradient(30deg, transparent 100px, map-get($color,"cover") 0) left,
                            linear-gradient(-30deg, transparent 100px, map-get($color,"cover") 0) right;
                background-size: calc(50% + 1px) 100%;
                background-repeat: no-repeat;
                h4{
                    color: map-get($color , "sub_blue");
                    text-align: center;
                    padding: 15px 0 10px;
                }
                p{
                    line-height: 1.5em;
                    color: map-get($color,"main");
                    text-align: start;
                    &:last-child{
                        text-align: center;
                    }
                }
            }
            a{
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}
.serve_case{
    margin: 60px 0;
    height: 100vh;
    // background-color: map-get($color , "plain");
    overflow: hidden;
    h2{
        padding: 30px 60px;
    }
    .case{
        padding: 30px;
        width: calc(100% - 40px);
        height: calc(100vh - 160px);
        box-sizing: border-box;
        // border: 1px solid map-get($color , "main");
        background-color: map-get($color , "cover");
        // background-image: url('../img/memupupdowndown.png');
        // background-size: 10px;
        // background-blend-mode:overlay;
        box-shadow: 0 0 5px 1px map-get($color , "sub_blue");
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:first-child){
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }
        .pic{
            display: inline-block;
            line-height: 0;
            position: relative;
            width: 100%;
            overflow: hidden;
            >img{
                width: 100%;
            }
            .afterPic{
                position: absolute;
                top: 0px;
                width: 0%;
                max-width: 100%;
                height: 100%;
                border-right: 3px solid map-get($color , "bg");
                overflow: hidden;
                img{
                    height: 100%;
                }
                &::after{
                    content: '';
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: map-get($color , "bg");
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(50%,-50%);
                }
            }
            .handle{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: map-get($color , "bg");
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .slowMove{
                transition: .5s;
            }
        }
        .txt{
            position: relative;
            background-color: map-get($color , "cover");
            h3{
                border-bottom: 1px solid map-get($color , "sub_brown");
            }
            .afterTxt{
                position: absolute;
                top: 0px;
                left: 0;
                height:0%;
                max-height: 100%;
                overflow: hidden;
                background-color: map-get($color , "cover");
                transition: 1s;
                h3{
                    color: map-get($color , "main");
                    border-bottom: 1px solid map-get($color , "sub_red");
                }
            }
        }
        .bookmark{
            position: absolute;
            padding: 5px 50px 5px 20px;
            top: 0;
            opacity: .8;
        }
        &:nth-child(2) .bookmark{
            right: 90px;
            transform: rotate(86deg);
            background:linear-gradient(-90deg,map-get($color ,"sub_inprogress") 30px,map-get($btn_color,"deep_blue") 30px);
        }
        &:nth-child(3) .bookmark{
            right: 45px;
            transform: rotate(82deg);
            background:linear-gradient(-90deg,#f7b018 30px,map-get($color,"sub_pending") 30px);
        }
        &:nth-child(4) .bookmark{
            right: 0%;
            transform: rotate(88deg);
            background:linear-gradient(-90deg,#87d10f 30px,map-get($color,"sub_success") 30px);
        }
    }
}
.serve_qa{
    margin-top: 60px;
    padding: 20px;
    h2{
        padding: 0 60px 30px;
    }
    .quesion{
        max-width: 1100px;
        margin: 10px auto;
        padding: 5px 60px 5px 15px;
        // border-radius: 10px;
        border-bottom: 1px solid map-get($color , "sub_blue");
        position: relative;
        input{
            display: none;
            &:checked{
                ~label{
                    h3{
                        &::after{
                            transform: translate(-2px,-50%) rotate(180deg);
                        }
                    }
                }
                ~ p{
                    line-height: 1.5em;
                }
            }
        }
        label{
            h3{
                padding: 10px 0;
                font-size: 24px;
                width: 100%;
                &::before,
                &::after{
                    transition: .5s;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translate(-2px,-50%) rotate(0deg);
                    width: 20px;
                    height: 3px;
                    border-radius: 3px;
                    background-color:  map-get($color,"sub_blue");
                }
                &::after{
                    transform: translate(-2px,-50%) rotate(-90deg);
                }
            }


        }
        p{
            line-height: 0em;
            transition: .5s;
            overflow: hidden;
        }
    }
}


@media screen and (min-width: 480px) {
    .serve_plans{
        .item_group{
            .item{
                .txt{
                    background: linear-gradient(30deg, transparent 140px, map-get($color , "cover") 0) left,
                                linear-gradient(-30deg, transparent 140px, map-get($color , "cover") 0) right;
                    background-size: calc(50% + 1px) 100%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .serve_plans{
        // .scroll_group{

            overflow: auto;
            .item_group{
                flex-direction: row;
                justify-content: center;
                width: 1200px;
                .item{
                    padding-bottom: 0;
                    margin: 20px;
                    h3{
                        // text-align: center;
                        padding: 0;
                        margin: 30px;
                        background-color: transparent;
                        color: map-get($color , "main");
                    }
                    &:nth-child(1){
                        background-size: 100%;
                    }
                    &:nth-child(2){
                        background-size: 100%;
                    }
                    &:nth-child(3){
                        background-size: 100%;
                    }
                    .txt{
                        border-radius: 10px;
                        padding: 10px 30px 100px;
                    }
                    a{
                        background-color: #ffffffaa;
                        &:hover{
                            background-color: map-get($color , "sub_red");
                        }
                    }
                }
            }
        // }
    }
    .serve_case{
        margin: 60px 0;
        padding: 30px 0;
        h2{
            margin: auto;
            box-sizing: border-box;
            text-align: end;
            max-width: 1200px;
        }
        .case{
            height: calc(100vh - 200px);
            display: flex;
            flex-direction: row;
            flex-direction: row;
            align-items: center;
            max-width: 1200px;
            margin: 50px auto;
            &:nth-child(odd){
                flex-direction: row-reverse;
            }
            &:nth-child(even) .pic{
                margin-right: 30px;
            }
            &:nth-child(odd) .pic{
                margin-left: 30px;
            }
            .pic{
                width: 50%;
                height: calc(100vh - 240px);
                >img{
                    width: auto;
                    height: calc(100vh - 240px);
                }
            }
            .txt{
                width: 50%;
                // padding: 20px 50px;
            }
            &:nth-child(2) .bookmark{
                right: auto;
                left: 16%;
                transform: rotate(85deg);
            }
            &:nth-child(3) .bookmark{
                right: auto;
                left: 8%;
                transform: rotate(87deg);
            }
            &:nth-child(4) .bookmark{
                right: auto;
                left: 0%;
                transform: rotate(83deg);
            }
        }
    }
    .serve_qa{
        h2{
            margin: auto;
            box-sizing: border-box;
            max-width: 1200px;
        }
    }
}
@media screen and (min-width: 992px) {
    .serve_plans{
        .item_group{
            flex-direction: row;
            max-width: 1200px;
            margin: auto;
            .item{
                width: calc(100% - 40px);
                border-radius: 10px;
                margin: 20px;
                padding-bottom: 50px;
                height: 550px;
                position: relative;
                overflow: hidden;
                &:nth-child(1){
                    background-size: auto calc(100% - 200px);
                }
                &:nth-child(2){
                    background-size: auto calc(100% - 200px);
                }
                &:nth-child(3){
                    background-size: auto calc(100% - 200px);
                }
                &:hover {
                    .txt{
                        h4{
                            color: map-get($color , "sub_blue")
                        }
                        p{
                            line-height: 1.5em;
                            color: map-get($color , "main");
                        }
                    }
                }
                .txt{
                    transition: .5s;
                    background: linear-gradient(30deg, transparent 100px, map-get($color , "plain_blue") 0) left,
                                linear-gradient(-30deg, transparent 100px, map-get($color , "plain_blue") 0) right;
                    background-size: calc(50% + 1px) 100%;
                    background-repeat: no-repeat;
                    h4{
                        color: map-get($color , "main");
                        text-align: center;
                        padding: 15px 0 10px;
                    }
                    p{
                        line-height: 0em;
                        transition: .5s;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}