//顏色變數宣告
// 使用方法 color: map-get(key, value值)
// 使用範例 color: map-get($key, main)

// 區塊顏色(背景、section、裝飾性區塊和邊框)
$color: (
    "main": #2C2D48,
    "plain": #f3f3ed,
    "cover": #F3EEE2,
    "bg": #fff,
    "bg_pink": #ebcdbd,
    "bg_white": #fff,
    "sub_red": #d03e3e,
    "sub_blue": #8c96a8,
    "sub_brown": #d6aa81,
    "sub_yellow": #F5DFB0,
    "border_black": #000,
    "border_white": #fff,
);

// 按鈕顏色
$btn_color: (
    "red": #d03e3e,
    "blue": #8c96a8,
    "brown": #d6aa81,
    "black": #000,
    "white": #fff,
    "beige": #f5dfb0,
    "orange": #d08845,
    "yellow": #F5DFB0,
    "plain_blue": #a2bbf4,
    "deep_blue": #5885ec,
); 

//文字顏色
$font_color: (
    "main": #2C2D48,
    "black": #000,
    "white": #fff,
    "red": #d03e3e,
    "blue": #8c96a8,
    "brown": #d6aa81,
)

// 裝飾元素顏色
