// 變數宣告

//空值變數
$null: null; //可以協助把屬性刪掉
$none: "none";

// 字形變數
$font_family: "Noto Serif TC', serif"; //字串
$font_size_huge: 120px;
$font_size_h1: 48px;
$font_size_h2: 36px;
$font_size_h3: 24px;
$font_size_h4: 20px;
$font_size_h5: 16px;
$font_size_p: 18px;
$font_size_span: 18px;
$font_size_a: 18px;
$font_size_li: 14px;
$font_size_ul: 18px;
$font_size_btn: 20px;


//尺寸變數
$btn_padding: 10px 20px;

//邊框變數

// 一般按鈕圓角
$border_radius_btn: 50px;
// 一般按鈕圓角
$border_radius_btn_ro: 50%;

//效果變數
// 陰影效果
$btn_box_shadow: 0 2px 4px #aaa;