<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('layout/head.html')
    <title>關於我們</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" referrerpolicy="no-referrer"></script> -->
    
    
</head>
<body>
    @@include('layout/header.html')
    
    <main id="fullPage">
        <div class="section">
            <section class="uni_banner">
                <div>
                    <div class="pic">
                        <img src="img/banner_roof.png" alt="屋頂">
                    </div>
                    <div class="txt">
                        <h4>About</h4>
                        <h1>關於我們</h1>
                    </div>
                </div>
                <div>
                    <div class="pic">
                        <img src="img/about.jpg" alt="banner圖">
                    </div>
                    <div class="txt">
                        <p>努力用心，為您服務</p>
                        <p>您的始終滿意是我們的執着追求</p>
                    </div>
                </div>
            </section>
        </div>
        

        <!-- 我們的理念 -->
        <div class="section">
            <section class="about_belief">
                <div class="big_img">
                    <img src="img/viedo.gif">
                    <h2>ABOUT</h2>
                </div>
            
                <div class="txt_box">
                    <div class="txt">
                        <div class="txt_bg">
                            <h3>｜我們的理念｜</h3>
                            <p>家，是每個人成長的地方</p>
                            <p>構成無數與家人間溫暖的回憶</p>
                            <p>當大家越來越忙碌時</p>
                            <p>家中環境也越來越髒亂</p>
                            <p>收Easy在這樣的背景下誕生</p>
                            <p>致力於讓家有煥然一新的感覺</p>
                            <p>使每個人享受一個更好的家</p>
                        </div>
                    </div>
                    <div class="small_img rolling_case_img">
                        <ul>
                            
                            <li class="roll_img_box _1">
                                <img src="img/service_01.jpg" alt="">
                            </li>
                            <li class="roll_img_box _2">
                                <img src="img/service_02.jpg" alt="">
                            </li>
                            <li class="roll_img_box _3">
                                <img src="img/service_07.jpg" alt="">
                            </li>
                            <li class="roll_img_box _4">
                                <img src="img/service_09.jpg" alt="">
                            </li>
                            <li class="roll_img_box _5">
                                <img src="img/service_05.jpg" alt="">
                            </li>
                            <li class="roll_img_box _6">
                                <img src="img/service_06.jpg" alt="">
                            </li>
                            <li class="roll_img_box _1">
                                <img src="img/service_01.jpg" alt="">
                            </li>
                            <li class="roll_img_box _2">
                                <img src="img/service_02.jpg" alt="">
                            </li>
                            <li class="roll_img_box _3">
                                <img src="img/service_07.jpg" alt="">
                            </li>
                            <li class="roll_img_box _4">
                                <img src="img/service_09.jpg" alt="">
                            </li>
                            <li class="roll_img_box _5">
                                <img src="img/service_05.jpg" alt="">
                            </li>
                            <li class="roll_img_box _6">
                                <img src="img/service_06.jpg" alt="">
                            </li>
                        </ul>
                        <!-- <a class="item" href="service.html"><img src="img/about_belief_1.jpg"></a>
                        <a class="item"><img src="img/index_landing.jpg"></a>
                        <a class="item"><img src="img/index_fold.jpeg"></a>
                        <a class="item"><img src="img/index_shirt.jpeg"></a>
                        <a class="item"><img src="img/index_suit.jpeg"></a> -->
            
                    </div>
                </div>
            </section>
        </div>


        <!-- 我們的團隊 -->
        <div class="section">
            <section class="about_team">
                <h3 class="teams_title">｜團隊整理師｜</h3>
            
                <div class="circle_big_img" id="container">
                    <!-- 選擇整理師按鈕 -->
                    <div class="btn_mem">
                        <button @click="rwd_1=true,rwd_2=false,rwd_3=false" class="rwd_mem_1 changChick" onclick="changChick(this)" id="bb_1">
                            麻里不會
                        </button>
                        <button @click="rwd_1=false,rwd_2=true,rwd_3=false" class="rwd_mem_2 changChick" onclick="changChick(this)" id="bb_2">
                            末牛子
                        </button>
                        <button @click="rwd_1=false,rwd_2=false,rwd_3=true" class="rwd_mem_3 changChick" onclick="changChick(this)"  id="bb_3">
                            潔癖子
                        </button>
                    </div>
                    <div class="circle">我是藏起來的圈圈</div>
                    <!-- 桌機的秀大圖 -->
                    <div class="large">
                        <img src="img/Kurinachan_3.jpg"  id="large">
                    </div>
                    <!-- rwd整理師的大圖 -->
                    <div class="img_box" id="rwd_large">
                        <div class="change_img b-tab active"  v-if="rwd_1"  id="mem_1" >
                            <img src="img/Kurinachan_2.jpg">
                            <div class="large_txt">
                                <h3>｜整理師 : 麻里不會｜</h3>
                                <p class="text-wrapper">{{empsRows[0].INTRO}}</p>
                                <!-- <p>地下收納聯盟假級認證</p>
                                <p>個人風格：重視效率、利用行為科學打造容易做到的整理收納</p>
                                <p>專長領域：企業與倉儲整理收納術、個人行為規劃整合</p> -->
                                <a href="reserve.html">立即預約</a>
                            </div>
                        </div>
                        <div class="change_img b-tab"  id="mem_2" v-if="rwd_2">
                            <img src="img/Nikuchan.jpg">
                            <div class="large_txt">
                                <h3>｜整理師 : 末牛子｜</h3>
                                <p class="text-wrapper">{{empsRows[1].INTRO}}</p>
                                <!-- <p>銀河系地球收納協會1級認證</p>
                                <p>個人風格：以神秘力量收拾空間，在不留神之時就能完美整理收納</p>
                                <p>專長領域：通靈術、占星術</p> -->
                                <a href="reserve.html">立即預約</a>
                            </div>
                        </div>
                        <div class="change_img b-tab"  id="mem_3" v-if="rwd_3">
                            <img src="img/Marishimasen.jpg">
                            <div class="large_txt">
                                <h3>｜整理師 : 潔癖子｜</h3>
                                <p class="text-wrapper">{{empsRows[2].INTRO}}</p>
                                <!-- <p>整理師互助協會3級認證</p>
                                <p>個人風格：看不習慣的東西會一律幫客戶清理掉，斷捨離障礙人格最佳選擇</p>
                                <p>專長領域：強迫症整理收納術</p> -->
                                <a href="reserve.html">立即預約</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 整理師基本介紹 -->
                <div class="introduce" id="lightBox" >
                    <div v-if="emp1" class="introduce_txt b-tab active" id="cancel">
                        <h3>｜整理師 : 麻里不會｜</h3>
                        <p class="text-wrapper">{{empsRows[0].INTRO}}</p>
                        <a href="reserve.html">立即預約</a>
            
                    </div>
                    <div v-if="emp2" class="introduce_txt b-tab" id="cancel">
                        <h3>｜整理師 : 末牛子｜</h3>
                        <p class="text-wrapper">{{empsRows[1].INTRO}}</p>
                        <a href="reserve.html">立即預約</a>
                    </div>
                    <div v-if="emp3" class="introduce_txt b-tab" id="cancel" >
                        <h3>｜整理師 : 潔癖子｜</h3>
                        <p class="text-wrapper">{{empsRows[2].INTRO}}</p>
                        <a href="reserve.html">立即預約</a>
                    </div>
                    <!-- 桌機小圖 -->
                    <div class="circle_small_card small">
                        <div class="introduce_card">
                            <div class="card_img">
                                <img src="img/Kurinachan_3.jpg"/>
                            </div>
                            <div class="card_txt">
                                <p>麻里不會</p>
                            </div>
                            <a @click="emp1=true,emp2=false,emp3=false" class="black_hov b-nav-tab active" data-tab="orange">
                                <p>More</p>
                            </a>
                        </div>
                        <div class="introduce_card">
                            <div class="card_img">
                                <img src="img/Nikuchan.jpg"/>>
                            </div>
                            <div class="card_txt">
                                <p>末牛子</p>
                            </div>
                            <a @click="emp1=false,emp2=true,emp3=false" class="black_hov b-nav-tab" data-tab="green">
                                <p>More</p>
                            </a>
                        </div>
                        <div class="introduce_card">
                            <div class="card_img">
                                <img src="img/Marishimasen.jpg"/>>
                            </div>
                            <div class="card_txt">
                                <p>潔癖子</p>
                            </div>
                            <a @click="emp1=false,emp2=false,emp3=true" class="black_hov b-nav-tab" data-tab="blue">
                                <p>More</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- 聯絡資訊 -->
        
        <div class="section">
            <section class="about_contact">
                <div class="con_left">
                    <h3>｜聯絡資訊｜</h3>
                    <div class="address">
                        <p>｜聯絡地址｜</p>
                        <span>320桃園市中壢區復興路46號8樓</span>
                    </div><br>
                    <div class="phone">
                        <p>｜聯絡電話｜</p>
                        <span>(02) 8847-6565</span>
                    </div><br>
                    <div class="email">
                        <p>｜聯絡信箱｜</p>
                        <span>soeasyg1g1@fakemail.com</span>
                    </div>
                </div>
                <div class="con_right">
                    <!-- fb串接碼(頭上有fb的js才能用這個) -->
                    <div class="fb">
                        <div class="fb-page" data-href="https://www.facebook.com/TibaMe/" data-tabs="timeline" data-width="400" data-height="100" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TibaMe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TibaMe/">緯育TibaMe</a></blockquote></div>
                        <!-- fb外部連結模擬 -->
                    </div>
                </div>
            </section>
        </div>    
    </main>   
    @@include('layout/footer.html')
    

    <!-- 混亂的JS開始辣 --------------------------------->
    <!-- fb串接JS -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0" nonce="pYJ8MATZ"></script>
    <!-- fb串接結束 -->

    <!-- 大圖整理師切換圖 -->
    <script>
        function showLarge(e){
            // let small = e.target;
            // document.getElementById("large").src = small.src;
            // console.log($(this).parent().children('.card_img').children().attr('src'));
            $("#large").attr('src',$(this).parent().children('.card_img').children().attr('src'));
        }

        function init(){
            let smalls = document.querySelectorAll(".small .introduce_card .black_hov");//要有小數點
            for(let i=0;i<smalls.length;i++){
                smalls[i].onclick = showLarge;
            }
        }
        window.addEventListener("load", init, false);
    </script>

    
    
    

    <!-- 出事了集中地 ------------------------------->
    <!-- 出事<1>.整理師切換button換色 他不變色，他他他他他他他他不變色-->
    <!-- <script>

        function changChick(target){
            $.each($(".changChick"), function() {
                $(this).removeClass("bg_deep");
            });
            $(target).addClass("bg_deep");
        }
        
    </script> -->

    
    <!-- 出事<2>.rwd的整理師介紹燈箱    出事ㄌ出事ㄌ出事ㄌ出事ㄌ出事ㄌ出事ㄌ出事ㄌ-->
    <!-- <script>
        var libox = document.getElementById("lightBox")

        var can = document.getElementById("cancel");

        var out = document.getElementById("mem_1");
        out.onclick = function(){
            libox.style="display:block";
        };

        can.onclick = function(){
            libox.style="display:none";
        }
    </script> -->


    <!-- 只要我出現，全世界都要給我bug的fullpage:我可能是滾動事件----宣告復活，RWD沉到海底ㄌ -->
    <!-- <script>
        new fullpage('#fullPage',{
            autoScrolling:true,
            navigation: true,
            scrollOverflow:true,
        })
    </script> -->


    <!-- 我是安詳躺在備註裡的貓貓貓貓頭鷹啦，為甚麼我會在這呢，因為我跟其他人發生衝突了。 -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="OwlCarousel/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            items:1,
            // autoHeight:true,
            loop:true,
            margin:10,
            autoWidth:true,
            items:5,
            autoplay:true
        });
        // AutoHeight.Defaults = {
        //     autoHeight: false,
        //     autoHeightClass: 'owl-height'
        // };
    </script> -->



    <!-------------- 我是Vue的分隔線 -------------->
     
    <!-- 試圖使用資料庫 -->
    <script type="text/javascript">
        new Vue({
            el:"#fullPage",
            data:{
                emp1:true, // 預設--桌機板切換介紹
                emp2:false, // 預設--桌機板切換介紹
                emp3:false, // 預設--桌機板切換介紹
                rwd_1:true, // 預設--rwd切換整理師圖片
                rwd_2:false, // 預設--rwd切換整理師圖片
                rwd_3:false, // 預設--rwd切換整理師圖片
                empsRows:[],
            },
            methods: {
                getEmps(){
                    let xhr = new XMLHttpRequest();
                    let thisVue = this;
                    xhr.onload = function(){
                        console.log(JSON.parse(xhr.responseText));
                        thisVue.empsRows = JSON.parse(xhr.responseText);
                    }
                    xhr.open("get", "phps/emp.php", true);
                    xhr.send(null);
                },
            },
            mounted() {
                this.getEmps();
            },
        });
        
    </script>

    
</body>
</html>