<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" "">
    <meta name="viewport" "evice-width, initial-scale=1.0">
    <title>後台</title>
    <link rel="stylesheet" href="css/backend.css">
	<!-- .js連結-->
	<script src="js/jquery.js"></script>
  	<script src="js/jquery-ui.js"></script>
  	<script src="js/vue.js"></script>
  	<script src="js/vue.js"></script>
  	<script src="js/backend.js"></script>
</head>
<body>
    <main class="container" id="app">
        <div class="navigation">
            <ul>
                <li>
                    <a @click="content('plan')">
                        <span class="icon">
                            <img src="img/icon/home-outline.svg" alt="">
                        </span>
                        <span class="title"></ion-icon>主頁</span>
                    </a>
                </li>
                <li>
                    <a @click="content('emp')">
                        <span class="icon">
                            <img src="img/icon/accessibility-outline.svg" alt="">
                        </span>
                        <span class="title">員工管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('cus')">
                        <span class="icon">
                            <img src="img/icon/person-outline.svg" alt="">
                        </span>
                        <span class="title">會員管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('result')">
                        <span class="icon">
                            <img src="img/icon/people-outline.svg" alt="">
                        </span>
                        <span class="title">測驗推薦管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('prd')">
                        <span class="icon">
                            <img src="img/icon/cart-outline.svg" alt="">
                        </span>
                        <span class="title">商品管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('ord')">
                        <span class="icon">
                            <img src="img/icon/receipt-outline.svg" alt="">
                        </span>
                        <span class="title">訂單管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('plan')">
                        <span class="icon">
                            <img src="img/icon/log-in-outline.svg" alt="">
                        </span>
                        <span class="title">服務方案管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('casetable')">
                        <span class="icon">
                            <img src="img/icon/calendar-outline.svg" alt="">
                        </span>
                        <span class="title">案例管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('event')">
                        <span class="icon">
                            <img src="img/icon/ticket-outline.svg" alt="">
                        </span>
                        <span class="title">活動管理</span>
                    </a>
                </li>
                <li>
                    <a @click="content('columntable')">
                        <span class="icon">
                            <img src="img/icon/albums-outline.svg" alt="">
                        </span>
                        <span class="title">專欄管理</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search">
                    <label for="">
                        <input type="text" placeholder="Search">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <!-- userImg -->
                <div class="user">
                    <img src="img/logo_act.jpg" alt="user">
                </div>
            </div>

            <!-- cards -->
            <!-- <div class="card_box">
                <div class="card">
                    <div>
                        <div class="numbers">8,808</div>
                        <div class="card_name">瀏覽人數</div>
                    </div>
                    <div class="icon_bx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">1,090</div>
                        <div class="card_name">銷售數量</div>
                    </div>
                    <div class="icon_bx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">$9,999</div>
                        <div class="card_name">銷售金額</div>
                    </div>
                    <div class="icon_bx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">1,504</div>
                        <div class="card_name">完成個案</div>
                    </div>
                    <div class="icon_bx">
                        <ion-icon name="file-tray-stacked-outline"></ion-icon>
                    </div>
                </div>
            </div> -->

            <div class="details">
                <div class="recent_orders">
                    <div class="card_header">
                        <!-- <h2>{{tableName}}</h2> -->
                        <h2>{{showtableTitle}}</h2>
                        <a href="#" class="btn">全部</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th v-for="tableHead in showTableHead">{{tableHead}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(tableBody, index) in showTableBody">
                                <td v-for="tableBodyIndex in tableBody">{{tableBodyIndex}}</td>
                                <td><button class="edit" type="button" @click='edit(index)'>編輯</button></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <!-- order details list
                <div class="recent_orders">
                    <div class="card_header">
                        <h2>{{title}}</h2>
                        <a href="#" class="btn">全部</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>訂單</td>
                                <td>價格</td>
                                <td>付款方式</td>
                                <td>狀態</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>訂單1</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status pending">送貨中</span></td>
                            </tr>
                            <tr>
                                <td>訂單2</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status return">退貨</span></td>
                            </tr>
                            <tr>
                                <td>訂單3</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status inprogress">進行中</span></td>
                            </tr>
                            <tr>
                                <td>訂單4</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單5</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單6</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單7</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單8</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單9</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                            <tr>
                                <td>訂單10</td>
                                <td>$1200</td>
                                <td>Visa</td>
                                <td><span class="status delivered">已送達</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                New Customers
                <div class="recent_customers">
                    <div class="card_header">
                        <h2>新會員</h2>
                    </div>
                    <table>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                        <tr>
                            <td class="customers_td"><div class="img_bx"><img src="img/logo_img.png" alt="new_customers"></div></td>
                            <td><h4>Amos<br><span>新竹</span></h4></td>
                        </tr>
                    </table>
                </div> -->
                <!-- <div class="n-member_edit" v-if='current_edit !== null'>
                    <p>編輯與查看</p>
        
                    <ul class="n-member_edit-member">                        
                        <li>編號:{{members[current_edit].member_id}}</li>
                        <li>性別:{{members[current_edit].gender}}</li>
                        <li>帳號:{{members[current_edit].account}}</li>
                        <li>手機:{{members[current_edit].phone}}</li>
                        <li>姓名:{{members[current_edit].name}}</li>
                        <li>
                            帳號狀態:
                            <select name="status" id="" v-model='m_status'>
                                <option value="0">停權</option>
                                <option value="1">正常</option>
                            </select>
                        </li>
                        <li>地址:{{members[current_edit].city + members[current_edit].area + members[current_edit].address}}</li>
                        <li>創建時間:{{members[current_edit].register_date}}</li> 
                    </ul>
        
                    <div class="n-member_editbtn">
                        <button class="n-member_close" @click='f_close'>關閉</button>
                        <button class="n-member_save" @click='f_save'>儲存</button>
                    </div>
                </div> -->
            </div>

        </div>
        <!-- <div class="n-member_edit" v-if='current_edit !== null'>
            <p>編輯與查看</p>

            <ul class="n-member_edit-member">                        
                <li>編號:{{members[current_edit].member_id}}</li>
                <li>性別:{{members[current_edit].gender}}</li>
                <li>帳號:{{members[current_edit].account}}</li>
                <li>手機:{{members[current_edit].phone}}</li>
                <li>姓名:{{members[current_edit].name}}</li>
                <li>
                    帳號狀態:
                    <select name="status" id="" v-model='m_status'>
                        <option value="0">停權</option>
                        <option value="1">正常</option>
                    </select>
                </li>
                <li>地址:{{members[current_edit].city + members[current_edit].area + members[current_edit].address}}</li>
                <li>創建時間:{{members[current_edit].register_date}}</li> 
            </ul>

            <div class="n-member_editbtn">
                <button class="n-member_close" @click='f_close'>關閉</button>
                <button class="n-member_save" @click='f_save'>儲存</button>
            </div>
        </div>   -->
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        // // MenuToggle
        // let toggle = document.querySelector('.toggle');
        // let navigation = document.querySelector('.navigation');
        // let main = document.querySelector('.main');

        // toggle.onclick = function(){
        //     navigation.classList.toggle('active');
        //     main.classList.toggle('active');
        // }

        // //add hovered class in selected list item
        // let list = document.querySelectorAll('.navigation li');
        // function activeLink(){
        //     list.forEach((item) =>
        //     item.classList.remove('hovered'));
        //     item.classList.add('hovered');
        // }
        // list.forEach((item) =>
        // item.addEventListener('mouseover',activeLink));
        
        // Vue.component('finish-button',{
        //     // template: `<button> Add </button>`,
        //     template: `<input id="finish" @click="judge" class="btn_sub rd" type="button" value="完成放置" disabled>`,
        //     methods: {
        //         judge(){
        //             if( $('#hiding img').length==1 && $('#garbage img').length<=1 ){
        //                 bus.$emit('abc',this.personality='蝴蝶');   // 自訂事件
        //             }else if( $('#hiding img').length<=5 && $('#garbage img').length<=1 ){
        //                 bus.$emit('abc',this.personality='蜜蜂');   // 自訂事件
        //             }else if( $('#hiding img').length>=5 && $('#garbage img').length<=3 ){
        //                 bus.$emit('abc',this.personality='瓢蟲');   // 自訂事件
        //             }else{
        //                 bus.$emit('abc',this.personality='蟋蟀');   // 自訂事件
        //             };
        //         },
        //     },
        // });
        // <div class="recent_orders">
        //     <div class="card_header">
        //         <h2>訂單狀態</h2>
        //         <a href="#" class="btn">全部</a>
        //     </div>
        //     <table>
        //         <thead>
        //             <tr>
        //                 <td>PLAN_NO</td>
        //                 <td>PLAN_NAME</td>
        //                 <td>PLAN_TA</td>
        //                 <td>PLAN_FEATURE</td>
        //                 <td>PRICE</td>
        //             </tr>
        //         </thead>
        //         <tbody>
        //             <tr v-for="resCol in resTable">
        //                 <td>{{resCol.PLAN_NO}}</td>
        //                 <td>{{resCol.PLAN_NAME}}</td>
        //                 <td>{{resCol.PLAN_TA}}</td>
        //                 <td>{{resCol.PLAN_FEATURE}}</td>
        //                 <td>{{resCol.PRICE}}</td>
        //             </tr>
        //         </tbody>
        //     </table>
        // </div>

        

		new Vue({
			el:"#app",
			data:{
                tableName:'',
                showtableTitle:'',
                tableTitles:['員工管理','會員管理','測驗推薦管理','商品管理','訂單管理','服務方案管理','案例管理','活動管理','專欄管理'],

                showTableHead:'',
                empTableHead:['員工編號','姓名','聯絡電話','職位','地址','入職日期','權限'],
                cusTableHead:['會員編號','姓名','帳號(信箱)','連絡電話','地址','性別','權限'],
                resultTableHead:['測驗編號','測驗人格','推薦方案','推薦商品1','推薦商品2','推薦商品3'],
                prdTableHead:['商品編號','分類','商品名稱','價格', '上下架'],
                ordTableHead:['訂單編號','帳號','訂購日期', '付款狀態', '訂單狀態'],
                planTableHead:['方案編號','方案名稱','方案價格'],
                caseTableHead:['案例編號','整理前','整理後'],
                eventTableHead:['標題','開始日期','截止日期','折扣碼','上下架'],
                columnTableHead:['專欄編號','標題','作者','日期'],

                showTableBody: '',
			},
            methods: {
                content(tableName) {
                    this.tableName = tableName;
                    var vueApp = this;
                    // console.log(tableName);
                    $.ajax({
                        url: `phps/backend.php`,   // 呼叫的檔案或網址列
                        data: `data=${tableName}`,     // 傳送到 server 端的資料，會自動轉成字串形式
                        // data: `type=select&sql=${tableName}`,
                        type: 'GET',     // GET 或 POST
                        dataType: 'json', // response 的資料格式，xml | html | script | json | jsonp | text
                        success(res){
                            vueApp.showTableBody = res;
                            if (tableName=='emp') {
                                vueApp.showtableTitle = vueApp.tableTitles[0];
                                vueApp.showTableHead = vueApp.empTableHead;

                                vueApp.showTableBody.forEach(element => {
                                    console.log(element);
                                    if(element.EMP_STATE == 1){
                                        console.log(element.EMP_STATE);
                                        element.EMP_STATE = "正常";
                                        console.log("過");
                                    }else if(element.EMP_STATE == 0){
                                        console.log(element.EMP_STATE);
                                        element.EMP_STATE = "停權";
                                        console.log("沒過");
                                    }
                                });
                                
                            }else if(tableName=='cus'){
                                vueApp.showtableTitle = vueApp.tableTitles[1];
                                vueApp.showTableHead = vueApp.cusTableHead;

                                vueApp.showTableBody.forEach(element => {
                                    console.log(element);
                                    if(element.STATE == 1){
                                        console.log(element.STATE);
                                        element.STATE = "正常";
                                        console.log("過");
                                    }else if(element.STATE == 0){
                                        console.log(element.STATE);
                                        element.STATE = "停權";
                                        console.log("沒過");
                                    }
                                });
                            }else if(tableName=='result'){
                                vueApp.showtableTitle = vueApp.tableTitles[2];
                                vueApp.showTableHead = vueApp.resultTableHead;
                            }else if(tableName=='prd'){
                                vueApp.showtableTitle = vueApp.tableTitles[3];
                                vueApp.showTableHead = vueApp.prdTableHead;
                                vueApp.showTableBody.forEach(element => {
                                    console.log(element);
                                    if(element.STATE == 1){
                                        console.log(element.STATE);
                                        element.STATE = "上架";
                                        console.log("過");
                                    }else if(element.STATE == 0){
                                        console.log(element.STATE);
                                        element.STATE = "下架";
                                        console.log("沒過");
                                    }
                                });
                            }else if(tableName=='ord'){
                                vueApp.showtableTitle = vueApp.tableTitles[4];
                                vueApp.showTableHead = vueApp.ordTableHead;
                            }else if(tableName=='plan'){
                                vueApp.showtableTitle = vueApp.tableTitles[5];
                                vueApp.showTableHead = vueApp.planTableHead;
                            }else if(tableName=='casetable'){
                                vueApp.showtableTitle = vueApp.tableTitles[6];
                                vueApp.showTableHead = vueApp.caseTableHead;
                            }else if(tableName=='event'){
                                vueApp.showtableTitle = vueApp.tableTitles[7];
                                vueApp.showTableHead = vueApp.eventTableHead;
                                
                                vueApp.showTableBody.forEach(element => {
                                    console.log(element);
                                    if(element.STATE == 1){
                                        console.log(element.STATE);
                                        element.STATE = "上架";
                                        console.log("過");
                                    }else if(element.STATE == 0){
                                        console.log(element.STATE);
                                        element.STATE = "下架";
                                        console.log("沒過");
                                    }
                                });
                            }else if(tableName=='columntable'){
                                vueApp.showtableTitle = vueApp.tableTitles[8];
                                vueApp.showTableHead = vueApp.columnTableHead;
                            };
                        },
                        error(res){
                            console.log('error');
                            console.log(res);
                        },
                    });

                    $(".edit").on('click', function(){

                    });


                },

                edit(index){
                    // let current_edit = 0;
                    // this.current_edit = index;
                    alert(index);     

                    // this.p_number = this.products[index].product_id;
                    // this.p_name = this.products[index].product_name;
                    // this.p_original = this.products[index].net_price;
                    // this.p_sell = this.products[index].price;
                    // this.p_stock = this.products[index].stock; 
                    // this.p_status = this.products[index].promotion;
                    // this.p_limit = this.products[index].promotion2;
                    // this.on_off = this.products[index].product_status;
                    // this.p_exp = this.products[index].expiration;
                    // this.p_customized = this.products[index].product_customize;
                    // this.p_sort = this.products[index].product_class;
                    // this.p_ingredient = this.products[index].ingredient;
                    // this.p_descript = this.products[index].product_content;
                    
                    // this.new_img[0] = this.products[index].product_image1;
                    // this.new_img[1] = this.products[index].product_image2;
                    // this.new_img[2] = this.products[index].product_image3;
                    // this.new_img[3] = this.products[index].product_image_topview;
                    // this.new_img[4] = this.products[index].product_image_customize;
            
                    // this.img_names[0]['src'] = '../images/shopping_list/'+ this.products[index].product_image1;
                    // this.img_names[1]['src'] = '../images/shopping_list/'+ this.products[index].product_image2;
                    // this.img_names[2]['src'] = '../images/shopping_list/'+ this.products[index].product_image3;
                    // this.img_names[3]['src'] = '../images/shopping_list/'+ this.products[index].product_image_topview;
                    // this.img_names[4]['src'] = '../images/shopping_list/'+ this.products[index].product_image_customize;
                }
            },
		});

    </script>
</body>
</html>