<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 初始設定，請自行修改title，及添加js連結 -->
    @@include('layout/head.html')
    <title>cart</title>

    <link rel="stylesheet" href="css/cart.css">


</head>

<body>

    <!-- <header></header> -->
    @@include('layout/header.html')

    <div id="tabs" class="container">

        <div class="progress">
            <a v-bind:class="[ activetab === '1' ? 'active' : '' ]" @click="clickHandler(1)">訂單資料</a>
            <a v-bind:class="[ activetab === '2' ? 'active' : '' ]" @click="clickHandler(2)">收件人資訊</a>
            <a v-bind:class="[ activetab === '3' ? 'active' : '' ]" @click="clickHandler(3)">訂單明細確認</a>
        </div>

        <div class="content">
            <div v-if="activetab ==='1'" class="tabcontent">
                <table>
                    <tr>
                        <td>商品詳情</td>
                        <td>單價</td>
                        <td></td>
                        <td>數量</td>
                        <td></td>
                        <td>小計</td>
                    </tr>

                    <tr v-for="(item, index) in list">
                        <td><img :src="image"></td>
                        <td>{{item.price}}</td>
                        <td><button @click="countNum(-1,index)" :disabled="item.isDisabled">-</button></td>
                        <td>{{item.count}}</td>
                        <td><button @click="countNum(1,index)">+</button></td>
                        <td>{{(item.price* item.count)}}</td>
                        <td><button @click="countNum(0,index)">刪除</button></td>
                    </tr>
                    <!-- <tr v-if="product">
                        <td><img :src="image"></td>
                        <td>{{price}}</td>
                        <td><button @click="countNum(-1)" :disabled="isDisabled">-</button></td>
                        <td>{{count}}</td>
                        <td><button @click="countNum(1)">+</button></td>
                        <td>{{total}}</td>
                        <td><button @click="count=0">刪除</button></td>
                    </tr> -->
                    <tr>
                        <td colspan="2">送貨及物流資訊</td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="宅配" id="plan1"
                                class="radio-input"><label for="plan1" class="radio-label"><span
                                    class="radio-button"></span>宅配</label></td>
                        <td></td>
                        <td></td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="7-11超商取貨付款"
                                id="plan2" class="radio-input"><label for="plan2" class="radio-label"><span
                                    class="radio-button"></span>7-11超商取貨付款</label></td>
                        <td></td>
                        <td></td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="全家超商取貨付款" id="plan3"
                                class="radio-input"><label for="plan3" class="radio-label"><span
                                    class="radio-button"></span>全家超商取貨付款</label></td>
                        <td></td>
                        <td></td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td colspan="2">優惠碼輸入:</td>
                        <td colspan="3">
                            <input type="text" maxlength="11" v-model="coupon"
                            @change="" placeholder="請輸入折扣碼">
                        </td>
                        <td colspan="2" class="left" >{{show_coupon}}</td>
                    </tr>
                    <tr>
                        <td>總金額</td>
                        <td>{{total_all}}</td>
                    </tr>
                </table>

                <div class="space">
                    <button>繼續購物</button>
                    <button v-on:click="activetab='2'">下一步</button>
                </div>
            </div>
            <div v-if="activetab ==='2'" class="tabcontent">
                <table>
                    <tr>
                        <td colspan="3">
                            <label>信用卡卡號:</label></td>
                        <td>
                            <select name="信用卡" v-model="cCard">
                                <option value="Visa" id="visa">Visa</option>
                                <option value="Mastercard" id="mastercard">Mastercard</option>
                            </select>
                        </td>
                        <td colspan="3" class="left">
                            <input type="text" name="cardNumber" id="cardNum" size="30" v-model="credit_card"
                                @change="ValidateCreditCardNumber(credit_card)" maxlength="16" /></td>
                            <td><img class="card_img" :src="[cCard ==='Visa' ? credit_card_png[0] : credit_card_png[1]]" alt="credit_card"></td>
                    </tr>
                    <tr>
                        <td colspan="3">信用卡到期日:</td>
                        <td>
                            <select name="年" v-model="selectedYear">
                                <option value="" disabled>選擇年份</option>
                                <option v-for="year in years">{{year}}年</option>
                            </select>
                        </td>
                        <td>
                            <select name="月份" v-model="selectedMonth">
                                <option value="" disabled>選擇月份</option>
                                <option v-for="month in 12">{{month}}月</option>
                            </select>
                        </td>
                        <td>驗證碼:</td>
                        <td><input type="text" size="3" maxlength="3"></td>
                    </tr>
                    <tr>
                        <td colspan="3">收貨人姓名:</td>
                        <td colspan="2"><input type="text" v-model="name"></td>
                    </tr>
                    <tr>
                        <td colspan="3">收貨地址:</td>
                        <td><select name="市" v-model="selectedCity" @change="changeCity">
                                <option value="" disabled>選擇縣市</option>
                                <option v-for="City in Citys">{{City}}</option>
                            </select></td>
                        <td><select name="區" v-model="selectedArea" @change="changeCity">
                                <option value="" disabled>選擇區域</option>
                                <option v-for="Area in Areas">{{Area}}</option>
                            </select></td>
                        <td colspan="3"><input type="text" v-model="address"></td>
                    </tr>
                </table>
                <div class="space">
                    <button v-on:click="activetab='1'">返回</button>
                    <button v-on:click="activetab='3'">下一步</button>
                </div>
            </div>
            <div v-if="activetab ==='3'" class="tabcontent">
                <table>
                    <tr>
                        <td>信用卡明細:</td>
                        <td>{{credit_card}}</td>
                    </tr>
                    <tr>
                        <td>物流資訊:</td>
                        <td>{{delivery}}</td>
                    </tr>
                    <tr>
                        <td>收貨地址:</td>
                        <td>{{selectedCity}}{{selectedArea}}{{address}}</td>
                    </tr>
                    <tr>
                        <td>{{address2}}</td>
                    </tr>
                    <tr>
                        <td>收貨人姓名:</td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>總金額:</td>
                        <td>{{total_all}}</td>
                    </tr>
                </table>
                <div class="space">
                    <button v-on:click="activetab='2'">返回</button><button>送出</button>
                </div>
            </div>
        </div>

    </div>

    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1',
                list: [
                    {
                    image: 'SoEazy.png',
                    count: 1,
                    price: 3200,
                    disabled: false,
                    },
                ],
                // next: false,
                message: '',
                Citys: ["台北市", "新北市", "基隆市", "桃園市"],
                Areas: '',
                selectedYear: '',
                selectedMonth: '',
                selectedCity: '',
                selectedArea: '',
                address: '',
                credit_card: '',
                cCard: 'Visa',
                delivery: '宅配',
                payment: '',
                name: '',
                coupon: '',
                credit_card_png: ['img/visa.png','img/mastercard.png'],
                isDisabled: true,
                years: [2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]
            },
            watch: {
                credit_card(nVal, oVal) {
                    console.log(nVal, oVal);
                    // this.ValidateCreditCardNumber(nVal);
                },
            },
            methods: {
                ValidateCreditCardNumber(num) {

                    // var ccNum = document.getElementById("cardNum").value;
                    // var ccNum = num;
                    var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                    var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
                    console.log((visaRegEx.test(num)))
                    if (this.cCard === 'Visa') {
                        if (!(visaRegEx.test(num))) {
                            alert("信用卡資料有誤");
                        }
                    } else {
                        if (!mastercardRegEx.test(num)) {
                            alert("信用卡資料有誤");
                        }
                    }
                },
                nextPage1() {

                },
                nextPage2() {

                },
                countNum(x, index) {
                    this.list[index].count += x;
                    if (this.list[index].count != 1) {
                        this.list[index].isDisabled = false
                    } else {
                        this.list[index].isDisabled = true
                    }
                },
                clickHandler(num) {
                    if (num <= this.activetab) {
                        this.activetab = `${num}`
                    }
                },
                changeCity() {
                    if (this.selectedCity === "台北市") {
                        return this.Areas = ["中正區", "大同區", "中山區", "松山區", "大安區", "萬華區", "信義區", "士林區", "北投區",
                            "內湖區", "南港區", "文山區"
                        ];
                    } else if (this.selectedCity === "新北市") {
                        return this.Areas = ["萬里區", "金山區", "板橋區", "汐止區", "深坑區", "石碇區", "瑞芳區", "平溪區", "雙溪區",
                            "貢寮區", "新店區", "坪林區", "烏來區", "永和區", "中和區", "土城區", "三峽區", "樹林區", "鶯歌區", "三重區",
                            "新莊區", "泰山區", "林口區", "蘆洲區", "五股區", "八里區", "淡水區", "三芝區", "石門區"
                        ];
                    } else if (this.selectedCity === "基隆市") {
                        return this.Areas = ["仁愛區", "信義區", "中正區", "中山區", "安樂區", "暖暖區", "七堵區"];
                    } else {
                        return this.Areas = ["中壢區", "平鎮區", "龍潭區", "楊梅區", "新屋區", "觀音區", "桃園區", "龜山區", "八德區",
                            "大溪區", "復興區", "大園區", "蘆竹區"
                        ];
                    }
                },
                // total(price, count) {
                //     return parseInt(price) * parseInt(count)
                // },
            },
            computed: {
                total_all(){               
                    if(this.coupon === "b"){
                        return (this.list[0].price*this.list[0].count)*(this.param)+this.fee;
                    }else if(this.coupon === "a" || this.coupon === "c"){
                        return (this.list[0].price*this.list[0].count)+(this.param)+this.fee;
                    }
                    else{
                        return this.list[0].price*this.list[0].count+this.fee;
                    }
                },

                // 運費
                fee() {
                    if(this.delivery === "宅配"){
                        return 70
                    }else if(this.delivery === "7-11超商取貨付款"){
                        return 80
                    }else if(this.delivery === "全家超商取貨付款"){
                        return 90
                    }
                },
                // 折扣碼顯示
                show_coupon(){
                    if(this.coupon === "a"){
                        return "折扣100元"
                    }else if(this.coupon === "b"){
                        return "8折"
                    }else if(this.coupon === "c"){
                        return "折扣90元"
                    }else if(this.coupon === ""){
                        return ""
                    }else{
                        return "無效"
                    }
                },
                // 折扣參數
                param(){
                    if(this.coupon === "a"){
                        return -100
                    }else if(this.coupon === "b"){
                        return 0.8
                    }else if(this.coupon === "c"){
                        return -90
                    }
                },
            },
        });
    </script>

    <!-- <footer></footer> -->
    @@include('layout/footer.html')
</body>

</html>