<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 初始設定，請自行修改title，及添加js連結 -->
    @@include('layout/head.html')
    <title>cart</title>

    <link rel="stylesheet" href="css/cart.css">


</head>

<body>

    <!-- <header></header> -->
    @@include('layout/header.html')

    <div id="tabs" class="container">

        <div class="progress">
            <a v-bind:class="[ activetab === '1' ? 'active' : '' ]">訂單資料</a>
            <a v-bind:class="[ activetab === '2' ? 'active' : '' ]">收件人資訊</a>
            <a v-bind:class="[ activetab === '3' ? 'active' : '' ]">訂單明細確認</a>
        </div>

        <div class="content">
            <div v-if="activetab ==='1'" class="tabcontent">
                <table>
                    <tr>
                        <td>商品詳情</td>
                        <td>單價</td>
                        <td>數量</td>
                        <td>小計</td>
                    </tr>
                    <tr v-if="product">
                        <td><img :src="image"></td>
                        <td>{{price}}</td>
                        <td><button @click="countNum(-1)" :disabled="isDisabled">-</button></td>
                        <td>{{count}}</td>
                        <td><button @click="countNum(1)">+</button></td>
                        <td>{{total}}</td>
                        <td><button @click="count=0">刪除</button></td>
                    </tr>
                    <tr>
                        <td class="left">送貨及物流資訊</td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="宅配" id="plan1"
                                class="radio-input"><label for="plan1" class="radio-label"><span
                                    class="radio-button"></span>宅配</label></td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="7-11超商取貨付款"
                                id="plan2" class="radio-input"><label for="plan2" class="radio-label"><span
                                    class="radio-button"></span>7-11超商取貨付款</label></td>
                    </tr>
                    <tr>
                        <td class="left" colspan="3"><input type="radio" v-model="delivery" value="全家超商取貨付款" id="plan3"
                                class="radio-input"><label for="plan3" class="radio-label"><span
                                    class="radio-button"></span>全家超商取貨付款</label></td>
                    </tr>
                    <tr>
                        <td>優惠碼輸入:</td>
                        <td colspan="3"><input type="text"></td>
                    </tr>
                    <tr>
                        <td><button>繼續購物</button></td>
                        <td><button v-on:click="activetab='2'">下一步</button></td>
                    </tr>
                </table>
            </div>
            <div v-if="activetab ==='2'" class="tabcontent">
                <table>
                    <tr>
                        <td colspan="3">信用卡:</td>
                        <td colspan="5">
                            <input type="radio" v-model="payment" value="Visa" id="visa" class="radio-input"><label
                                for="visa" class="radio-label"><span class="radio-button"></span>Visa</label>
                            <input type="radio" v-model="payment" value="Master Card" id="Master Card"
                                class="radio-input"><label for="Master Card" class="radio-label"><span
                                    class="radio-button"></span>Master Card</label>
                            <input type="radio" v-model="payment" value="American Express" id="American Express"
                                class="radio-input"><label for="American Express" class="radio-label"><span
                                    class="radio-button"></span>American Express</label>
                            <input type="radio" v-model="payment" value="Discover" id="Discover"
                                class="radio-input"><label for="Discover" class="radio-label"><span
                                    class="radio-button"></span>Discover</label></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Card Number:</label></td>
                        <td colspan="5">
                            <input type="text" name="cardNumber" id="cardNum" size="30" value="" v-model="credit_card"
                                maxlength="16" onblur="ValidateCreditCardNumber()" /></td>
                    </tr>
                    <tr>
                        <td colspan="3">信用卡到期日:</td>
                        <td colspan="2">
                            <select name="年" v-model="selectedYear">
                                <option v-for="year in years">{{year}}年</option>
                            </select>
                        </td>
                        <td colspan="2">
                            <select name="月份" v-model="selectedMonth">
                                <option v-for="month in 12">{{month}}月</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">收貨人姓名:</td>
                        <td colspan="3"><input type="text" v-model="name"></td>
                    </tr>
                    <tr>
                        <td colspan="3">收貨地址:</td>
                        <td><select name="市" v-model="selectedCity" @change="changeCity">
                                <option value="" disabled>請選擇</option>
                                <option v-for="City in Citys">{{City}}</option>
                            </select></td>
                        <td><select name="區" v-model="selectedArea" @change="changeCity">
                                <option value="" disabled>請選擇</option>
                                <option v-for="Area in Areas">{{Area}}</option>
                            </select></td>
                        <td><input type="text" v-model="address"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><button v-on:click="activetab='1'">返回</button>
                        <td></td>
                        </td colspan="3">
                        <td><button v-on:click="activetab='3'">下一步</button></td>
                    </tr>
                </table>
            </div>
            <div v-if="activetab ==='3'" class="tabcontent">
                <table>
                    <tr>
                        <td>信用卡明細:</td>
                        <td>{{credit_card}}</td>
                    </tr>
                    <tr>
                        <td>物流資訊:</td>
                        <td>{{delivery}}</td>
                    </tr>
                    <tr>
                        <td>收貨地址:</td>
                        <td>{{selectedCity}}{{selectedArea}}{{address}}</td>
                    </tr>
                    <tr>
                        <td>{{address2}}</td>
                    </tr>
                    <tr>
                        <td>收貨人姓名:</td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>總金額:</td>
                        <td>{{total}}</td>
                    </tr>
                    <tr>
                        <td><button v-on:click="activetab='2'">返回</button></td>
                        <td><button>送出</button></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <script>
        function ValidateCreditCardNumber() {

            var ccNum = document.getElementById("cardNum").value;

            var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
            var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
            var amexpRegEx = /^(?:3[47][0-9]{13})$/;
            var discovRegEx = /^(?:6(?:011|5[0-9][0-9])[0-9]{12})$/;


            if (visaRegEx.test(ccNum) === false) { // Visa validation
                alert("信用卡資料有誤");
                return;
            }
            if (mastercardRegEx.test(ccNum) === false) { // MasterCard validation
                alert("信用卡資料有誤");
                return;
            }
            if (amexpRegEx.test(ccNum) === false) { // Amex  validation
                alert("信用卡資料有誤");
                return;
            }
            if (discovRegEx.test(ccNum) === false) { // Discover validation
                alert("信用卡資料有誤");
                return;
            }
        }
    </script>
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1',
                message: '',
                Citys: ["台北市", "新北市", "基隆市", "桃園市"],
                Areas: '',
                selectedCity: '',
                selectedArea: '',
                address: '',
                credit_card: '',
                delivery: '',
                payment: '',
                name: '',
                coupon: '',
                count: 1,
                price: 3200,
                image: 'SoEazy.png',
                isDisabled: true,
                years: [2020, 2021, 2022, 2023]
            },
            methods: {
                countNum(x) {
                    this.count += x;
                    if (this.count != 1) {
                        this.isDisabled = false
                    } else {
                        this.isDisabled = true
                    }
                },
                changeCity() {
                    if (this.selectedCity === "台北市") {
                        return this.Areas = ["中正區", "大同區", "中山區", "松山區", "大安區", "萬華區", "信義區", "士林區", "北投區",
                            "內湖區", "南港區", "文山區"
                        ];
                    } else if (this.selectedCity === "新北市") {
                        return this.Areas = ["萬里區", "金山區", "板橋區", "汐止區", "深坑區", "石碇區", "瑞芳區", "平溪區", "雙溪區",
                            "貢寮區", "新店區", "坪林區", "烏來區", "永和區", "中和區", "土城區", "三峽區", "樹林區", "鶯歌區", "三重區",
                            "新莊區", "泰山區", "林口區", "蘆洲區", "五股區", "八里區", "淡水區", "三芝區", "石門區"
                        ];
                    } else if (this.selectedCity === "基隆市") {
                        return this.Areas = ["仁愛區", "信義區", "中正區", "中山區", "安樂區", "暖暖區", "七堵區"];
                    } else {
                        return this.Areas = ["中壢區", "平鎮區", "龍潭區", "楊梅區", "新屋區", "觀音區", "桃園區", "龜山區", "八德區",
                            "大溪區", "復興區", "大園區", "蘆竹區"
                        ];
                    }
                }
            },
            computed: {
                total() {
                    return parseInt(this.price) * parseInt(this.count)
                },
                product() {
                    return parseInt(this.count)
                },
            },
        });
    </script>

    <!-- <footer></footer> -->
    @@include('layout/footer.html')
</body>

</html>