<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 初始設定，請自行修改title，及添加js連結 -->
    @@include('layout/head.html')
    <title>cart</title>
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/cart.css">
</head>

<body>
    <!-- <header></header> -->
    @@include('layout/header.html')
    <div id="tabs" class="container">

        <div class="progress">
            <a v-bind:class="[ activetab === '1' ? 'active' : '' ]" @click="clickHandler(1)"><img src="img/reserve_contract.png" alt=""> 商品資訊</a>
            <a v-bind:class="[ activetab === '2' ? 'active' : '' ]" @click="clickHandler(2)"><img src="img/reserve_credit-card.png" alt=""> 付款資訊</a>
            <a v-bind:class="[ activetab === '3' ? 'active' : '' ]" @click="clickHandler(3)"><img src="img/reserve_receipt.png" alt=""> 訂單明細</a>
        </div>

        <div class="content">
            <div v-if="activetab ==='1'" class="tabcontent">
                <div v-if="noshopping" class="noshopping">
                    <p>目前購物車是空的</p>
                </div>
                <div v-for="(item, index) in cart">
                    <div class="flex border-bottom">
                        <div><img :src="'img/'+item.prdImg" style="height: 80px;"></div>
                        <div class="flex-grow center">
                            <p>{{item.prdName}}</p>
                        </div>
                        <div style="display: flex;" style="justify-content: center;">
                            <div class="center" style="width: 80px;">
                                <p>$ {{item.prdPrice}}</p>
                            </div>
                            <div class="center"><button @click="countNum(-1,index)" :disabled="item.isDisabled" class="add">
                                    <p>-</p>
                                </button>
                            </div>
                            <div class="center">
                                <input @change="changeNum" type="number" min="1" max="99" v-model.number="item.prdNum" size="1" class="changeNum"></div>
                            <div class="center"><button @click="countNum(1,index)" class="add">
                                    <p>+</p>
                                </button></div>
                            <div class="center" style="width: 90px;">
                                <p>$ {{(item.prdPrice* item.prdNum)}}</p>
                            </div>
                            <div class="center"><img src="img/trash_bin.png" @click="del_btn(index)" style="width: 30px;filter: invert(100%);"></div>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td class="left">
                            <p>優惠碼輸入:</p>
                        </td>
                        <td>
                            <input type="text" maxlength="11" v-model.trim="person.coupon" placeholder=" 請輸入折扣碼 " class="full">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <p>送貨及物流資訊</p>
                        </td>
                        <td>
                            <p>{{show_coupon}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left flex">
                            <input type="radio" v-model="person.delivery" value="宅配" id="plan1" class="radio-input full"><label for="plan1" class="radio-label center"><span class="radio-button"></span>
                                <p>宅配</p>
                            </label></td>
                        <td>
                            <p class="price">$ 100</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left flex">
                            <input type="radio" v-model="person.delivery" value="7-11超商取貨" id="plan2" class="radio-input full"><label for="plan2" class="radio-label center"><span class="radio-button"></span>
                            <p>7-11超商取貨</p>
                            </label></td>
                        <td>
                            <p class="price">$ 90</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left flex">
                            <input type="radio" v-model="person.delivery" value="全家超商取貨" id="plan3" class="radio-input full"><label for="plan3" class="radio-label center"><span class="radio-button"></span>
                                <p>全家超商取貨</p>
                            </label></td>
                        <td>
                            <p class="price">$ 80</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <p>總金額</p>
                        </td>
                        <td>
                            <p class="price">$ {{total_all}}</p>
                        </td>
                    </tr>
                </table>

                <div class="space">
                    <button class="center"><a href="mall.html">繼續購物</a>
                    </button>
                    <button class="center" @click="nextHandler(1)">下一步</button>
                </div>
            </div>
            <div v-if="activetab ==='2'" class="tabcontent" style="padding: 10px 60px;">
                <div class="payment">
                    <div class="center"><h3>付款資訊</h3></div>
                    <div class="ccard flex">
                        <div class="c_pic center">
                            <img :src="[cCard ==='Visa' ? credit_card_png[0] : credit_card_png[1]]" alt="credit_card">
                        </div>
                        <div class="table_ccard">
                            <div class="flex">
                                <h4 class="left">信用卡卡號</h4>
                                <select name="信用卡" v-model="cCard" @change="change_src" id="card_type">
                                    <option value="Visa" id="visa">Visa</option>
                                    <option value="Mastercard" id="mastercard">Mastercard</option>
                                </select>
                                <input type="text" name="cardNumber" id="cardNum" v-model.number="credit_card" @change="ValidateCreditCardNumber(credit_card)" placeholder=" 請輸入信用卡卡號 " maxlength="16"/>
                            </div>
                            <div class="flex">
                                <h4 class="left">驗證碼</h4>
                                <input type="text" maxlength="3" size="9" v-model.number="test">
                            </div>
                            <div class="flex">
                                <h4 class="left">信用卡到期日</h4>
                                <select name="年" v-model="selectedYear">
                                    <option v-for="year in years">{{year}}年</option>
                                </select>
                                <select name="月份"  v-model="selectedMonth" >
                                    <option v-for="month in 12">{{month}}月</option>
                                </select>
                            </div>
                            <div class="flex">
                                <h4 class="left">姓名</h4>
                                <input type="text" v-model.trim="person.name">
                            </div>
                            <div class="flex">
                                <h4 class="left">電話</h4>
                                <input type="text" v-model="person.phone" maxlength="10">
                            </div>
                            <div class="flex">
                                <h4 class="left">地址</h4>
                                <input type="text" v-model.trim="person.address">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----舊版----- -->
                <!-- <div class="flex padding-bottom credit">
                    <div class="box">
                        <div>
                            <p style="width: 100px;">信用卡卡號</p>
                        </div>
                        <div class="select_box">
                            <select name="信用卡" v-model="cCard" class="select">
                                <option value="Visa" id="visa">Visa</option>
                                <option value="Mastercard" id="mastercard">Mastercard</option>
                            </select>
                        </div>
                        <div class="select_box">
                            <input type="text" name="cardNumber" id="cardNum" v-model.number="credit_card" @change="ValidateCreditCardNumber(credit_card)" placeholder=" 請輸入信用卡卡號 " maxlength="16" size="12" />
                        </div>
                    </div>
                    <div style="width: 100px;">
                        <img class="card_img" :src="[cCard ==='Visa' ? credit_card_png[0] : credit_card_png[1]]" alt="credit_card">
                    </div>
                </div>
                <div class="flex padding-bottom">
                    <div class="box">
                        <div>
                            <p style="width: 100px;">到期日:</p>
                        </div>
                        <div class="select_box">
                            <select name="年" v-model="selectedYear" class="select">
                                <option value="" disabled>選擇年份</option>
                                <option v-for="year in years">{{year}}年</option>
                            </select>
                        </div>
                        <div class="select_box">
                            <select name="月份" v-model="selectedMonth" class="select">
                                <option value="" disabled>選擇月份</option>
                                <option v-for="month in 12">{{month}}月</option>
                            </select>
                        </div>
                    </div>
                    <div class="box verify">
                        <div>
                            <p style="width: 100px;">驗證碼:</p>
                        </div>
                        <div class="select_box"><input type="text" maxlength="3" v-model.number="test" size="1"></div>
                    </div>
                </div> -->
                <!-- <div class="flex padding-bottom">
                    <div class="box">
                        <div>
                            <p style="width: 100px;">姓名:</p>
                        </div>
                        <div class="select_box"><input type="text" v-model.trim="person.name" size="10"></div>
                    </div>
                    <div></div>
                    <div class="box">
                        <div>
                            <p style="width: 100px;">電話:</p>
                        </div>
                        <div class="select_box"><input type="text" v-model.number="person.phone" maxlength="10" size="10"></div>
                    </div>
                </div>
                <div class="flex padding-bottom">
                    <div class="box">
                        <div>
                            <p style="width: 100px;">地址:</p>
                        </div>
                        <div class="select_box"><input type="text" v-model.trim="person.address" style="width: 100%;" size="33"></div>
                    </div>
                </div> -->
                <div class="space">
                    <button class="center" v-on:click="activetab='1'">返回
                    </button>
                    <button class="center" @click="nextHandler(2)">下一步</button>
                </div>
            </div>
            <div v-if="activetab ==='3'" class="tabcontent">
                <table>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>信用卡明細:</p>
                        </td>
                        <td>
                            <p>{{credit_card}}</p>
                        </td>
                    </tr>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>物流資訊:</p>
                        </td>
                        <td>
                            <p>{{person.delivery}}</p>
                        </td>
                    </tr>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>收貨地址:</p>
                        </td>
                        <td>
                            <p>{{person.address}}</p>
                        </td>
                    </tr>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>收貨人姓名:</p>
                        </td>
                        <td>
                            <p>{{person.name}}</p>
                        </td>
                    </tr>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>收貨人電話:</p>
                        </td>
                        <td>
                            <p>{{person.phone}}</p>
                        </td>
                    </tr>
                    <tr class="padding-bottom shlist">
                        <td class="left">
                            <p>總金額:</p>
                        </td>
                        <td>
                            <p>$ {{total_all}}</p>
                        </td>
                    </tr>
                </table>
                <div class="space">
                    <button class="center" v-on:click="activetab='2'">返回
                    </button><button class="center" @click="saveOrder"><a href="home.html">送出</a></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1',
                noshopping: true,
                cart: [],
                prdsRows: '',
                selectedYear: '',
                selectedMonth: '',
                test: '',
                credit_card: '',
                cCard: "Visa",
                credit_card_png: ['img/visa.gif', 'img/mstercard.gif'],
                isDisabled: true,
                years: [2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030],
                couponinfos: [],
                cusRow: {
                    EMAIL: '',
                    CUS_NAME: '',
                    CUS_TEL: '',
                    CUS_ADD: '',
                },
                person: {
                    phone: '',
                    coupon: '',
                    address: '',
                    name: '',
                    delivery: '宅配',
                    total: '',
                },
            },
            watch: {
                credit_card(nVal, oVal) {
                    // console.log(nVal, oVal);
                    // this.ValidateCreditCardNumber(nVal);
                },
            },
            methods: {
                getMemberInfo() {
                    let xhr = new XMLHttpRequest();
                    let thisVue = this;
                    xhr.onload = function () {
                        thisVue.cusRow = JSON.parse(xhr.responseText);
                        // console.log(thisVue.cusRow);
                        if (!thisVue.cusRow.EMAIL) {
                            alert("請先登入");
                            location.href = "login.html";
                        } else {
                            thisVue.person.name = thisVue.cusRow.CUS_NAME;
                            thisVue.person.phone = thisVue.cusRow.CUS_TEL;
                            thisVue.person.address = thisVue.cusRow.CUS_ADD;
                            thisVue.getcoupon();
                        };
                    };
                    xhr.open("get", "phps/getMemberInfo.php", true);
                    xhr.send(null);
                },
                getcoupon() {
                    let thisVue = this;
                    $.ajax({
                        url: `phps/coupon.php`,
                        data: `data=${thisVue.cusRow.CUS_NO}`,
                        type: 'GET',
                        dataType: 'json',
                        success(res) {
                            thisVue.couponinfos = res;
                        },
                    })
                },
                del_btn(index) {
                    this.cart.splice(index, 1);
                    localStorage.setItem("cart", JSON.stringify(this.cart));
                    if (this.cart == "") {
                        this.noshopping = true;
                    }
                    window.addEventListener('click', indexOfCart, false);
                },
                getList() {
                    let cart = JSON.parse(localStorage.getItem("cart"));
                    this.cart = cart;
                    for (i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].prdNum < 1) {
                            this.cart[i].prdNum = 1;
                        }
                    }
                    if (this.cart && this.cart.length > 0) {
                        this.noshopping = false;
                    }
                },
                setList() {
                    localStorage["cart"] = JSON.stringify(this.cart);
                },
                ValidateCreditCardNumber(num) {
                    var ccNum = document.getElementById("cardNum").value;
                    var ccNum = num;
                    var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                    var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
                    // console.log((visaRegEx.test(num)));
                    if (this.cCard === 'Visa') {
                        if (!(visaRegEx.test(num))) {
                            return false;
                        }
                        return (visaRegEx.test(num))
                    } else if (this.cCard === 'Mastercard') {
                        if (!(mastercardRegEx.test(num))) {
                            return false;
                        }
                        return (mastercardRegEx.test(num))
                    }
                },
                countNum(x, index) {
                    this.cart[index].prdNum += x;
                    if (this.cart[index].prdNum != 1) {
                        this.cart[index].isDisabled = false
                    } else {
                        this.cart[index].isDisabled = true
                    }
                    this.setList();
                },
                changeNum(index) {
                    this.setList();
                    this.getList();
                    this.setList();
                },
                clickHandler(num) {
                    if (num <= this.activetab) {
                        this.activetab = `${num}`
                    }
                },
                nextHandler(num) {
                    if (num == 1) {
                        if (!this.cusRow.EMAIL) alert("請先登入才可以下一步");
                        else if (this.person.total <= 0) alert("價格必須多於1元");
                        else this.activetab = `${num + 1}`
                    }
                    let credit_valid = this.ValidateCreditCardNumber(this.credit_card);
                    if (num == 2) {
                        if (!this.credit_card || !this.selectedYear || !this.selectedMonth || !this.test || !
                            this.person.name || !this.person.address || !
                            credit_valid) alert("資料不完整或有誤");
                        else this.activetab = `${num + 1}`
                    }
                },
                saveOrder() {
                    alert("購買成功~");
                    let data_info = JSON.stringify(this.cart);
                    let person_info = JSON.stringify(this.person);
                    let xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        console.log(xhr.responseText);
                    }
                    let url = "phps/orderToDb.php?cart=" + data_info + "&person=" + person_info;
                    xhr.open("get", url, true);
                    xhr.send(null);
                    localStorage.clear("cart");
                },
            },
            computed: {
                // 折扣碼顯示
                show_coupon() {
                    if (this.person.coupon === "") {
                        return ""
                    } else {
                        for (let j = 0; j < this.couponinfos.length; j++) {
                            if (this.person.coupon === this.couponinfos[j].COUPON) {
                                return "優惠碼已使用"
                            }
                        }
                        if (this.person.coupon === "22HAPPYMDAY") {
                            return "折扣1000元(商品價格少於1000無法使用)"
                        } else if (this.person.coupon === "2022HAPPY88") {
                            return "全部商品打88折"
                        } else if (this.person.coupon === "22SOEASYEVD") {
                            return "折扣900元(商品價格少於900無法使用)"
                        } else {
                            return "優惠碼不正確"
                        }
                    }
                },
                // 折扣參數
                param() {
                    if (this.person.coupon === "22HAPPYMDAY") {
                        return -1000
                    } else if (this.person.coupon === "2022HAPPY88") {
                        return 0.88
                    } else if (this.person.coupon === "22SOEASYEVD") {
                        return -900
                    }
                },
                total_all() {
                    let all = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        all += this.cart[i].prdPrice * this.cart[i].prdNum;
                    }
                    if (this.show_coupon === "優惠碼已使用") {
                        all += this.fee;
                    } else if (this.person.coupon === "2022HAPPY88" && this.cart != "") {
                        all *= this.param;
                        all = Math.round(all);
                        all += this.fee;
                    } else if (this.person.coupon === "22HAPPYMDAY" && this.cart != "" && all >= 1000){
                        all += this.param;
                        all += this.fee;
                    } else if (this.person.coupon === "22SOEASYEVD" && this.cart != "" && all >= 900){
                        all += this.param;
                        all += this.fee;
                    } else if (this.cart == "") {
                        all = 0;
                    } else {
                        all += this.fee;
                    }
                    this.person.total = all;
                    return all;
                },
                // 運費
                fee() {
                    if (this.person.delivery === "宅配") {
                        return 100
                    } else if (this.person.delivery === "7-11超商取貨") {
                        return 90
                    } else if (this.person.delivery === "全家超商取貨") {
                        return 80
                    }
                },
            },
            mounted() {
                this.getMemberInfo();
                this.getList();
            },
        });
    </script>
    <!-- <footer></footer> -->
    @@include('layout/footer.html')
</body>

</html>