<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('layout/head.html')
    <title>會員專區</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/member.css">
</head>
<body>
    @@include('layout/header.html')
    <main  id="mem_data">
        <!-- 會員功能欄開始 ---------------------------->
        <section class="data_column">
            <!-- 功能欄--各細項 data_button ------------------>
            <div class="data_button">
                <input type="checkbox" id="m_data">
                <label for="m_data" class="id">
                    <div class="mem">
                        <div class="mem_icon">
                            <img :src="cus_pic">
                        </div>
                        <div class="mem_p">
                            <!-- 名字 -->
                            <p>{{cusRow.CUS_NAME}}</p>
                            <!-- email -->
                            <p><span>{{cusRow.EMAIL}}</span></p>
                        </div>
                        <img src="img/memupupdowndown.png"  class="up_down">
                    </div>
                </label>
                <div class="con_data">
                    <a @click="data=true,p_order=false,p_reserve=false" class="changChick hovered" onclick="changChick(this)">會員資料</a>
                    <a @click="data=false,p_order=true,p_reserve=false" class="changChick" onclick="changChick(this)">商品訂單</a>
                    <a @click="data=false,p_order=false,p_reserve=true" class="changChick" onclick="changChick(this)">服務預約</a>
                    <a id="btnLogout">登出</a>
                </div>
            </div>
        </section>
        <!-- 會員功能欄結束 ---------------------------->

        <!-- 會員資料顯示開始 -------------------------->
        <section class="data_con">
            <!-- 資料區的頭上槓槓 -->
            <div class="title_color"></div>
            <!-- 資料區的內容盒子 data_mem------------------>
            <form id="myForm">
                <div class="data_mem" v-show="data">
                    <div class="icon_edit">
                        <div class="mem_icon" >
                                <!-- 大頭貼 -->
                                <img id="myImg" :src="cus_pic">
                                <input type="file" name="upFile" id="upFile" accept="image/jpeg, image/png" >
                                <label id="btnUpload" class="btn_btn br" for="upFile">編輯大頭貼
                                </label>
                        </div>
                    </div>
                    <!-- 氣氣氣table -->
                    <!-- 不是table -->
                    <div class="mem_txt">
                        <div class="item_box">
                            <label><p> &emsp; &emsp;姓名
                                <input id="cus_name" name="cus_name" class='member_name cus_name' type="text" v-model="cusRow.CUS_NAME" disabled >
                               </p>
                            </label>
                        </div>
                        <div class="item_box">
                            <div class='gender'><p> &emsp; &emsp;性別</p>
                                <ul>
                                    <li>
                                        <input class='radio-input' name='gender' type="radio" id="male" value='男' disabled>
                                        <label for="male" class="radio-label">
                                            <span class="radio-button"></span>
                                            男性
                                        </label>
                                    </li>
                                    <li>
                                        <input class='radio-input' name='gender' type="radio" id="female" value='女' disabled>
                                        <label for="female" class="radio-label">
                                            <span class="radio-button"></span>
                                            女性
                                        </label>
                                    </li>
                                </ul>
                
                            </div>
                        </div>
                        <div class="item_box">
                            <label for="email"><p> &emsp; &emsp;帳號
                                <input id="email" name="my_email" class='mem_id' type="email" v-model='cusRow.EMAIL' disabled></p>
                            </label>
                        </div>
                        <div class="item_box">
                            <label><p>&ensp;連絡電話
                                <input id="cus_tel" name="cus_tel"  type="text" v-model=cusRow.CUS_TEL disabled maxlength="10"></p>
                            </label>
                        </div>
                        <div class="item_box">
                            <label><p>&ensp;連絡地址
                                <input id="cus_add" name="cus_add" class='memberLeft memberAdr' type="text" v-model=cusRow.CUS_ADD disabled></p>
                            </label>
                        </div>
                
                        <!-------新增取消修改-------->
                        <button id="btnCancel" type="button" class="btn_sub bl cancel" @click="getMemberInfo">取消修改</button>
                        <button id="btnSave" type="button" class="btn_sub br" @click="changeMemberInfo">儲存修改</button>
                        <button id="btnChange" type="button" class="btn_sub br">修改會員資料</button>
                    </div>
                </div>
            </form>
            <!-- 會員資料顯示結束 ------------------------ -->


            <!--------------------- 我是可愛分隔線 --------------------->

            <!-- 我是訂單區 ------------------------------->
            <div class="data_mem data_list" v-show="p_order">
                <!-- <h3>商品訂單</h3> -->
                <div class="ori">
                    <h3>目前尚無訂單</h3>
                </div>
                <div class="memberOrder" v-for="ordcloumn in ordcloumns">
                    <div class="memberOrderContent">
                        <div class="memberGrid">
                            <div class="memberGrid1">訂單編號</div>
                            <div class="memberGrid2">日期</div>
                            <div class="memberGrid3">取貨方式</div>
                            <div class="memberGrid4">運費</div>
                            <div class="memberGrid5">訂單金額</div>
                            <div class="memberGrid6">訂單狀態</div>
                            <div class="memberGrid7">優惠碼</div>
                            <div class="memberGrid8">收件人資訊</div>
                            <div class="memberGrid9"> {{ordcloumn.ORD_NO}} </div>
                            <div class="memberGrid10"> {{ordcloumn.TIME}} </div>
                            <div class="memberGrid11"> {{ordcloumn.SHIPPING}}</div>
                            <div class="memberGrid12"> ${{ordcloumn.DEL_FEE}} </div>
                            <div class="memberGrid13"> ${{ordcloumn.TOTAL}} </div>
                            <div class="memberGrid14"> {{ordcloumn.STATE}} </div>
                            <div class="memberGrid15"> {{ordcloumn.COUPON}} </div>
                            <a @click="mem_info=true" class="memberGrid16 memberReceiverID">詳細資訊</a>
                        </div>
                    </div>
                    <!-- 收件人資料，預設隱藏 -->
                    <div id="mem_info" v-show="mem_info"> 
                        <div class="info">
                            <h3>收件人資料</h3>
                            <div>收件人姓名：{{ordcloumn.CUS_NAME}}</div>
                            <div>收件人地址：{{ordcloumn.CUS_ADD}}</div>
                            <div>收件人電話：{{ordcloumn.CUS_TEL}}</div>
                            <a @click="mem_info=false">確認</a>
                        </div>
                    </div> 
            
                    <div class="memberOrderDetailHere">
                        <div class="memberOrderDetailAll">
                            <div class="memberOrderDetail">
                                <!-- <input type="checkbox" id="order_title"> -->
                                <label for="order_title" class="order_label">
                                    <div class="memberOrderD1">
                                        <div>訂單詳情</div>
                                        <!-- <img src="img/w_memupupdowndown.png"  class="up_down"> -->
                                    </div>
                                </label>
                                <div class="mem_info_con" >
                                    <a :href="'product.php?prdno='+ordprd.PRD_NO" class="memberOrderD2"  v-for="ordprd in ordprds.filter((obj) => obj.ORD_NO == ordcloumn.ORD_NO )">
                                        <img :src="'img/'+ordprd.IMG1">
                                        <div class="ordprd_PRD_NAME">{{ordprd.PRD_NAME}}</div>
                                        <div class="amount_center">{{ordprd.AMOUNT}}件</div>
                                        <div class="total_cla">${{ordprd.AMOUNT*ordprd.PRICE}}</div>
                                    </a>
                                    <!-- <div class="ord_total">使用優惠碼{{ordcloumn.COUPON}}，折扣{{ordcloumn.PARM}}元，共{{ordcloumn.TOTAL-ordcloumn.PARM}}元</div> -->
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                
                    <!-- <div class="receiverDetail" style="display: none;">
                        <div>
                            <p>收件人姓名：<input disabled="" type="text" value=" 1 " style="border: 2px solid transparent;"></p>
                            <p>收件人電話：<input disabled="" type="text" value=" 1 " style="border: 2px solid transparent;"></p>
                            <p>收件人地址：<input disabled="" type="text" value=" 1 " style="border: 2px solid transparent;"></p>
                        </div>
                        <button class="">確認</button>
                    </div> -->
                
                </div>

                 
            </div>
            <!-- 訂單區結束 ------------------------------->

            <!-- 我是預約區 ------------------------------->
            <div class="data_mem data_list" v-show="p_reserve">
                <div class="ori">
                    <h3>目前尚無訂單</h3>
                </div>
                <div class="memberReserve" v-for="rescloumn in rescloumns">
                    <div class="memberReserveContent">
                        <div class="memberGrid">
                            <div class="memberGrid1">訂單編號</div>
                            <div class="memberGrid2">預約時間</div>
                            <div class="memberGrid3">金額</div>
                            <div class="memberGrid4">預約方案</div>
                            <div class="memberGrid5">預約整理師</div>
                            <div class="memberGrid6">預約狀態</div>
                            <!-- <div class="memberGrid7">項目7</div> -->
                            <!-- <div class="memberGrid8">項目8</div> -->
                            <div class="memberGrid9"> {{rescloumn.SAO_NO}} </div>
                            <div class="memberGrid10"> {{rescloumn.SAO_DATE}}{{rescloumn.SAO_TIME}} </div>
                            <div class="memberGrid11"> {{rescloumn.PRICE}} </div>
                            <div class="memberGrid12"> {{rescloumn.planname}} </div>
                            <div class="memberGrid13"> {{rescloumn.empname}} </div>
                            <div class="memberGrid14"> {{rescloumn.STATE}} </div>
                            <!-- <div class="memberGrid15"> 項目15 </div> -->
                            <!-- <div class="memberGrid16 memberReceiverID">項目16</div> -->
                        </div>
                    </div>
            
                    <div class="memberReserveDetailHere">
                        <div class="memberReserveDetailAll">
                            <div class="memberReserveDetail">
                                <div class="memberReserveD1">
                                    <div>顧客需求</div>
                                </div>
                                <div href="product.html" class="memberOrderD2">
                                    <p>{{rescloumn.NEEDS}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- ------------ 我是Vue分隔線 ------------ -->
        <script >
            new Vue({
                el:'#mem_data',
                data:{
                    data:true, // 預設
                    p_order:false, // 預設
                    p_reserve:false,// 預設
                    order:false, // 預設
                    mem_info:false,//收件人資料
                    cusRow:[{CUS_NO: '', EMAIL: '', CUS_NAME: '', CUS_TEL: '',SEX:''}],
                    gender:'',
                    cus_pic:'img/cus/emp_img.jpg', // 預設大頭貼
                    rescloumns:[],
                    // {SAO_NO: '', EMP_NO: '', empname: '', CUS_NO: '',cusname:'',planname:'',SAO_NAME:'',SAO_TEL:'',SAO_DATE:'',SAO_TIME:'',SAO_ADD:'',UPLOAD_PIC1:'',UPLOAD_PIC2:'',UPLOAD_PIC3:'',NEEDS:'',STATE:'',INFO:'',BEFORE_IMG:'',AFTER_IMG:'',PRICE:''}
                    ordcloumns:[],
                    // {ORD_NO: '',CUS_NO: '',  CUS_NAME: '', CUS_TEL: '',CUS_ADD:'',TIME:'',SHIPPING:'',TOTAL:'',PAY_STATE:'',STATE:'',COUPON:'',PRD_NO:'',PRD_NAME:'',prd_price:'',AMOUNT:''}
                    ordprds:[],
                },
                methods: {
                    getMemberInfo(){
                        let xhr = new XMLHttpRequest();
                        let thisVue = this;
                        xhr.onload = function(){
                            thisVue.cusRow = JSON.parse(xhr.responseText);
                            // console.log(thisVue.cusRow);
                            if(thisVue.cusRow.CUS_PIC!=''){
                                thisVue.cus_pic = "img/cus/"+thisVue.cusRow.CUS_PIC; // 大頭貼路徑
                            }
                            // console.log(thisVue.cus_pic);
                            if(thisVue.cusRow.SEX == "女"){
                                $('#female').prop('checked',true);
                            }else if(thisVue.cusRow.SEX == "男"){
                                $('#male').prop('checked',true);
                            }   
                        }
                        xhr.open("get", "phps/getMemberInfo.php", true);
                        xhr.send(null);
                    },
                    changeMemberInfo(){
                        let thisVue = this;
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            console.log(xhr.responseText);
                            thisVue.getMemberInfo();
                            history.go(0);
                        }
                        
                        xhr.open("post", "phps/changeMemberInfo.php", true);  
                        let myForm = document.getElementById("myForm");
                        let formData = new FormData(myForm);
                        xhr.send(formData);
                    },
                    getOrderInfo(){
                        let xhr = new XMLHttpRequest();
                        let thisVue = this;
                        xhr.onload = function(){
                            // console.log(xhr.responseText);
                            // console.log(xhr.responseText.split('|'));
                            a =xhr.responseText.split('|');
                            // console.log(JSON.parse(a[0]));
                            // console.log(JSON.parse(a[1]));
                            thisVue.ordcloumns = JSON.parse(a[0]); //訂單細項
                            thisVue.ordprds = JSON.parse(a[1]);    //商品詳情

                            console.log(thisVue.ordcloumns[0].SHIPPING);
                            for(i in thisVue.ordcloumns){

                                if(thisVue.ordcloumns[i].SHIPPING == '1'){
                                    thisVue.ordcloumns[i].SHIPPING = "宅配";
                                }else if(thisVue.ordcloumns[i].SHIPPING == '2'){
                                    thisVue.ordcloumns[i].SHIPPING = "seven取貨";
                                }else if(thisVue.ordcloumns[i].SHIPPING == '3'){
                                    thisVue.ordcloumns[i].SHIPPING = "全家取貨";
                                };
                                // 沒有付款狀態了
                                // if(thisVue.ordcloumns[i].PAY_STATE == '0'){
                                //     thisVue.ordcloumns[i].PAY_STATE = "未付款";
                                // }else if(thisVue.ordcloumns[i].PAY_STATE == '1'){
                                //     thisVue.ordcloumns[i].PAY_STATE = "已付款";
                                // };
                                if(thisVue.ordcloumns[i].STATE == '0'){
                                    thisVue.ordcloumns[i].STATE = "未完成";
                                }else if(thisVue.ordcloumns[i].STATE == '1'){
                                    thisVue.ordcloumns[i].STATE = "已完成";
                                };
                                if(thisVue.ordcloumns[i].PARM == '-88'){
                                    thisVue.ordcloumns[i].PARM = "88";
                                }else if(thisVue.ordcloumns[i].PARM == '-99'){
                                    thisVue.ordcloumns[i].PARM = "99";
                                }else if(thisVue.ordcloumns[i].PARM == '-100'){
                                    thisVue.ordcloumns[i].PARM = "100";
                                };
                                
                            };
                        };
                        xhr.open("get", "phps/memberOrd.php", true);
                        xhr.send(null);  
                    },
                    getReserveInfo(){
                        let xhr = new XMLHttpRequest();
                        let thisVue = this;
                        xhr.onload = function(){
                            console.log(xhr.responseText);
                            thisVue.rescloumns = JSON.parse(xhr.responseText);
                            for(i in thisVue.rescloumns){
                                if(thisVue.rescloumns[i].STATE == '1'){
                                    thisVue.rescloumns[i].STATE = "已完成";
                                }else if(thisVue.rescloumns[i].STATE == '2'){
                                    thisVue.rescloumns[i].STATE = "已取消";
                                }else if(thisVue.rescloumns[i].STATE == '0'){
                                    thisVue.rescloumns[i].STATE = "未完成";
                                };
                                if(thisVue.rescloumns[i].SAO_TIME == '1'){
                                    thisVue.rescloumns[i].SAO_TIME = "上午";
                                }else if(thisVue.rescloumns[i].SAO_TIME == '2'){
                                    thisVue.rescloumns[i].SAO_TIME = "中午";
                                }else if(thisVue.rescloumns[i].SAO_TIME == '3'){
                                    thisVue.rescloumns[i].SAO_TIME = "晚上";
                                };
                            };
                        }
                        xhr.open("get", "phps/memberSao.php", true);
                        xhr.send(null);
                    },
                },
                mounted() {
                    this.getMemberInfo();
                    this.getOrderInfo();
                    this.getReserveInfo();
                },
            });
        </script>
<script src="js/member.js"></script>

<!-- 改變點擊右邊選單時的樣式 -->
<script>
    function changChick(target){
        $.each($(".changChick"), function() {
            $(this).removeClass("hovered");
        });
        $(target).addClass("hovered");
    }
</script>
<!-- <script>
    // 收件人詳細資訊  
    // $('body').on('click','.memberReceiverID', function(){
    //     recevier = $(this).parent().parent().next().next().next();
    //     recevier.fadeIn(500);
    //     // 不可滑動卷軸
    //     $('body').addClass('stopScroll');
    //     // 背景灰底
    //     $('body').append("<div class='greyBackground'></div>");
    // });
    // var libox = document.getElementById("meme_info")

    // var can = document.getElementById("box_cancel");

    // var out = document.getElementById("memberReceiverID");
    // out.onclick = function(){
    //     libox.style="display:block";
    // };

    // can.onclick = function(){
    //     libox.style="display:none";
    // }

    
</script> -->
</body>
</html>