<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 初始設定，請自行修改title，及添加js連結 -->
    @@include('layout/head.html')
    <title>服務預約</title>
    
    <!-- <link rel="stylesheet" href="css/cart.css"> -->
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/calendar.css">
    <script src="js/reserve.js"></script>
    <!-- <script src="js/calendar.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script> -->
     
</head>
<body>
    <!-- <header></header> -->
    @@include('layout/header.html')
    <div id="tabs" class="container">
        <!-- 進度條 -->
        <div class="progress">
            <a v-bind:class="[ activetab === '1' ? 'active' : '' ]" @click="clickHandler(1)">
                <img src="img/reserve_contract.png" alt=""> 
                預約表單
            </a>
            <a v-bind:class="[ activetab === '2' ? 'active' : '' ]" @click="clickHandler(2)">
                <img src="img/reserve_credit-card.png" alt="">
                訂金付款
            </a>
            <a v-bind:class="[ activetab === '3' ? 'active' : '' ]" @click="clickHandler(3)">
                <img src="img/reserve_receipt.png" alt="">
                預約明細
            </a>
        </div>

        <div class="content">
            <div v-show="activetab ==='1'" class="tabcontent">
                <!-- 預約表單 -->
                <form>
                    <!-- 選擇方案 -->
                    <h3>選擇方案</h3>
                    <div class="form_item choose_plan">
                        <div class="plan_li">
                            <li>
                                <input type="radio" v-model="plan" value="到府一對一教學" id="plan0" class="radio-input" hidden>
                                <label for="plan0" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>到府一對一教學</p>
                                </label>
                            </li>
                            <li>
                                <input type="radio" v-model="plan" value="空間整理收納" id="plan1" class="radio-input" hidden>
                                <label for="plan1" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>空間整理收納</p>
                                </label>
                            </li>
                            <li>
                                <input type="radio" v-model="plan" value="搬家前後物品上下架" id="plan2" class="radio-input" hidden>
                                <label for="plan2" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>搬家前後物品上下架</p>
                                </label>
                            </li>
                        </div>
                        <!-- 方案介紹 -->
                        <div class="plan_info" v-show="plan0_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#平日愛整理收納，想了解更多整理達人收納術。</p>
                                <p>#希望有整理師現場帶領和調整一個適合自己的整理方式。</p>
                                <p>#協助與室內設計師溝通適合的收納空間規劃。</p>
                                <h4>｜方案特色｜</h4>
                                <p>以一個範圍教學完流程後，可嘗試自行完成其他區域。</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price0}}元/hr</p>
                            </div>
                        </div>
                        <div class="plan_info" v-show="plan1_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#需要施作完整區域。</p>
                                <p>#需要專業整理收納師陪伴。</p>
                                <p>#有決心展開新的生活面貌。</p>
                                <p>#沒有時間、沒有耐心、不想動手。</p>
                                <h4>｜方案特色｜</h4>
                                <p>整理收納師全程專業引導與施作。客製化空間改造。</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price1}}元/hr</p>
                            </div>
                        </div>
                        <div class="plan_info" v-show="plan2_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#搬家前物品段捨離、打包裝箱。</p>
                                <p>#搬家後定位收納整理。</p>
                                <h4>｜方案特色｜</h4>
                                <p>建議客戶先行取捨，物品越多耗時越長!</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price2}}元/hr</p>
                            </div>
                        </div>
                    </div>

                    <!-- 選擇整理師 -->
                    <div class="form_item choose_emp">
                        <h3>選擇整理師</h3>
                        <div>
                            <select v-model="selectedEmp">
                                <option value="" disabled>請選擇</option>
                                <option v-for="emp in emps">{{emp}}</option>
                            </select>
                        </div>
                    </div>


                    <!-- 選擇日期 -->
                    <div class="form_item choose_date">
                        <h3>選擇日期
                           <span class="more_info">i
                            </span>
                        </h3>
                        
                        <div class="calendar_time">
                            <!-- 月曆 -->
                            <div id="calendari"></div>
                            <!-- 挑時段 -->
                            <div class="time_period">
                                <input type="radio" v-model="period" value="上午9-12點" id="period_1">
                                <label for="period_1">
                                    <div class="time_item">
                                        <p>上午<br>9-12點</p>
                                    </div>
                                </label>
                                <input type="radio" v-model="period" value="下午14-17點" id="period_2">
                                <label for="period_2">
                                    <div class="time_item">
                                        <p>下午<br>14-17點</p>
                                    </div>
                                </label>
                                <input type="radio" v-model="period" value="晚上18-21點" id="period_3">
                                <label for="period_3">
                                    <div class="time_item">
                                        <p>晚上<br>18-21點</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- 顯示挑選時間 -->
                        <div class="time_panel">
                            <div>
                                <p>｜預約日期</p>
                                <p id="selectedDate"></p>
                            </div>
                            <div>
                                <p>｜預約時段</p>
                                <p id="selectedPeriod">{{period}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- 姓名 -->
                    <div class="form_item input_name">
                        <h3>姓名</h3>
                        <input type="text" v-model.trim="name" placeholder="請輸入姓名" required>
                    </div>
                    <!-- 電話 -->
                    <div class="form_item input_tel">
                        <h3>電話</h3>
                        <input type="text" v-model="tel"  placeholder="請輸入電話" maxlength="10" required>
                    </div>
                    <!-- 地址 -->
                    <div class="form_item choose_add">
                        <h3>地址</h3>
                        <div> 
                            <select name="市" v-model="selectedCity" @change="changeCity">
                                <option value="" disabled>選擇縣市</option>
                                <option v-for="City in Citys">{{City}}</option>
                            </select>
                            <select name="區" v-model="selectedArea" @change="changeCity">
                                <option value="" disabled>選擇區域</option>
                                <option v-for="Area in Areas">{{Area}}</option>
                            </select>
                            <input type="text" placeholder="請輸入地址" required v-model.trim="address">
                        </div>
                    </div>
                    <!-- 需求 -->
                    <div class="form_item input_need">
                        <h3>需求</h3>
                        <textarea cols="50" rows="5" v-model="need"></textarea>
                    </div>
                    <!-- 上傳照片 -->
                    <div class="form_item upload_pics">
                        <p>
                            上傳照片讓我們了解您想改善的空間
                            <span>(最多上傳3張,僅支援格式 jpg /png)</span>
                        </p>
                        <div class="your_pics" id="your_pics">
                            <label for="upFile" class="file_label_rwd" id="file_label_rwd">
                                <img src="img/reserve_upload.png" alt="">
                            </label>
                            <div id="div_myimgs">
                                <!-- 這裡放照片 -->
                            </div>
                            <div id="div_upload">
                                <input type="file" name="upFile" id="upFile" style="display: none;" accept="image/jpeg, image/png"  multiple>
                                <label for="upFile">
                                    <img src="img/reserve_upload.png" alt="">
                                </label>
                            </div>
                        </div>
                    </div>
                
                    <div class="btn_div page1">
                        <p class="plan_price total">${{total}}</p>
                        <button v-on:click="activetab='2'" type="button">下一步</button>  
                    </div>  

                </form>
            </div>


            <div v-show="activetab ==='2'" class="tabcontent">
                <div class="details">
                    <div class="center"><h3>預約資訊</h3></div>
                    <div class="datails_info flex">
                        <table class="d_table">
                            <tr>
                                <td>姓名</td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td>電話</td>
                                <td>{{tel}}</td>
                            </tr>
                            <tr>
                                <td>地址</td><td>{{selectedCity}} {{selectedArea}} {{address}}</td>
                            </tr>
                            <tr>
                                <td>預約方案</td>
                                <td>{{plan}}</td>
                            </tr>
                            <tr>
                                <td>整理師</td>
                                <td>{{selectedEmp}}</td>
                            </tr>
                            <tr>
                                <td>預約日期</td>
                                <td id="showDate"></td>
                            </tr>
                            <tr>
                                <td>預約時段</td>
                                <td id="showPeriod">{{period}}</td>
                            </tr>
                            <tr v-show="need">
                                <td>需求</td>
                                <td>{{need}}</td>
                            </tr>
                            <tr>
                                <td>價格</td>
                                <td>{{total}}</td>
                            </tr>
                        </table>
                        <div class="d_pic center" id="d_pic">
                            <img id="d_pic_img" src="https://picsum.photos/300/200/?random=10">
                    
                        </div>
                    </div>
                </div>
                
                <div class="payment">
                    <div class="center"><h3>付款資訊</h3></div>
                    <div class="ccard flex">
                        <div class="c_pic center">
                            <img :src="ccard_src">
                        </div>
                        <div class="table_ccard">
                            <div class="flex">
                                <h4 class="left">信用卡卡號</h4>
                                <select name="信用卡" v-model="cCard" @change="change_src">
                                    <option value="Visa" id="visa">Visa</option>
                                    <option value="Mastercard" id="mastercard">Mastercard</option>
                                </select>
                                <input type="text" name="cardNumber" id="cardNum" v-model="credit_card"
                                @change="ValidateCreditCardNumber(credit_card)" maxlength="16" />
                            </div>
                            <div class="flex">
                                <h4 class="left">驗證碼</h4>
                                <input type="text" maxlength="3" size="9">
                                
                            </div>
                            <div class="flex">
                                <h4 class="left">信用卡到期日</h4>
                                <select name="年" v-model="selectedYear">
                                    <option v-for="year in years">{{year}}年</option>
                                </select>
                                <select name="月份"  v-model="selectedMonth">
                                    <option v-for="month in 12">{{month}}月</option>
                                </select>
                            </div>
                            <div class="flex">
                                <h4 class="left">付款金額</h4>
                                <p class="price">{{total}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_div between">
                    <button class="center" v-on:click="activetab='1'" type="button">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                        返回
                    </button>
                    <button class="center" v-on:click="activetab='3'" type="button"  id="submit">確認付款
                    <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
                        
                    </button>
                </div>
            </div>


            <div v-show="activetab ==='3'" class="tabcontent">
                <div class="details">
                    <div class="center"><h3>預約明細</h3></div>
                    <div class="datails_info flex">
                        <table class="d_table">
                            <tr>
                                <td>姓名</td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td>電話</td>
                                <td>{{tel}}</td>
                            </tr>
                            <tr>
                                <td>地址</td><td>{{selectedCity}} {{selectedArea}} {{address}}</td>
                            </tr>
                            <tr>
                                <td>預約方案</td>
                                <td>{{plan}}</td>
                            </tr>
                            <tr>
                                <td>整理師</td>
                                <td>{{selectedEmp}}</td>
                            </tr>
                            <tr>
                                <td>預約日期</td>
                                <td>{{dataDate}}</td>
                            </tr>
                            <tr>
                                <td>預約時段</td>
                                <td>{{dataTime}}</td>
                            </tr>
                            <tr v-show="need">
                                <td>需求</td>
                                <td>{{need}}</td>
                            </tr>
                            <tr>
                                <td>價格</td>
                                <td>{{total}}</td>
                            </tr>
                            <tr>
                                <td>信用卡種類</td>
                                <td>{{cCard}}</td>
                            </tr>
                            <tr>
                                <td>信用卡號碼</td>
                                <td>{{credit_card}}</td>
                            </tr>
                        </table>
                        <div class="d_pic center" id="d_pic">
                            <img id="d_pic_img" src="https://picsum.photos/300/200/?random=10">
                        </div>
                    </div>
                </div>
                        
                <div class="btn_div between" style="margin: 30px auto;">
                    <a href="mall.html">
                        <button class="center" type="button">
                            <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
                            前往商城
                        </button>
                    </a>
                    <a href="index.html"><button type="button">回到首頁</button></a>
                </div>
                
            </div>
            
        </div>

    </div>
<!-- <footer></footer> -->
@@include('layout/footer.html')  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>         
</body>

<script>
    function $id(id){
        return document.getElementById(id);
    }; 

    let vm = new Vue({
        el: '#tabs',
        data: {
            activetab: '1',
            credit_card: '',
            plan: '到府一對一教學',//預設
            name:'',
            price0: 800, // 方案0價格
            price1: 1000, // 方案1價格
            price2: 900, // 方案2價格
            emps: ["麻里不會","末牛子","潔癖子","由收easy安排"],
            selectedEmp: '',
            tel: '',
            Citys: ["台北市","新北市","基隆市","桃園市"],
            Areas: '',
            selectedArea: '',
            selectedCity: '',
            address: '',
            payment: '',
            years: [2022,2023,2024,2025,2026,2027,2028,2029,2030],
            period:'',
            need:'',
            cCard: 'Visa',
            selectedYear: '',
            selectedMonth: '',
            // myimg:'',
            dataTime: null,
            dataDate: null,
            ccard_src:'',
        },
        watch: {
            credit_card(nVal, oVal) {
                // console.log(nVal, oVal);
                // this.ValidateCreditCardNumber(nVal);
            },
        },
        // created() {
        //     // function createCalendar(){



        // var mesos = [
        //     'January',
        //     'February',
        //     'March',
        //     'April',
        //     'May',
        //     'June',
        //     'July',
        //     'August',
        //     'September',
        //     'October',
        //     'November',
        //     'December'
        // ];
        // var dies_abr = [
        //     '日',
        //     '一',
        //     '二',
        //     '三',
        //     '四',
        //     '五',
        //     '六'
        // ];

        // Number.prototype.pad = function(num) {
        //     var str = '';
        //     for(var i = 0; i < (num-this.toString().length); i++)
        //         str += '0';
        //     return str += this.toString();
        // }

        // function calendari(widget, data)
        // {
            
        //     var original = widget.getElementsByClassName('actiu')[0];
            
        //     if(typeof original === 'undefined')
        //     {
        //         original = document.createElement('table');
        //         original.setAttribute('data-actual',
        //                 data.getFullYear() + '/' +
        //                 data.getMonth().pad(2) + '/' +
        //                 data.getDate().pad(2))
        //         widget.appendChild(original);
        //     }

        //     var diff = data - new Date(original.getAttribute('data-actual'));

        //     diff = new Date(diff).getMonth();

        //     var e = document.createElement('table');

        //     e.className = diff  === 0 ? 'next_m' : 'last_m';
        //     e.innerHTML = '';

        //     widget.appendChild(e);

        //     e.setAttribute('data-actual',
        //                 data.getFullYear() + '/' +
        //                 data.getMonth().pad(2) + '/' +
        //                 data.getDate().pad(2))

        //     var fila = document.createElement('tr');
        //     var title = document.createElement('th');
        //     title.setAttribute('colspan', 7);

        //     var boto_prev = document.createElement('button');
        //     //左按鈕className
        //     boto_prev.className = 'boto-prev';
        //     //左按鈕圖案
        //     boto_prev.innerHTML = '◀';
        //     boto_prev.type = "button";

        //     var boto_next = document.createElement('button');
        //     //右按鈕className
        //     boto_next.className = 'boto-next';
        //     //右按鈕圖案
        //     boto_next.innerHTML = '▶';
        //     boto_next.type = "button";

        //     title.appendChild(boto_prev);
        //     title.appendChild(document.createElement('span')).innerHTML = 
        //         mesos[data.getMonth()] + '<span class="any">' + data.getFullYear() + '</span>';

        //     title.appendChild(boto_next);

        //     boto_prev.onclick = function() {
        //         data.setMonth(data.getMonth() - 1);
        //         calendari(widget, data);
        //     };

        //     boto_next.onclick = function() {
        //         data.setMonth(data.getMonth() + 1);
        //         calendari(widget, data);
        //     };

        //     fila.appendChild(title);
        //     e.appendChild(fila);

        //     fila = document.createElement('tr');

        //     for(var i = 1; i < 7; i++)
        //     {
        //         fila.innerHTML += '<th>' + dies_abr[i] + '</th>';
        //     }

        //     fila.innerHTML += '<th>' + dies_abr[0] + '</th>';
        //     e.appendChild(fila);

        //     /* Obtinc el dia que va acabar el mes anterior */
        //     var inici_mes =
        //         new Date(data.getFullYear(), data.getMonth(), -1).getDay();

        //     var actual = new Date(data.getFullYear(),
        //             data.getMonth(),
        //             -inici_mes);

        //     // console.log(inici_mes);
        //     // console.log(actual);

        //     // 生6列
        //     for(var s = 0; s < 6; s++){
        //         var fila = document.createElement('tr');

        //         // 生7行(禮拜一到日)
        //         for(var d = 1; d < 8; d++){
        //             // 生成td欄位、span放日期、div放時間段
        //             var td = document.createElement('td');
        //             var div_flex = document.createElement('div');
        //             var div_date = document.createElement('div');
        //             var span = document.createElement('span');
        //             var div = document.createElement('div');
        //             var morning = document.createElement('span');
        //             var afternoon = document.createElement('span');
        //             var night = document.createElement('span');
        //             // 增加input
        //             // var input = document.createElement('input');
        //             // input.type= "radio";
        //             // td.appendChild(input);

        //             td.appendChild(div_flex);
        //             // 加入span
        //             div_flex.appendChild(div_date);
        //             div_date.appendChild(span);
        //             // 加入div
        //             div_flex.appendChild(div);
        //             // div裡加入三個時間段
        //             div.appendChild(morning);
        //             div.appendChild(afternoon);
        //             div.appendChild(night);
                    
        //             // span裡面放入日期
        //             span.innerHTML = actual.getDate();

        //             // 早中晚加入文字
        //             morning.innerText = "早";
        //             afternoon.innerText = "中";
        //             night.innerText = "晚";

        //             // 隨機
        //             var arr = Math.round(Math.random());
        //             var re_index = 0;
        //             if (arr==1) {
        //                 morning.className = 'reserved';
        //                 re_index++;
        //             }
                    
        //             arr = Math.round(Math.random());
        //             if (arr==1) {
        //                 afternoon.className = 'reserved';
        //                 re_index++;
        //             }
                    
        //             arr = Math.round(Math.random());
        //             if (arr==1) {
        //                 night.className = 'reserved';
        //                 re_index++;
        //             }

        //             // fora=非此月
        //             if(actual.getMonth() !== data.getMonth() )
        //                 td.className = 'fora';
        //             // ------------------新增
        //             // if(actual.getDate()-2 <= data.getDate() && actual.getMonth() === data.getMonth())
        //             //     td.className = 'fora';

        //             // today=今天
        //             if(data.getDate() == actual.getDate() &&
        //             data.getMonth() == actual.getMonth())
        //             td.className = 'today';
                    
        //             // t_add3=今天後三天
        //             if(data.getDate() == actual.getDate()-3 &&
        //             data.getMonth() == actual.getMonth())
        //                 td.classList.add('t_add3');
                    
        //             // 三時段皆滿
        //             if(re_index == 3){
        //                 td.classList.add('full');
        //             }

        //             actual.setDate(actual.getDate()+1);
        //             fila.appendChild(td);

        //             // -----註冊點擊事件
                    
        //             let tds = document.querySelectorAll("#calendari td");
        //             for(let i=0; i<tds.length; i++){
        //                 if(tds[i].className.indexOf('fora') == -1 && tds[i].className.indexOf('today') == -1){
        //                     tds[i].onclick=function(){
        //                         // td加上被選到的效果
        //                         // console.log(i);
        //                         // 抓裡面的日期

        //                         // 顯示早中晚預約btn
                                
        //                     }  
        //                 }
                        
        //             }
        //         }

        //         e.appendChild(fila);
        //     }

        //     setTimeout(function() {
        //         e.className = 'actiu';
        //         original.className +=
        //         diff === 0 ? ' last_m' : ' next_m';
        //     }, 20);

        //     original.className = 'inactiu';

        //     setTimeout(function() {
        //         var inactius = document.getElementsByClassName('inactiu');
        //         for(var i = 0; i < inactius.length; i++)
        //             widget.removeChild(inactius[i]);
        //     }, 1000);

        // }

        // calendari(document.getElementById('calendari'), new Date());

        // // window.addEventListener('load',createCalendar);
        // },
        methods: {
            getData() {
                // 網頁版成功
                this.dataDate = document.getElementById('selectedDate').innerText;
                this.dataTime = document.getElementById('selectedPeriod').innerText
                console.log(window.innerWidth);
                // if (window.innerWidth>830){
                //     this.dataTime = document.getElementById('selectedPeriod').innerText
                // }else{
                //     this.dataTime = this.period
                // }
            },
            ValidateCreditCardNumber(num) {
                var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
                // console.log((visaRegEx.test(num))) // 驗證
                // console.log(cardNum);
                if (this.cCard === 'Visa') {
                    if (!(visaRegEx.test(num))) {
                        alert("信用卡資料有誤");
                        document.getElementById("cardNum").select();
                        return;
                    }
                } else {
                    if (!mastercardRegEx.test(num)) {
                        alert("信用卡資料有誤");
                    }
                }
            },
            changeCity(){
                    if(this.selectedCity === "台北市"){
                        return this.Areas = ["中正區","大同區","中山區","松山區","大安區","萬華區","信義區","士林區","北投區","內湖區","南港區","文山區"];
                    }else if(this.selectedCity === "新北市"){
                        return this.Areas = ["萬里區","金山區","板橋區","汐止區","深坑區","石碇區","瑞芳區","平溪區","雙溪區","貢寮區","新店區","坪林區","烏來區","永和區","中和區","土城區","三峽區","樹林區","鶯歌區","三重區","新莊區","泰山區","林口區","蘆洲區","五股區","八里區","淡水區","三芝區","石門區"];
                    }else if(this.selectedCity === "基隆市"){
                        return this.Areas = ["仁愛區","信義區","中正區","中山區","安樂區","暖暖區","七堵區"];
                    }else{
                        return this.Areas = ["中壢區","平鎮區","龍潭區","楊梅區","新屋區","觀音區","桃園區","龜山區","八德區","大溪區","復興區","大園區","蘆竹區"];
                    }
                },
            clickHandler(num) {
                if (num <= this.activetab) {
                    this.activetab = `${num}`
                }
            },
        },
        computed: {
            plan0_info() {
                if(this.plan === '到府一對一教學'){
                    return true
                }
            },
            plan1_info() {
                if(this.plan === '空間整理收納'){
                    return true
                }
            },
            plan2_info() {
                if(this.plan === '搬家前後物品上下架'){
                    return true
                }
            },
            emp_info() {
                return this.selectedEmp;           
            },
            total() {
                if(this.plan === '到府一對一教學'){
                    return this.price0*3
                }else if(this.plan === '空間整理收納'){
                    return this.price1*3
                }else if(this.plan === '搬家前後物品上下架'){
                    return this.price2*3
                }
            },
            change_src(){
                if(this.cCard === 'Visa'){
                    this.ccard_src='img/visa.gif'
                }else if(this.cCard === 'Mastercard'){
                    this.ccard_src='img/mstercard.gif'
                }
            }
        },
    });

</script>
<script src="js/calendar.js"></script>
</html>
