<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 初始設定，請自行修改title，及添加js連結 -->
    @@include('layout/head.html')
    <title>服務預約</title>
    
    <!-- <link rel="stylesheet" href="css/cart.css"> -->
    <link rel="stylesheet" href="css/reserve.css">
    <link rel="stylesheet" href="css/calendar.css">
    <script src="js/reserve.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
     
</head>
<body>
    <!-- <header></header> -->
    @@include('layout/header.html')
    <div id="tabs" class="container">
        <!-- 進度條 -->
        <div class="progress">
            <a v-bind:class="[ activetab === '1' ? 'active' : '' ]" @click="clickHandler(1)">
                <img src="img/reserve_contract.png" alt=""> 
                預約表單
            </a>
            <a v-bind:class="[ activetab === '2' ? 'active' : '' ]" @click="clickHandler(2)">
                <img src="img/reserve_credit-card.png" alt="">
                付款資訊
            </a>
            <a v-bind:class="[ activetab === '3' ? 'active' : '' ]" @click="clickHandler(3)">
                <img src="img/reserve_receipt.png" alt="">
                預約明細
            </a>
        </div>

        <div class="content">
            <div v-show="activetab ==='1'" class="tabcontent">
                <!-- 預約表單 -->
                <form>
                    <!-- 選擇方案 -->
                    <div>
                        <h3>選擇方案</h3>
                    </div>
                    <div class="form_item choose_plan">
                        <div class="plan_li">
                            <li>
                                <input type="radio" v-model="plan" value="到府一對一教學" id="plan0" class="radio-input" hidden>
                                <label for="plan0" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>到府一對一教學</p>
                                </label>
                            </li>
                            <li>
                                <input type="radio" v-model="plan" value="空間整理收納" id="plan1" class="radio-input" hidden>
                                <label for="plan1" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>空間整理收納</p>
                                </label>
                            </li>
                            <li>
                                <input type="radio" v-model="plan" value="搬家前後物品上下架" id="plan2" class="radio-input" hidden>
                                <label for="plan2" class="radio-label">
                                    <span class="radio-button"></span>
                                    <p>搬家前後物品上下架</p>
                                </label>
                            </li>
                        </div>
                        <!-- 方案介紹 -->
                        <div class="plan_info" v-show="plan0_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#平日愛整理收納，想了解更多整理達人收納術。</p>
                                <p>#希望有整理師現場帶領和調整一個適合自己的整理方式。</p>
                                <p>#協助與室內設計師溝通適合的收納空間規劃。</p>
                                <h4>｜方案特色｜</h4>
                                <p>以一個範圍教學完流程後，可嘗試自行完成其他區域。</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price0}}元/hr</p>
                            </div>
                        </div>
                        <div class="plan_info" v-show="plan1_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#需要施作完整區域。</p>
                                <p>#需要專業整理收納師陪伴。</p>
                                <p>#有決心展開新的生活面貌。</p>
                                <p>#沒有時間、沒有耐心、不想動手。</p>
                                <h4>｜方案特色｜</h4>
                                <p>整理收納師全程專業引導與施作。客製化空間改造。</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price1}}元/hr</p>
                            </div>
                        </div>
                        <div class="plan_info" v-show="plan2_info">
                            <div class="plan_txt">
                                <h4>｜適合對象｜</h4>
                                <p>#搬家前物品段捨離、打包裝箱。</p>
                                <p>#搬家後定位收納整理。</p>
                                <h4>｜方案特色｜</h4>
                                <p>建議客戶先行取捨，物品越多耗時越長!</p>
                                <h4>｜方案價格｜</h4>
                                <p class="plan_price">{{price2}}元/hr</p>
                            </div>
                        </div>
                    </div>

                    <!-- 選擇整理師 -->
                    <div class="form_item choose_emp">
                        <h3>選擇整理師</h3>
                        <div>
                            <select v-model="selectedEmp" @change="getInfo">
                                <option value="" disabled>請選擇</option>
                                <option v-for="emp in emps">{{emp}}</option>
                            </select>
                        </div>
                    </div>


                    <!-- 選擇日期 -->
                    <div class="form_item choose_date">
                        <h3>選擇日期
                           <span class="more_info">i
                            </span>
                        </h3>
                        
                        <div class="calendar_time">
                            <!-- 月曆 -->
                            <div id="calendari"></div>
                            <!-- 挑時段 -->
                            <div class="time_period">
                                <input type="radio" v-model="dataTime" value="上午9-12點" id="period_1">
                                <label class="label_period" for="period_1" data-period="1">
                                    <div class="time_item">
                                        <p>上午<br>9-12點</p>
                                    </div>
                                </label>
                                <input type="radio" v-model="dataTime" value="下午14-17點" id="period_2">
                                <label class="label_period" for="period_2" data-period="2">
                                    <div class="time_item">
                                        <p>下午<br>14-17點</p>
                                    </div>
                                </label>
                                <input type="radio" v-model="dataTime" value="晚上18-21點" id="period_3">
                                <label class="label_period" for="period_3" data-period="3">
                                    <div class="time_item">
                                        <p>晚上<br>18-21點</p>
                                    </div>
                                </label>
                            </div>
                            <!-- 顯示挑選時間 -->
                            <!-- <div class="time_panel" >
                                <div>
                                    <p>｜預約日期</p>
                                    <p id="selectedDate"></p>
                                </div>
                                <div>
                                    <p>｜預約時段</p>
                                    <p id="selectedPeriod">{{dataTime}}</p>
                                </div>
                            </div> -->
                        </div>
                        <!-- 顯示挑選時間 -->
                        <div class="time_panel">
                            <div>
                                <p>｜預約日期</p>
                                <p id="selectedDate"></p>
                            </div>
                            <div>
                                <p>｜預約時段</p>
                                <p id="selectedPeriod">{{dataTime}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <li>
                            <input type="checkbox" id="same_as_cus" value="true" class="radio-input" hidden @change="same_as_cus">
                            <label for="same_as_cus" class="radio-label pointer">
                                <span class="radio-button"></span>
                                <p class="in-b">同會員資料</p>
                            </label>
                        </li>
                    </div>
                    <!-- <input type="radio" name="same_as_cus">
                    <label for="same_as_cus">同會員資料</label> -->
                    <!-- 姓名 -->
                    <div class="form_item input_name">
                        <h3>姓名</h3>
                        <input type="text" v-model.trim="name" placeholder="請輸入姓名" required>
                    </div>
                    <!-- 電話 -->
                    <div class="form_item input_tel">
                        <h3>電話</h3>
                        <input type="text" v-model="tel"  placeholder="請輸入電話" maxlength="10" required>
                    </div>
                    <!-- 地址 -->
                    <div class="form_item choose_add">
                        <h3>地址</h3>
                        <div> 
                            <select name="市" v-model="selectedCity" @change="changeCity">
                                <option value="" disabled>選擇縣市</option>
                                <option v-for="City in Citys">{{City}}</option>
                            </select>
                            <select name="區" v-model="selectedArea" @change="changeCity">
                                <option value="" disabled>選擇區域</option>
                                <option v-for="Area in Areas">{{Area}}</option>
                            </select>
                            <input type="text" placeholder="請輸入地址" required v-model.trim="address">
                        </div>
                    </div>
                    <!-- 需求 -->
                    <div class="form_item input_need">
                        <h3>需求</h3>
                        <textarea cols="57" rows="5" v-model="need"></textarea>
                    </div>
                    <!-- 上傳照片 -->
                    <div class="form_item upload_pics">
                        <p>
                            上傳照片讓我們了解您想改善的空間
                            <span>(最多上傳3張,僅支援格式 jpg /png)</span>
                        </p>
                        <div class="your_pics" id="your_pics">
                            <!-- ----手機版 -->
                            <!-- <label for="upFile" class="file_label_rwd" id="file_label_rwd">
                                <img src="img/reserve_upload.png" alt="">
                            </label> -->

                            <div id="div_myimgs">
                                <!-- 這裡放照片 -->
                            </div>

                            <div class="flex" id="div_upload">
                                <input type="file" name="upFile1" id="upFile1" style="display: none;" accept="image/jpeg, image/png">
                                <label for="upFile1" id="upFile1_l">
                                    <img src="img/reserve_upload.png" alt="">
                                </label>
                                <input type="file" name="upFile2" id="upFile2" style="display: none;" accept="image/jpeg, image/png">
                                <label for="upFile2" id="upFile2_l">
                                    <img src="img/reserve_upload.png" alt="">
                                </label>
                                <input type="file" name="upFile3" id="upFile3" style="display: none;" accept="image/jpeg, image/png">
                                <label for="upFile3" id="upFile3_l">
                                    <img src="img/reserve_upload.png" alt="">
                                </label>
                            </div>
                        </div>
                    </div>
                
                    <div class="btn_div page1">
                        <p class="plan_price total">$ {{total}}</p>
                        <button class="next_btn" @click="nextHandler(1)" type="button">下一步</button>  
                    </div>
                    <!-- <button type="button" @click="sendForm">確認</button> -->

                </form>
            </div>


            <div v-show="activetab ==='2'" class="tabcontent">
                <div class="details">
                    <div class="center"><h3>預約資訊</h3></div>
                    <div class="datails_info flex">
                        <table class="d_table">
                            <tr>
                                <td>姓名</td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td>電話</td>
                                <td>{{tel}}</td>
                            </tr>
                            <tr>
                                <td>地址</td><td>{{selectedCity}} {{selectedArea}} {{address}}</td>
                            </tr>
                            <tr>
                                <td>預約方案</td>
                                <td>{{plan}}</td>
                            </tr>
                            <tr>
                                <td>整理師</td>
                                <td>{{selectedEmp}}</td>
                            </tr>
                            <tr>
                                <td>預約日期</td>
                                <td>{{dataDate}}</td>
                            </tr>
                            <tr>
                                <td>預約時段</td>
                                <td>{{dataTime}}</td>
                            </tr>
                            <tr v-show="need">
                                <td>需求</td>
                                <td>{{need}}</td>
                            </tr>
                            <tr>
                                <td>價格</td>
                                <td>{{total}}</td>
                            </tr>
                        </table>
                        <div class="d_pic center" id="d_pic">
                            <img id="d_pic_img">
                        </div>
                    </div>
                </div>
                
                <div class="payment">
                    <div class="center"><h3>付款資訊</h3></div>
                    <div class="ccard flex">
                        <div class="c_pic center">
                            <img :src="ccard_src">
                        </div>
                        <div class="table_ccard">
                            <div class="flex">
                                <h4 class="left">信用卡卡號</h4>
                                <select name="信用卡" v-model="cCard" @change="change_src">
                                    <option value="Visa" id="visa">Visa</option>
                                    <option value="Mastercard" id="mastercard">Mastercard</option>
                                </select>
                                <input type="text" name="cardNumber" id="cardNum" v-model="credit_card" maxlength="16" />
                            </div>
                            <div class="flex">
                                <h4 class="left">驗證碼</h4>
                                <input type="text" maxlength="3" size="9" v-model.number="test">
                            </div>
                            <div class="flex">
                                <h4 class="left">信用卡到期日</h4>
                                <select name="年" v-model="selectedYear">
                                    <option v-for="year in years">{{year}}年</option>
                                </select>
                                <select name="月份"  v-model="selectedMonth">
                                    <option v-for="month in 12">{{month}}月</option>
                                </select>
                            </div>
                            <div class="flex">
                                <h4 class="left">付款金額</h4>
                                <p class="price">{{total}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_div between">
                    <button class="center next_btn" v-on:click="activetab='1'" type="button">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                        返回
                    </button>
                    <button class="next_btn center" type="button" @click="nextHandler(2);sendForm"  id="submit">確認付款
                    <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
                        
                    </button>
                </div>
            </div>


            <div v-show="activetab ==='3'" class="tabcontent">
                <div class="details">
                    <div class="center"><h3>預約明細</h3></div>
                    <div class="datails_info flex">
                        <table class="d_table">
                            <tr>
                                <td>姓名</td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td>電話</td>
                                <td>{{tel}}</td>
                            </tr>
                            <tr>
                                <td>地址</td><td>{{selectedCity}} {{selectedArea}} {{address}}</td>
                            </tr>
                            <tr>
                                <td>預約方案</td>
                                <td>{{plan}}</td>
                            </tr>
                            <tr>
                                <td>整理師</td>
                                <td>{{selectedEmp}}</td>
                            </tr>
                            <tr>
                                <td>預約日期</td>
                                <td>{{dataDate}}</td>
                            </tr>
                            <tr>
                                <td>預約時段</td>
                                <td>{{dataTime}}</td>
                            </tr>
                            <tr v-show="need">
                                <td>需求</td>
                                <td>{{need}}</td>
                            </tr>
                            <tr>
                                <td>價格</td>
                                <td>{{total}}</td>
                            </tr>
                            <tr>
                                <td>信用卡種類</td>
                                <td>{{cCard}}</td>
                            </tr>
                            <tr>
                                <td>信用卡號碼</td>
                                <td>{{credit_card}}</td>
                            </tr>
                        </table>
                        <div class="d_pic center">
                            <img id="info_pic" src="https://picsum.photos/300/200/?random=10">
                        </div>
                    </div>
                </div>
                        
                <div class="btn_div between" style="margin: 30px auto;">
                    <a href="mall.html">
                        <button class="center" type="button">
                            <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
                            前往商城
                        </button>
                    </a>
                    <a href="index.html"><button type="button">回到首頁</button></a>
                </div>
                
            </div>
            
        </div>

    </div>
<!-- <footer></footer> -->
@@include('layout/footer.html')  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>         
</body>

<script>
    function $id(id){
        return document.getElementById(id);
    }; 

    let vm = new Vue({
        el: '#tabs',
        data: {
            activetab: '1',
            credit_card: '',
            plan: '到府一對一教學',//預設
            name:'',
            price0: 800, // 方案0價格
            price1: 1000, // 方案1價格
            price2: 900, // 方案2價格
            // emps: [{name:"麻里不會",no:1},{name:"末牛子",no:2},{name:"潔癖子",no:3}],
            emps:['麻里不會','末牛子','潔癖子','地球鈔人'],
            emp_no:'',
            selectedEmp: '',
            tel: '',
            Citys: ["台北市","新北市","基隆市","桃園市"],
            Areas: '',
            selectedArea: '',
            selectedCity: '',
            address: '',
            payment: '',
            years: [2022,2023,2024,2025,2026,2027,2028,2029,2030],
            // period:'',
            need:'',
            cCard: 'Visa',
            test:'', // 驗證碼
            selectedYear: '',
            selectedMonth: '',
            // myimg:'',
            dataDate: null,
            dataTime: null,
            ccard_src:'',
            infos:[],
            cusRow:[{CUS_NO: '', EMAIL: '', CUS_NAME: '', CUS_TEL: '',SEX:''}],
            sao_date:'',
            sao_time:'',
        },
        watch: {
            credit_card(nVal, oVal) {
                // console.log(nVal, oVal);
                // this.ValidateCreditCardNumber(nVal);
            },
        },
        methods: {
            getsao_time(){
                let thisVue = this;
                for(let i=0;i<3;i++){
                    $('.label_period')[i].onclick = function(){
                        console.log($('.label_period')[i].dataset.period)
                        thisVue.sao_time = $('.label_period')[i].dataset.period;
                    } 
                }
            },
            getData() {
                this.dataDate = document.getElementById('selectedDate').innerText;
            },
            ValidateCreditCardNumber(num) {
                var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
                var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
                // console.log((visaRegEx.test(num))) // 驗證
                // console.log(cardNum);
                if (this.cCard === 'Visa') {
                    if ( !(visaRegEx.test(num))) {
                        alert("信用卡資料有誤");
                        document.getElementById("cardNum").select();
                        return;
                    }
                } else if (this.cCard === 'Mastercard') {
                    if (!mastercardRegEx.test(num)) {
                        alert("信用卡資料有誤");
                        document.getElementById("cardNum").select();
                        return;
                    }
                }
            },
            // 控制第二頁到第三頁
            nextHandler(num) {
                // let credit_valid = this.ValidateCreditCardNumber(this.credit_card);
                if (num == 2) {
                    if (!this.credit_card || !this.selectedYear || !this.selectedMonth || !this.test)
                    alert("資料不完整");
                    else this.activetab = `${num + 1}`
                    // return;
                }else if(num == 1){
                    if (!this.selectedEmp || !this.dataDate || !this.dataTime || !this.name || !this.tel || !this.selectedCity || !this.selectedArea || !this.address)
                    alert("請填寫完整資訊");
                    else this.activetab = `${num + 1}`
                }
            },
            changeCity(){
                    if(this.selectedCity === "台北市"){
                        return this.Areas = ["中正區","大同區","中山區","松山區","大安區","萬華區","信義區","士林區","北投區","內湖區","南港區","文山區"];
                    }else if(this.selectedCity === "新北市"){
                        return this.Areas = ["萬里區","金山區","板橋區","汐止區","深坑區","石碇區","瑞芳區","平溪區","雙溪區","貢寮區","新店區","坪林區","烏來區","永和區","中和區","土城區","三峽區","樹林區","鶯歌區","三重區","新莊區","泰山區","林口區","蘆洲區","五股區","八里區","淡水區","三芝區","石門區"];
                    }else if(this.selectedCity === "基隆市"){
                        return this.Areas = ["仁愛區","信義區","中正區","中山區","安樂區","暖暖區","七堵區"];
                    }else{
                        return this.Areas = ["中壢區","平鎮區","龍潭區","楊梅區","新屋區","觀音區","桃園區","龜山區","八德區","大溪區","復興區","大園區","蘆竹區"];
                    }
                },
            clickHandler(num) {
                if (num <= this.activetab) {
                    this.activetab = `${num}`
                }
            },
            getInfo(){
                let tds = $("#calendari td");
                for(let i=0;i<tds.length;i++){
                    let dots = tds[i].childNodes[0].childNodes[1].childNodes; // 早中晚點點 陣列
                    dots[0].classList.remove('reserved');
                    dots[1].classList.remove('reserved');
                    dots[2].classList.remove('reserved');
                    tds[i].classList.remove('full');
                };
                let emp_name = this.selectedEmp;
                if(emp_name == "麻里不會"){
                    emp_no=1
                }else if(emp_name == "末牛子"){
                    emp_no=2
                }else if(emp_name == "潔癖子"){
                    emp_no=3
                }else if(emp_name == "地球鈔人"){
                    emp_no=6
                }
                
                let thisVue = this;
                $.ajax({
                    url: `phps/reserve.php`,
                    data: `data=${emp_no}`, 
                    type: 'GET', 
                    dataType: 'json', 
                    success(res){
                        thisVue.infos = res;
                        console.log(thisVue.cusRow);
                        // 清空
                        let tds = $("#calendari td");
                        $('.full_img').remove();
                        for(let i=0; i<thisVue.infos.length; i++){
                            // console.log(thisVue.infos[i].DAY_OFF); //不可預約日期
                            // console.log(thisVue.infos[i].SCH_TIME);//不可預約時段
                            for(let j=0; j<tds.length; j++){
                                // console.log(thisVue.infos[i].DAY_OFF); 
                                // 如果不可預約時間 = data-date 加入 reserved
                                if(thisVue.infos[i].DAY_OFF == tds[j].dataset.date){
                                    
                                    if(thisVue.infos[i].SCH_TIME==1){
                                        tds[j].childNodes[0].childNodes[1].childNodes[0].classList.add('reserved');
                                    }else if(thisVue.infos[i].SCH_TIME==2){
                                        tds[j].childNodes[0].childNodes[1].childNodes[1].classList.add('reserved');
                                    }else if(thisVue.infos[i].SCH_TIME==3){
                                        tds[j].childNodes[0].childNodes[1].childNodes[2].classList.add('reserved');
                                    }

                                }
                            }
                        }

                        for(let i=0;i<tds.length;i++){
                            let dots = tds[i].childNodes[0].childNodes[1].childNodes; // 早中晚點點 陣列

                            if(dots[0].classList.contains("reserved")==true && dots[1].classList.contains("reserved")==true && dots[2].classList.contains("reserved")==true){
                                let full_img = document.createElement('img');
                                full_img.className = "full_img"
                                full_img.src = "img/soeasy_full.png"
                                tds[i].classList.add('full');
                                tds[i].appendChild(full_img);
                            }
                        }


                    },
                    error(res){
                        console.log('error');
                        console.log(res);
                    },
                });
            },
            sendForm(){
                let thisVue = this;
                let emp_name = this.selectedEmp;
                if(emp_name=="麻里不會"){
                    emp_no=1
                }else if(emp_name=="末牛子"){
                    emp_no=2
                }else if(emp_name=="潔癖子"){
                    emp_no=3
                }
                let plan_name = this.plan;
                if(plan_name=="到府一對一教學"){
                    plan_no=1
                }else if(plan_name=="空間整理收納"){
                    plan_no=2
                }else if(plan_name=="搬家前後物品上下架"){
                    plan_no=3
                }
                // parseInt(this.dataDate)
                // -------------- FormData
                // let myForm = document.getElementById("myForm");
                let formData = new FormData();
                formData.append('emp_no', emp_no);
                formData.append('cus_no', thisVue.cusRow.CUS_NO);
                formData.append('plan_no',plan_no );
                formData.append('sao_name',thisVue.name );
                formData.append('sao_tel',thisVue.tel );
                formData.append('sao_date',thisVue.sao_date);
                formData.append('sao_time',thisVue.sao_time);
                formData.append('sao_add',thisVue.selectedCity+thisVue.selectedArea+thisVue.address);
                formData.append('needs',thisVue.need);
                formData.append('upload_pic1',upFile1.files[0]);
                formData.append('upload_pic2',upFile2.files[0]);
                formData.append('upload_pic3',upFile3.files[0]);
                // for (let i = 0; i < upFile.files.length; i++) {
                //     formData.append('file[]', fileList[i])
                // }
                let xhr = new XMLHttpRequest();
                xhr.onload = function(){
                    console.log(xhr.responseText);
                }
                
                xhr.open("post", "phps/sendForm.php", true);  
                xhr.send(formData);

                // ------------ajax
                // let datas={};
                // datas.tel = this.tel;
                // console.log(thisVue.cusRow.CUS_NO);
                // $.ajax({
                //     url: `phps/sendform.php`,
                //     data: {
                //     "emp_no":emp_no,
                //     "cus_no":thisVue.cusRow.CUS_NO,
                //     "plan_no":plan_no,
                //     "sao_name":thisVue.name,
                //     "sao_tel":thisVue.tel,
                //     "sao_date":thisVue.dataDate,
                //     "sao_time":thisVue.dataTime,
                //     // "upload_pic1":
                //     // "upload_pic2":
                //     // "upload_pic3":
                //     "needs":thisVue.need,
                //     },
                //     type: 'POST', 
                //     dataType: 'json', 
                //     success(res){
                //         // thisVue.infos = res; 
                //     },
                //     error(res){
                //         console.log('error');
                //         console.log(res);
                //     },
                // });
            },
            getMemberInfo(){
                let xhr = new XMLHttpRequest();
                let thisVue = this;
                xhr.onload = function(){
                    thisVue.cusRow = JSON.parse(xhr.responseText);
                    if (!thisVue.cusRow.EMAIL) {
                        alert("請先登入");
                        location.href="login.html";
                    }    
                }
                xhr.open("get", "phps/getMemberInfo.php", true);
                xhr.send(null);
            },
            same_as_cus(){
                if( $("#same_as_cus").prop('checked') == true){
                    // console.log("選到");
                    this.name = this.cusRow.CUS_NAME;
                    this.tel = this.cusRow.CUS_TEL;
                    this.selectedCity = this.cusRow.CUS_ADD.substring(0,3);
                    this.selectedArea = this.cusRow.CUS_ADD.substring(3,6);
                    this.address = this.cusRow.CUS_ADD.substring(6);
                    console.log(this.cusRow.CUS_ADD.substring(3,6));
                }else{
                    // console.log("沒選到");
                    this.name = "";
                    this.tel = "";
                    this.selectedCity = "";
                    this.selectedArea = "";
                    this.address = "";
                }

            }
        },
        computed: {
            plan0_info() {
                if(this.plan === '到府一對一教學'){
                    return true
                }
            },
            plan1_info() {
                if(this.plan === '空間整理收納'){
                    return true
                }
            },
            plan2_info() {
                if(this.plan === '搬家前後物品上下架'){
                    return true
                }
            },
            emp_info() {
                return this.selectedEmp;           
            },
            total() {
                if(this.plan === '到府一對一教學'){
                    return this.price0*3
                }else if(this.plan === '空間整理收納'){
                    return this.price1*3
                }else if(this.plan === '搬家前後物品上下架'){
                    return this.price2*3
                }
            },
            change_src(){
                if(this.cCard === 'Visa'){
                    this.ccard_src='img/visa.gif'
                }else if(this.cCard === 'Mastercard'){
                    this.ccard_src='img/mstercard.gif'
                }
            }
        },
        mounted() {
            this.getMemberInfo();
            this.getsao_time();
            this.same_as_cus();
            this.changeCity();
        },
    });

</script>
<script src="js/calendar.js"></script>
</html>
