// 按鈕css部分

/* 所有不同種類的按鈕區域(分開按鈕用) */
.link_btn_box, .submit_btn_box, .btn_btn_box, .link_ro_box, .link_ro_sl_box, .link_under_line_box, .link_bs_btn, .bs_btn_box{padding: 50px;}

/*電腦版&手機按鈕共用設定*/

/*input預設標籤樣式清除*/
input, button{
    border: none;
    appearance: none;
    -moz-appearance: none;
    // background-color: map-get($color , "border_bl" );
}
/*input標籤聚焦不出現預設邊框:*/
input:focus, button:focus{
    outline: none;
}


/*按鈕內容不換行，按鈕才不會被切斷*/
.link_btn{
    white-space: nowrap;
}

.link_btn, .btn_sub, .btn_btn{
    font-size: $font_size_btn;
}

/*input 和 button 須將被景色先設為白色*/
.btn_sub, .btn_btn{
    background-color: map-get($color , "bg" );
}


/* 一般a連結的按鈕樣式 */
.link_btn, .btn_sub, .btn_btn, .link_bs{
    padding: $btn_padding;
    border-radius: $border_radius_btn;
}

/* 圓形a連結的按鈕樣式 */
.link_ro{
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    padding: 10px;
    height: 150px;
    width: 150px;
    border-radius: $border_radius_btn_ro;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;
}

/*後台按鈕樣式 */
.link_bs{
    border-radius: 25px;
}
.link_bs.main{
    background-color: map-get($btn_color, "beige" );
}
.link_bs.main:focus{
    background-color: map-get($btn_color, "yellow" );
}

.link_bs.sb{
    background-color: map-get($btn_color, "plain_blue" );
}
.link_bs.sb:focus{
    background-color: map-get($btn_color, "deep_blue" );
}


/* 手機板按鈕 */
@media screen and (max-width:768px) {
    /* 一般a連結的按鈕樣式 */
    .link_btn, .btn_sub, .btn_btn{
        color: map-get($font_color , "white" );
    }
    .link_btn.bl, .btn_sub.bl, .btn_btn.bl{
        background-color: map-get($btn_color, "blue" );
        border: 1px solid map-get($btn_color, "blue" );
    }
    .link_btn.rd, .btn_sub.rd, .btn_btn.rd{
        background-color: map-get($btn_color, "red" );
        border: 1px solid map-get($btn_color, "red" );
    }
    .link_btn.br, .btn_sub.br, .btn_btn.br{
        background-color: map-get($btn_color, "brown" );
        border: 1px solid map-get($btn_color, "brown" );
    }

    /* 圓形a連結的按鈕樣式 */
    .link_ro{
        border: 2px solid;
        transform: rotate(-20deg);
    }
    .link_ro.bl{
        border-color: map-get($btn_color, "blue" );
        color: map-get($font_color , "blue" );
    }
    .link_ro.rd{
        border-color: map-get($btn_color, "red" );
        color: map-get($font_color , "red" );
    }
    .link_ro.br{
        border-color: map-get($btn_color, "brown" );
        color: map-get($font_color , "brown" );
    }
}

/* 電腦板按鈕 */
@media screen and (min-width:769px) {
/* 一般a連結的按鈕樣式 */
/* input 和 button的按鈕樣式 */
    .link_btn, .btn_sub, .btn_btn{
        border: 1px solid map-get($color, "border" );
        transition: 0.2s ease-in;
    }
    .link_btn:hover, .btn_sub:hover, .btn_btn:hover{
        border-color: transparent;
        color: map-get($font_color, "white" );
        box-shadow: $btn_box_shadow;
    }
    .link_btn.bl:hover, .btn_sub.bl:hover, .btn_btn.bl:hover{
        background-color: map-get($btn_color, "blue" );
    }
    .link_btn.rd:hover, .btn_sub.rd:hover, .btn_btn.rd:hover{
        background-color: map-get($btn_color, "red" );
    }
    .link_btn.br:hover, .btn_sub.br:hover, .btn_btn.br:hover{
        background-color: map-get($btn_color, "brown" );
    }
    
    /* 圓形a連結的按鈕樣式 */
    .link_ro{
        position: relative;
        border: 1px solid map-get($color , "border_black" );
        border-radius: $border_radius_btn_ro;
        overflow:hidden;
        transition: 0.2s ease-in-out;
    }
    .link_ro_w{
        position: relative;
    }
    .link_ro::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 8%;
        padding: 10px;
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        border-radius: 100px;
        transform-origin: center center;
        transition: .4s ease-in;
        box-sizing: border-box;
        opacity: 0;
    }
   .link_ro:hover{
        border-color: transparent;
        color: map-get($font_color, "white" );
    } 
    .link_ro.bl:hover::before{
        background-color: map-get($btn_color, "blue" );
        border-color: map-get($btn_color, "blue" );
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    .link_ro.rd:hover::before{
        background-color: map-get($btn_color, "red" );
        border-color: map-get($btn_color, "red" );
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    .link_ro.br:hover::before{
        background-color: map-get($btn_color, "brown" );
        border-color: map-get($btn_color, "brown" );
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    
    /* 20px底線連結(按鈕)樣式樣示，注意，此字級為: 20px，大小如有變動需再調整 */
    
    /* 底線連結的底線的父層*/
    .link_under_line_l{
        position: relative;
        padding: 0 20px;
        background: map-get($color , "bg_white" );
        z-index: 0;
    }
    .link_under_line_l:hover span::after{
        width: 100%;
    }
    .link_under_line_l:hover span::before{
        left: auto;
        right: 0;
        width: 0%;
    }
    /* 底線連結的底線使用絕對定位，父層為 .link_under_line_l*/
    .link_under_line_w::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 7px;
        bottom: -1px;
        background: map-get($color , "bg_white" );
        z-index: 3;
        transition: 0.2s ease-in;
    }
    .link_under_line_w::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0%;
        height: 7px;
        background: map-get($btn_color , "black" );
        z-index: 2;
        mix-blend-mode: difference;
        transition: 0.2s ease-in;
    }
}