// <div class="prd_card">
//     <img src="">
//     <div class="txt">
//         <p>收納架</p>
//         <div>
//             <p>NT $1,680</p>
//             <p>
//                 <a href="product.html" class="link_btn bl">購買</a>
//             </p>
//         </div>
//     </div>
// </div>

.prd_card{
    cursor: pointer;
    margin: 0 15px 20px;
    width: 220px;
    max-width: 200px;
    height: 400px;
    border: 1px solid map-get($color, 'sub_blue');
    border-radius: 10px;
    background-color: map-get($color, 'bg_white');
    position: relative;
    overflow: hidden;
    .reitemPrd{
        display: none;
    }
    img{
        height: 50%;
        margin-left: -20%;
    }
    .txt{
        padding: 20px;
        height: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        >a{
            text-align: center;
        }
        div{
            p{
                line-height: 2em;
            }
        }
        .buy_reitem{
            display: inline-block;
            text-align: center;
            padding: 5px 20px;
        }
    }
}