// <div class="prd_card">
//     <h3></h3>
//     <img src="">
//     <div class="txt">
//         <h3></h3>
//         <p></p>
//         <p></p>
//         <p></p>
//         <h3></h3>
//         <p></p>
//         <p>
//             <a href="" class="link_btn bl"></a>
//         </p>
//     </div>
// </div>
.prd_card{
    max-width: 500px;
    margin: auto;
    border: 1px solid map-get($color, 'sub_blue');
    border-radius: 10px;
    background-color: map-get($color, 'bg_white');
    position: relative;
    h3{
        padding: 15px 0 10px;
    }
    >h3{
        padding: 20px;
        color: #fff;
        position: absolute;
        top: 0;
        left: -5px;
        z-index: 1;
        &::after{
            content: '';
            width: 100%;
            height: 50px;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 0;
            border-radius: 0 30px 30px 0;
            transform: translate(0 ,-50%);
            background-color: map-get($color, 'main');
        }
    }
    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .txt{
        padding: 0 20px 20px;
        p{
            text-align: center;
            line-height: 1.5em;
        }
        a{
            display: inline-block;
            text-align: center;
            padding: 5px 20px;
        }
    }
}