// <div class="prd_card">
//     <img src="">
//     <div class="txt">
//         <p>收納架</p>
//         <div>
//             <p>NT $1,680</p>
//             <p>
//                 <a href="product.html" class="link_btn bl">購買</a>
//             </p>
//         </div>
//     </div>
// </div>

.prd_card{
    margin: 0 15px 20px;
    width: 220px;
    max-width: 500px;
    border: 1px solid map-get($color, 'sub_blue');
    border-radius: 10px;
    background-color: map-get($color, 'bg_white');
    position: relative;
    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .txt{
        padding: 20px;
        height: 180px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p{
            text-align: center;
        }
        div{
            p{
                line-height: 2em;
            }
        }
        a{
            display: inline-block;
            text-align: center;
            padding: 5px 20px;
        }
    }
}